[2018-03-01 22:11] mrocklin opened #1 "Hello, world!"
@jhamman @jedwards4b I've moved the job-queuing contents of the pangeo repository here.  Some questions:

1.  Are you comfortable losing commit history.  I've pointed to the origin commit in the first commit of this repo.  I've also mentioned you both in the history section of the README (which would eventually go to a docpage?)
2.  How would you like to license this?  I'm inclined to use the same

[2018-03-01 22:11] mrocklin commented on #1
Oh, and if anyone has a better name, that would be welcome.  I've copied over what was in the pangeo repository.

[2018-03-01 23:00] jakirkham opened #2 "CI for Schedulers"
Linking to @jhamman's [comment]( https://github.com/pangeo-data/pangeo/issues/85#issuecomment-360842913 ), one of the challenges here is setting up CI for Dask. There has been some already towards using SGE (particularly at dask-drmaa) for testing. Configuring other schedulers (e.g. SLURM, PBS, LSF, etc.) is possible, but can be a bit tricky. Docker helps with this, but it requires a fair bit of c

[2018-03-01 23:02] luizirber commented on #2
This repo has an example using SLURM: https://github.com/Snakemake-Profiles/slurm

[2018-03-01 23:09] mrocklin opened #3 "Add Grid Engine"
It might be valuable to extend this repository with a solution for Grid Engine.  My hope is that this is relatively easy for someone with modest grid engine experience.  Looking at the current solutions for [PBS](https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/pbs.py) or [SLURM](https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/slurm.py) might be helpful (they're abou

[2018-03-01 23:10] mrocklin opened #4 "Add LSF"
It might be valuable to extend this repository with a solution for LSF.  My hope is that this is relatively easy for someone with modest LSF experience.  Looking at the current solutions for [PBS](https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/pbs.py) or [SLURM](https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/slurm.py) might be helpful (they're about 100 lines, mos

[2018-03-01 23:10] mrocklin opened #5 "Compare and Contrast with Dask-DRMAA"
Both projects have evolved somewhat independently.  I imagine that each has logic that the other could use.

[2018-03-01 23:14] luizirber commented on #2
I can take a look for SLURM (can you assign this issue to me?)

[2018-03-01 23:16] mrocklin commented on #2
To be honest I rarely use github assignment.  It looks like this is difficult to do without having you as part of the organization (which is currently somewhat challenging).  We might have to go with informal assignment for the time being.

Regardless, thank you for stepping up!

[2018-03-01 23:23] jakirkham commented on #2
Grid Engine should basically be just copying over what dask-drmaa already has. Maybe that is the best place to start and then we can extend from there. Is Travis CI enabled here?

[2018-03-01 23:23] mrocklin commented on #2
Nope.  Nothing yet.

[2018-03-01 23:24] jakirkham commented on #2
Would you be willing to do that? I could copy over the testing code. Just don't think I have permissions to add CI is all.

[2018-03-01 23:29] mrocklin commented on #2
Do you know how I can give you that permission?

[2018-03-01 23:31] jakirkham commented on #2
Think I need to have admin on the repo as it requires the ability to add webhooks. Not sure if there is anything more granular. Honestly don't know if I'd need admin for anything else. Leave it up to you whether to grant it or not.

[2018-03-01 23:33] mrocklin commented on #2
OK, you have admin rights.  I guess the difference here is the owner/member of the org distinction?  Further reason to push on https://github.com/dask/dask/issues/3223

[2018-03-01 23:34] mrocklin commented on #2
@jhamman @jedwards4b you two also now have rights on this repository

[2018-03-01 23:37] jakirkham commented on #1
Thanks @mrocklin for doing this and everyone involved in writing and sharing the code. :)

Had been thinking recently that it would be nice if there was something to construct shim shell scripts for getting `dask-worker` jobs launched on schedulers and connected back to a Distributed Client. Was about to raise an issue over at Distributed where it may or may not have been appropriate. Happy to see

[2018-03-01 23:57] jakirkham commented on #2
Thanks.

Agree that we need to figure out org rights. Will try to make next meeting so we can discuss more.

Enabled Travis CI, but told it to skip until there is a `.travis.yml` file.

[2018-03-02 01:17] jhamman commented on #1
I don't have any problem using the dask license or loosing my commit history, remarkable as it was.

[2018-03-02 02:08] mrocklin commented on #2
You know, the funny thing is that if we got a testing system for GE then that might be enough motivation to implement an SGECluster here just to get the test coverage.  It's rare that one builds source to capture testing, but in this case the ratio of difficulty in writing testing code and source code is so great that it makes sense :)

Testament to @jedwards4b 's refactor of JobQueueCluster I gue

[2018-03-02 02:14] jhamman commented on #2
I have a fair bit of SGE experience, and a cluster that I could test this on apart from travis. I'd be happy to contribute the `SGECluster`. I'll open a separate issue.

[2018-03-02 02:15] jhamman commented on #3
I have a fair bit of SGE experience, and a cluster that I could test this on apart from travis. I'd be happy to contribute the SGECluster.

[2018-03-02 02:19] mrocklin commented on #2
Note that SGE was the model system for https://github.com/dask/dask-drmaa ,
the other library that is most like this repo.

Historically I worked on dask-drmaa a year or so ago.  Folks like
@jakirkham picked it up and have evolved it since then.  When I then
prototyped the PBSCluster for Pangeo I based it somewhat off of the design
of dask-drmaa.  As a result the two libraries have an interesting

[2018-03-02 02:19] mrocklin commented on #2
In particular, we have a docker-compose setup for SGE that works well on
travis-ci.  If I recall correctly this was designed by @quasiben

On Thu, Mar 1, 2018 at 9:19 PM, Matthew Rocklin <mrocklin@anaconda.com>
wrote:

[2018-03-02 08:46] guillaumeeb commented on #1
Hi everyone,

I 've followed Dask and Pangeo for a few months now, and I was wondering where to start to collaborate with you guys. I feel that this may be the right place for me, as it is the closer to my work environment (Dask on PBS cluster).

I will follow the issues opened here, but do not hesitate to cc me if you need some test on an alternative environment, and tell me if you think about a

[2018-03-02 10:57] bocklund opened #7 "Not setting `project` should not raise"
One suggestion I have is not to raise an exception unless there is exceptional behavior. In the case of not having a project set, not all systems require users to set a project, so we should not enforce that by raising IMO. This would also apply to #6

[2018-03-02 12:19] mrocklin commented on #7
If people are ok with this idea would you be interested in submitting a PR
to resolve this?

On Fri, Mar 2, 2018 at 5:57 AM, Brandon Bocklund <notifications@github.com>
wrote:

[2018-03-02 12:50] mrocklin commented on #1
Thanks @guillaumeeb !  I see three main directions of work short term:

1.  Build CI systems.  This requires some understanding of docker and docker-compose.  See #2
2.  Add new implementations for new job schedulers.  Given that you are most familiar with PBS and that PBS already exists this might not be a good fit.
3.  Proceed through the actions of a beginning user and try to use PBSCluster on

[2018-03-02 13:11] mrocklin opened #8 "Unified test suite"
After we figure out CI testing in #2 we might consider refactoring the test suite into a unified `TestCase` class for common functionality.

[2018-03-02 13:46] bocklund commented on #7
I'd be happy to help. distributed Clients running on MPI is a core use case for us over at [ESPEI](https://github.com/phasesresearchlab/espei)

[2018-03-02 14:31] jedwards4b commented on #1
I don't have any concerns with license or history - thanks for taking this.

[2018-03-02 14:53] jakirkham commented on #1
To finish up item 2, have put up PR ( https://github.com/dask/dask-jobqueue/pull/9 ), which just copies Dask's License file and sets the copyright year to 2018. Sounds like we are on agreement on that. Also includes some stuff to package the license and some misc packaging things. Requested reviews of the original code owners. Hope that is ok. :)

[2018-03-02 14:54] jakirkham commented on #4
Happy to give this a go. We use LSF at work. So this should be pretty useful.

[2018-03-02 14:58] jakirkham commented on #8
So are you wanting to use `unittest` or are you only thinking the organization structure of a class would be nice?

[2018-03-02 16:00] mrocklin commented on #8
No strong preference.  What do you think is best?  I would probably default to `unittest` just because that's what I've done before.  That's not a very good reason on it's own though :)

[2018-03-02 16:07] jakirkham commented on #8
Sure, using `unittest` is fine. Thought about `pytest` too. Though don't have any better arguments for it. :)

[2018-03-02 16:09] mrocklin commented on #8
Given that we will be using pytest we can probably at least avoid the
self.assertFoo methods :)

On Fri, Mar 2, 2018 at 11:07 AM, jakirkham <notifications@github.com> wrote:

[2018-03-03 01:39] jhamman commented on #7
I think we could take some time to rethink the specification of cluster specific configuration options (project included). I've not worked on two computers that use identical syntax for the batch script headers so this is something we're going to run into repeatedly.

[2018-03-04 07:42] guillaumeeb commented on #1
@mrocklin
I can begin with point 3. Do you foresee to add some beginner documentation on how to setup the module, or even more, on how to set up a dask python environment with job queue, to have the prerequisite to run the example in the Readme (I could write it, or can we point to some equivalent documentation)? Should we add some cluster scheduler specific documentation on how to check that the

[2018-03-04 12:06] mrocklin commented on #1
I would install dask: http://dask.pydata.org/en/latest/install.html

I would then pip install from this repository:

    pip install git+https://github.com/dask/dask-jobqueue

We don't have anything on PyPI or conda-forge yet.  Having basic documentation on RTD would be nice in the future.

Sure?

[2018-03-04 14:13] guillaumeeb commented on #1
Okay, had never installed a Python module from git before, no idea it was so simple ^^'.
For the documentation, shall we initialize a docs folder with basic files for Sphinx and Read The Docs integration?

Sorry for the basic questions I am (and will be) asking, beginner on Open source Development here.

[2018-03-04 14:32] guillaumeeb commented on #2
Can non member of the org see what's happening on travis-ci for any dask repository?
Shall we fork the repository if we want to test/check the CI build?

[2018-03-04 14:36] mrocklin commented on #2
Yes, those links are public https://travis-ci.org/dask/dask

On Sun, Mar 4, 2018 at 9:32 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-03-04 15:20] guillaumeeb commented on #2
How do you feel about using docker-hub provided images, such as https://hub.docker.com/r/pbspro/pbspro? Do we want to control the entire build cycle or not?
To go more into detail, this one depends on a build image with no Dockerfile provided (https://hub.docker.com/r/pbspro/pbsbase/), how do you feel about that too?

And lastly, I believe we want a minimaly representative test cluster, so with on

[2018-03-05 16:17] jhamman commented on #7
for the sake of argument, what if we changed the current cluster signature from:

[code]

to something more flexible like:

[code]

where the job script is created programmatically:

[code]

[2018-03-05 20:11] mrocklin commented on #7
I agree that this might provide a valuable escape hatch for unique cluster situations.  I am slightly concerned that people are no longer prompted with options like `wall_time=`, `threads_per_worker=` etc, that they might use if presented with the option.  I wonder if we can do a mix of explicit keywords alongside catch-all dictionary keywords.

[2018-03-05 21:51] guillaumeeb commented on #7
From my point of view, it would be better to keep explicit keyword at least for basic PBS or Dask options.
And as @mrocklin said, mixing it with dictionary keywords or lists as proposed by @jhamman  seems really good.
I would also suggest to explicitly tell wether this is PBS or Dask keyword, so something like that:

[code]
I feel that already proposed arguments are perfect, and the most used ones

[2018-03-05 22:08] guillaumeeb commented on #7
Hm, it just occured to me that every PBS options given was for the launch of only one worker... I know, I should have RTFM, at least better. But maybe it should be more transparent from the keywords name?
This does not change a lot from what I wrote above, maybe the resource_spec default value should be set (and a little lower that what is currently proposed), for example `select=1:ncpus=2:mem=10G

[2018-03-06 15:05] guillaumeeb commented on #1
So here are my first report on trying PBSCluster on our environment:
 * It works 👍, an it is really easy to use. Really good work, thanks!
 * I am concerned by the fact that there is no options for configuring the `--local-directory` of the dask-worker. We could use the `extra` configuration option, but I would prefer to have a named option, which is linked to #7 reflexion. In particular, our PBS

[2018-03-06 19:35] jhamman commented on #7
I'm also fine with a more fine grained approach (as mentioned by @guillaumeeb). The thing we really need here is the ability to construct the header programatically. That should allow us to drop the `JobQueueCluster._template` attribute all together. This is not something I'm likely to get to in the short term so if anyone else wants to take a swing at it, that would be great.

[2018-03-06 20:52] guillaumeeb commented on #7
So if I understand correctly, what you really want to avoid is to have fixed header options as it is now, and thus m=be more generic to cluster specific needs. So instead of using the `_template`, with a fine grained approach, the `PBSCluster.__init__` would look something like this:
[code]

And then we should modify the JobQueueCluster.job_script() function, to only modify the worker index in the

[2018-03-10 09:40] guillaumeeb commented on #7
@mrocklin @jhamman, if you confirm you expect something like thiw, I could work on this next week. It would probably has an effect on core class and every scheduler impl though.

[2018-03-10 20:32] jhamman commented on #7
@guillaumeeb - yes, your example above is more or less what I was thinking of. There are probably many ways to do this but I think you have the basic idea of what I was shooting for.

[2018-03-10 21:03] mrocklin commented on #7
I would like to avoid prefixes like `pds_*`.  These seem unnecessary given PBS in the name of the class.

[2018-03-10 21:26] guillaumeeb commented on #7
That's fine with me, I will work on a pull request on this basis. Thanks for the comments.

[2018-03-11 16:10] guillaumeeb commented on #7
Another point, as it seems a lot of code in PBSCluster or in SLURMCluster is duplicated and generic. What is your opinion about increasing the abstract class side of JobQueueCluster (which is already the case, but make it more so)? I would like to use the `JobQueueCluster.__init__` to put all the LocalCluster initialization and Dask worker command line construction in JobQueueCluster, but without

[2018-03-11 16:12] mrocklin commented on #7
No immediate objection from me.  I recommend making a PR with a proposal.

On Sun, Mar 11, 2018 at 12:10 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-03-11 16:23] guillaumeeb commented on #7
Do we want python 2 compatibility?
(Sorry for all my questioning).

[2018-03-11 16:25] mrocklin commented on #7
If we plan to drop Python two that's probably a larger discussion.  I
recommend that that be raised as a separate issue.

Short term I recommend supporting it so that you can make progress without
waiting on the larger decision.

On Sun, Mar 11, 2018 at 12:23 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-03-11 23:19] guillaumeeb opened #11 "Implement a cluster status method, to now if worker are really running"
Currently, we only know that we have submitted some jobs to a cluster scheduler. We don't know if these jobs are running or queued, or in any other state.

What do you think of implementing a kind of status method?

In the PBS case for example, it would issue a qstat call, and get the PBS scheduler status of every jobs handled by the Dask cluster.

Not sure if this is really needed, as we are able

[2018-03-11 23:28] guillaumeeb opened #12 "PBS resources spec and Dask resources keywords link"
I'm also wondering if we should have a tighter link between PBS resources spec and the dask processes/worker/memory options.

Basically, given select=x:ncpus=y:mem=z resource_spec from PBS:
* x should always be one, as we launch one dask-worker per node,
* y should be equal to dask nthreads * nprocesses, if I'm not mistaken,
* z should be equal to dask nprocesses * memory-limit, again correct me i

[2018-03-12 02:41] jhamman commented on #12
I agree with the constraints you've laid out here. My only concern is that we could end up being overly prescriptive. Not all PBS systems are configured the same and it is difficult to know where the line of consistency will be.

[2018-03-12 02:44] jhamman commented on #11
I think this would be useful when using an autoscaling cluster. Particularly when jobs are waiting in the queue and the adaptive cluster is trying to decide if it should scale up/down.

[2018-03-12 03:13] mrocklin commented on #11
I agree that understanding the status would be useful, especially for
things like adaptive scheduling.

On Sun, Mar 11, 2018 at 10:44 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-03-12 15:44] guillaumeeb commented on #12
I understand and share your concern. Maybe it is over engineering and not really pythonic to do this.
I was thinking about this also seeing the use of processes in the SLURMCluster class (which is maybe wrong, as I wrote about it here: #10 ).

Anyway, if we agree that resource_spec is always in the form of `select=x:ncpus=y:mem=z` (which for some old PBS/Torque version, it may not be the case?), m

[2018-03-12 23:33] guillaumeeb opened #14 "Reusing dask-jobqueue code for launching Apache Spark cluster"
Just an idea I had, and feel that it was better to ask here before doing anything.
I believe that the (great) work done here could be applied to Spark as well as Dask. This simple interface with Job Scheduler may be adapted for launching Spark cluster.

Question is, how do you feel about that? Is there some kind of license or property constraint?

[2018-03-20 21:04] bw4sz opened #15 "From what environment should I call SLURMCluster? Parsing Issue in sbatch?"
I am running on a university [cluster](https://www.rc.ufl.edu/services/hipergator/) with a SLURM submission scheduler. I installed conda and sourced the pangeo environment without error.

I git cloned this repo, opened python and tried

[code]
Where ewhite is the group tag (see below).

In previous submission scripts, I would typically start with something like

[code]
which works without a proble

[2018-03-20 21:13] jhamman opened #16 "expose Adaptive keyword arguments in adapt method"
Our current `adapt` method does not allow for any keyword arguments. It would be nice if we could pass in arguments like `minimum` and `maximum` to the `Adaptive` constructor with a usage like:

[code]

[2018-03-20 21:26] mrocklin commented on #16
This would be resolved by subclassing from the new `distributed.deploy.Cluster` superclass.

[2018-03-20 21:26] bw4sz commented on #15
If its useful, similar error [here](https://github.com/nextflow-io/nextflow/issues/218) was reported here, sbatch would not accept spaces. I'll trying to look around and see how/if this could be connected.

[2018-03-20 21:33] mrocklin commented on #15
Maybe we should be enclosing the executable in quotes since we can't
control the base_path ?

On Tue, Mar 20, 2018 at 5:26 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-20 22:12] bw4sz commented on #15
I'm still playing with it. Its not clear to me exactly where it is failing. I added a logger to see from sys out,

[code]

 but I never see the command called.

It yields

[code]

but its clear that core should first log the cmd, and that will give us a sense for the parsing.

[Line 79](https://github.com/dask/dask-jobqueue/blob/9dbdf4b60e074ce3d4cd7de75bc003063343320c/dask_jobqueue/core.py#L77)

[2018-03-20 22:47] mrocklin commented on #15
Can you try the solution in https://github.com/dask/dask-jobqueue/pull/18 ?

On Tue, Mar 20, 2018 at 6:12 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-20 23:12] bw4sz commented on #15
Same behavior.

[code]

Am I correct in assessing the problem as it adding a space, " ewhite"? I'll be back tomorrow morning.

[2018-03-21 12:24] mrocklin commented on #15
I don't know.  I don't personally have much experience here.  You might try creating a SLURM cluster, seeing the template that it produces, and then trying to use that template manually, making sufficient tweaks as necessary.  This might allow you to diagnose the problem with the dask-jobqueue project out of the pitcture..

[2018-03-21 13:51] bw4sz commented on #15
Understood, will report back today. I'm certain it's something minor.
Hopefully a PR soon.

On Wed, Mar 21, 2018, 05:24 Matthew Rocklin <notifications@github.com>
wrote:

[2018-03-22 03:20] bw4sz opened #20 "Dask client connects to SLURM workers, then rapidly loses them"
# Summary
When adding workers to a SLURM dask client, workers are added as resources are provisioned by the scheduler, but then they quickly disappear. Presumably they are killed by the client because a lack of connection (--death_timeout flag). Its not clear whether this is intended behavior. My goal is to add workers to a dask client, connect to that client from my local laptop using jupyter lab

[2018-03-22 10:24] guillaumeeb commented on #20
Given your logs, it looks like the worker are failing to start for some reason:
[code]

Not clear to me why. Could you provide the SLURMCluster generated job_script:
[code]

For the sake of log clarity, could you try to launch only one worker and give us the log output?

Those lines in the stack trace look weird to me:
[code]

[2018-03-22 12:06] mrocklin commented on #20
Clients don't kill workers themselves.  Nothing will kill them by default.

What is the output of the following:

[code]

[2018-03-22 12:33] mrocklin commented on #20
Yeah, I agree that these lines are concerning:

[code]

We've seen this very intermittently in our CI tests and I haven't yet been able to figure out how they occur.  As a test you might try setting the following in your `~/.dask/config.yaml` file

[code]

I would be quite interested to learn if that fixes the problem

[2018-03-22 12:40] mrocklin commented on #20
If you had time to test out https://github.com/dask/distributed/pull/1848 that would also be welcome.

It's hard for me to reproduce this error locally, which is one reason why it has lingered for a while.

[2018-03-22 14:17] bw4sz commented on #20
Okay, i'm up and will be working on this today. To summarize the above plans of action. I will add to this thread as I have answers to the following questions.

1. Give version info and job script

[code]

[code]

2. Run on a single worker (cluster.start_workers(1)) and report entire log file.
3. Fork dask/distributed and try PR #1848
4. Edit dask config file

[code]

[2018-03-22 16:49] bw4sz commented on #20
1. Version and job scripts.

1.21.3

Job script, with formatted line breaks.

[code]

[2018-03-22 16:50] mrocklin commented on #20
And to be clear, running that script breaks?

[2018-03-22 16:55] bw4sz commented on #20
Ya, posting now. Not sure best way to separate the thread. It breaks from within cluster.start_workers. I have not tried separately to push that slurm script.

This is the dask.err file for that one worker. Note that client has not been called.

[code]

[2018-03-22 17:01] mrocklin commented on #20
Another possibility here is that it's just taking your system a long time to start a new process.  Currently we restart the worker if we don't hear an initial hello from the forked worker process within five seconds.  On a normal system this should happen in well under a second.  I would not be very surprised though if systems with fancy file systems and OS's take far longer.

[2018-03-22 17:03] jakirkham commented on #20
Is that timeout customizable? If not, could we make customizable?

[2018-03-22 17:05] mrocklin commented on #20
No and Yes.  Ideally it also just wouldn't be necessary if we can find the root of the problem.

[2018-03-22 17:09] bw4sz commented on #20
One thing i'm noticing is that when you do call for one worker, I never seem to get connected to the client. But if I try two, I do get a connection, and then the dask.err file is different. I'm trying to separate this behavior from the death_timeout flag. If the client isn't responsible for killing the workers, what is the function of this arg?
[code]

 Example here of requesting two workers gets

[2018-03-22 17:13] bw4sz commented on #20
Maybe its something about how resources are allocated, but just driving home the point here. Exact same call as above, except just one worker, and I never get synced up to client.

[code]

[2018-03-22 17:13] mrocklin commented on #20
I see no reason why any worker would leave after it has connected.  I'm as surprised as you are.

Death timeout is used by the worker itself when it can't connect to the scheduler in time

[2018-03-22 17:21] bw4sz commented on #20
okay, next thing is to try that PR. What's the best way to do that? Fork the PR, clone on the cluster and replace

[code]
will that be sufficient?

[2018-03-22 17:26] mrocklin commented on #20
The easiest way is to pip install from a git branch

    pip install git+https://github.com/mrocklin/distributed@nanny-assert --upgrade

But I'll probably have a second PR for you to try shortly.

[2018-03-22 17:59] bw4sz commented on #20
Okay, reinstalled with a clean conda env. With this PR, requesting two workers does not sync up.

[code]

[code]
No change in the dask.err

I will try the 2nd pull request.

[2018-03-22 18:06] bw4sz commented on #20
dask/distributed#1852

causes workers to stay alive, but not connect to client.

[code]

Workers are still alive

[code]

[2018-03-22 18:08] mrocklin commented on #20
You'll want to wait a bit on dask.err, it's not done yet.

Or, if it is, then your system has trouble starting new processes

[2018-03-22 18:09] mrocklin commented on #20
This is the sort of question that you might want to ask of your IT staff.

You could probably avoid all of this just by adding the `--no-nanny` flag to the `dask-worker` command

[2018-03-22 18:09] mrocklin commented on #20
(not that that would resolve the underlying issue, but it might make you happier personally.)

[2018-03-22 18:43] mrocklin commented on #20
Note that the login nodes of many HPC systems disallow processes from forking or spawning new processes.

[2018-03-22 18:47] bw4sz commented on #20
Yes, sorry, edited above, was too jumpy with dask.err. I stepped away to chat with other HPC users at the university to see if anyone had leads. I am opening a ticket with IT to see if it has to do with the forking issue. If so, is this fatal? I was quite excited about dask. I never did change the .config environment, where can I find the .dask folder? In the miniconda site packages?

btw, no chan

[2018-03-22 18:48] bw4sz commented on #20
I am going to revert back to the stable dask, before the PR.

[2018-03-22 18:49] mrocklin commented on #20
Can you post the worker logs again?  So far it looks like the nanny is starting, but never the worker.

[2018-03-22 18:50] mrocklin commented on #20
To be clear, this is what a healthy log looks like.  You can run this on your personal computer:

### scheduler

[code]

### worker

[code]

[2018-03-22 19:00] bw4sz commented on #20
I seem to have lost the ability to even get workers added to the client. If you scroll up, you can see that the same code had processes added, which then died. Now its just 0. I went back and performed

[code]
to make sure I got rid of the two pull requests.

I agree with you on the error logs. They are just long lists of workers not starting.

[code]
I'm submiting IT ticket now.

[2018-03-22 19:03] mrocklin commented on #20
Yeah, your nanny processes are unable to start new worker processes.  You might consider adding the following line to `~/.dask/config.yaml` to see if it helps:

    multiprocessing-method spawn

This is in your home directory under the `.dask` directory.  But if you say "I'm having trouble forking processes to IT" then they should have an answer for you.  I would expect adding `--no-nanny` to the

[2018-03-22 19:14] bw4sz commented on #20
submitted the IT ticket. will report back.

Changing the .config file had no effect.

[code]
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.

[3, 5]

...     print(datetime.now().strftime("%a, %d %B %Y %I:%M:%S"))
...     print(client)
...     sleep(20)
...
Thu, 22 March 2018 03:07:27
<Client: scheduler='tcp://172.16.193.137:3

[2018-03-22 19:17] mrocklin commented on #20
It looks like you need to set the number of processes to one if you want to
avoid the nanny

On Thu, Mar 22, 2018 at 3:14 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-22 19:18] mrocklin commented on #20
The --nprocs flag within the dask-worker command, not on the dask-jobqueue
cluster object

On Thu, Mar 22, 2018 at 3:17 PM, Matthew Rocklin <mrocklin@anaconda.com>
wrote:

[2018-03-22 19:37] bw4sz commented on #20
Perhaps i've worn out my usefuless, but added no-nanny on one process is quite weird.

[code]

At the same time, if I open up a 2nd terminal and check on those workers. They exist, but no error is given.

[code]

I'm trying to get back to the place where atleast workers were added.

[2018-03-22 19:52] bw4sz commented on #20
okay last update until I hear from IT.

* Reinstalled conda environment.
* Recloned dask-jobqueue repo.
* Edited the file to remove the --queue flag (see PR).

Running 1 worker. Spawn multiprocessing. Added the process then died. Atleast farther along then above. Not clear to me what reinstalling did.

[code]

## Error log

[code]

[2018-03-22 21:11] guillaumeeb commented on #20
If it is a problem with the login nodes not allowed to start new process, one thing you could do if possible with slurm, is to launch your scheduler into an interactive job.

With pbs, this is done using qsub -I. Don't know with slurm.

[2018-03-22 21:17] bw4sz commented on #20
Yup, sorry to not mentioned. I am already there. I am sitting on an interactive node. Admin doesn't let you hang out too much on the login nodes.

[2018-03-23 16:20] bw4sz commented on #20
No word from IT. I woke up convinced that perhaps the workers didn't correctly inherent the dask environment. So i tried adding a call to the conda env from without the slurm worker. No change. Worker processes are added and then die about a minute later. Just documenting here to keep track of attempts.

[code]

# Error Log

[code]

[2018-03-23 18:19] bw4sz commented on #20
Update for future reference. No change.

The SLURM cluster distributes tasks based on the total number of requested resources, but does not respect where those tasks are placed unless specifically told. Since dask is working through a MPI connection, those 8 workers must be on the same rack? To do this, I edited the submission script to enforce that (n) --ntasks 8 are all performed on the same nod

[2018-03-23 18:23] mrocklin commented on #20
You might want to point your IT staff to these pages:

http://dask.pydata.org/en/latest/setup/cli.html
http://dask.pydata.org/en/latest/setup/hpc.html

On Fri, Mar 23, 2018 at 2:19 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-23 18:26] bw4sz commented on #20
Yup, waiting to hear back.

One thing i've been wondering. Where is the scheduler.json? In the docs it suggests that creating a client should create a ~/scheduler.json in the /home/$USER/scheduler.json location. I never seem to find such a file. The reason I was wondering is that when I set death_timeout to a long duration, I can go through the process to create the juypter lab notebook. I can ssh

[2018-03-23 18:32] mrocklin commented on #20
I don't know.  I wonder if someone with more experience with this library
like @jhamman can help out here.

On Fri, Mar 23, 2018 at 2:26 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-23 19:09] jhamman commented on #20
@bw4sz -

- we don't utilize the `scheduler.json` file in dask-jobqueue. Which docs were you looking at?

- MPI is not being used here. Each worker is started a seperate process and connects to the scheduler via TCP Address.

- can you try this workflow and see if you can get workers to connect:
  - open two interactive sessions on two different compute nodes on your cluster
  - on the first, run

[2018-03-23 19:15] bw4sz commented on #20
thanks @jhamman,

I should say that i'm not tied to this repo, whatever I can do to get dask up and running on the UF slurm cluster. We have enormous computing resources here, and my lab has been itching to try dask for some time now. I took on the challenge because, as you can see from the 30 comments, I enjoy debugging. Perhaps i'm mixing and matching docs a bit, going from @mrocklin screencast

[2018-03-23 19:26] bw4sz commented on #20
That worked without error. Easiest to see by screenshot.
![screen shot 2018-03-23 at 12 26 05 pm](https://user-images.githubusercontent.com/1208492/37849565-6b23df98-2e95-11e8-9812-272db1c5fd9d.png)

[2018-03-23 19:28] bw4sz commented on #20
Its alittle awkward because srun on this resource sends you to a single interactive worker, but I think this all checks out. Again, I want to stress that if not using dask_jobqueue is helpful, just give me a push in the direction of what to use. It was not clear to me that it was not using MPI, but a totally different network strategy.

[2018-03-23 19:35] jhamman commented on #20
Okay, glad to see that works. That is test 0. dask-jobqueue just manages the setup/teardown of those steps. So this should work.

The dask-mpi approach described in some detail [here](https://pangeo-data.github.io/pangeo/setup_guides/cheyenne.html) should also work but from my perspective the dask-jobqueue approach is much more flexible and user friendly.

The next thing to try is to start a `SLUR

[2018-03-23 19:49] bw4sz commented on #20
Confirm this is what you meant.

1. start a juypterlab notebook from the interactive HPC node

[code]

2. tunnel in from my local computer

[code]

3. Open Juypter notebook locally and start a SLURMCluster

[code]
4. Find the tcp address
[code]

5. Back on HPC node, get a worker to connect that tcp

[code]

6. Back on local machine, create the client.

[code]

That works

![screen shot 2018-03-23

[2018-03-23 20:17] jhamman commented on #20
Great. Can you incrementally add command line arguments until you figure out which ones are causing your workers to fail to start. My guess is that eventually, you'll find that one of these options is breaking things for you:

[code]

(this is copied from the `SLURMCluster._template`).

If running with all of these arguments works, there must be an environment difference that occurs when submittin

[2018-03-23 20:26] bw4sz commented on #20
Got it. I'm not shy. I'll give you updates. I hope this is helpful for future users.

Couple q's to start with.

2. I exported both port 8888 and 8787 for the dask status page. When I start the client from the local machine, within the notebook. localhost:8787 is not there. I can confirm that when I start the client on the terminal in the host using @mrocklin script

[code]
and then connect, I can

[2018-03-23 20:40] guillaumeeb opened #22 "Refactor SLURMCluster : use memory and thread kwargs, and dynamicaly create the job_script"
First, there is something weird with the SLURMCluster template : only processes are used as a limit, thread number are not taken into account. Moreover, there is no memory limit given.

Secondly, SLURMCluster will need to be updated to match the PBSCluster  improvements from #10 (once it is merge): Mainly a more dynamic construct of the submit script. This should prevent some problems as noted in

[2018-03-23 20:44] jhamman commented on #20
As far as starting a jupyter notebook, do this however you would typically do it on your cluster. Launching from an existing Client is one way but is also somewhat orthogonal to how we are doing things here. My typical workflow is:

- launch a notebook
- open an ssh tunnel to that notebook
- from within the notebook
  - start a Cluster -- I typically use the PBSCluster (e.g. `cluster = PBSClient(.

[2018-03-23 20:55] bw4sz commented on #20
agreed on workflow. I'm tweaking the memory and processors per worker to see if it makes a difference. Its a bit of a funny thing to debug because I can't tell how long to wait. Several times i've been deceived that I've solved the problem, but then workers die later. For example, I've been sitting here for 5 minutes, all workers are still there, for now!

<img width="562" alt="screen shot 2018-03

[2018-03-23 21:14] jhamman commented on #20
The dashboard may be a logical place to track this. @mrocklin may have other ideas too.

[2018-03-23 21:17] bw4sz commented on #20
Yup, it looks like it sticks for the moment! I think we have a success on **1 thread per worker**. Its not clear why, by @mrocklin was probably right yesterday on the spawning/forking. I'm going to play with this now and see if I can break it again to really understand it.

How will single thread on each process effect my performance? Its hard for me to conceptualize the tradeoff between the numbe

[2018-03-23 21:25] jhamman commented on #20
Is it possible Slurm is configured on your cluster in such a way that won't let you overload your requested resources. In other words, if you ask for 1 process on one node, and try to use two, would that fail?

Glad to hear you're starting to get things working.

[2018-03-23 21:29] mrocklin commented on #20
https://stackoverflow.com/questions/49406987/how-do-we-choose-nthreads-and-nprocs-per-worker-in-dask-distributed/49407253#49407253

On Fri, Mar 23, 2018 at 5:17 PM, Ben Weinstein <notifications@github.com>
wrote:

[2018-03-23 21:37] bw4sz commented on #20
Hmm, yes you are right, its something to this. Its **not** as simple as single threaded. **4 processes with 2 threads per worker** seems to work. 8 processes with 4 threads per work fails as described above.

I think that's good enough to call it close. Maybe IT will have an explanation for the balance among nodes/workers/threads/processes.  It might have been nice if admin has a more explicit mes

[2018-03-23 21:37] #20 closed

[2018-03-23 21:54] jhamman commented on #20
Cool. Glad you have this (mostly) sorted out. It would be great to get your continued interaction here. @guillaumeeb and I seem to be the most engaged users/developers at the moment and we're both mainly using `PBS`. The Slurm cluster will need some attention at some point soon (e.g. #19, #21).

[2018-03-23 21:55] guillaumeeb commented on #22
From the conversation in #20, for example in https://github.com/dask/dask-jobqueue/issues/20#issuecomment-375757041, I have some concern about the SLURM script used for submission.

Googling around, I believe we should at least use the following options:
[code]

Another solution maybe to play along with Slurm ntasks=<processes>, and tweak the dask-worker command line to only use nprocs=1.

Finaly

[2018-03-23 22:00] jhamman commented on #22
Also ping  @davidedelvento, @kmpaul, @jedwards4b as potentially interested user/developers.

[2018-03-23 22:03] bw4sz commented on #22
On our system at UF, Sbatch is preferred. Srun is really on interactive nodes for short periods of time. I believe after 24 hours all jobs are wiped away. Beyond that, we have not experienced a difference in environment.

[2018-03-23 22:08] guillaumeeb commented on #22
For the resources allocations, here are some useful links:
* https://slurm.schedmd.com/cpu_management.html#Example4 shows that with only using ntasks, reservation may span accross several nodes, as pointed out by @bw4sz.
* https://support.ceci-hpc.be/doc/_contents/QuickStart/SubmittingJobs/SlurmTutorial.html#shared-memory-example-openmp shows an example for OpenMP, which is quite close to what we

[2018-03-23 22:20] guillaumeeb commented on #14
ping @mrocklin as you probably are the most concerned about his.

[2018-03-23 22:29] jakirkham commented on #22
RE: Interactive vs. Batch Jobs

Would think that you would want to have an option to choose either one. Reason being interactive jobs can be good for a Distributed Adaptive Cluster (i.e. dynamic scaling based on demand) whereas batch jobs would be good when not using a Distributed Adaptive Cluster.

[2018-03-24 02:25] mrocklin commented on #14
No strong thoughts from me.  I don't think licenses come into it.  I think
that mostly the concern I would have would be one of maintenance, setting
up CI, handling user issues, etc..  However you and @jhamman seem to be
taking that on, so as long as you're promising to support this for the next
year or two I don't have any strong objection.

On Fri, Mar 23, 2018 at 6:20 PM, Guillaume EB <notifica

[2018-03-24 08:57] guillaumeeb commented on #14
Okay, that's perfect.

Just one point, I was thinking of just starting another repo somewhere else, as a Spark implementation of jobqueue system in dask/dask-jobqueue repo sounded weird to me. You would prefer to put it there?

[2018-03-24 12:51] mrocklin commented on #14
No preference from me

On Sat, Mar 24, 2018 at 4:57 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-03-27 13:40] #16 closed

[2018-03-27 15:41] guillaumeeb commented on #12
A kind of implementation of this has ben done in #10, only if resource_spec is not provided.

[2018-03-27 15:41] #12 closed

[2018-03-27 22:03] guillaumeeb opened #24 "PBSCluster is broken: 'PBSCluster' object has no attribute 'name'"
Probably my mistake in one of the commit on #10:
It seems that name attribute is not initialized in core.py, leading to:
[code]

And obviously, self.name is never initialized.

A PR is incoming for fixing this and other issues.
We should set up basic unit tests :)!

[2018-03-27 23:33] jhamman commented on #2
Ran across this dockerized slurm cluster today: https://github.com/giovtorres/slurm-docker-cluster

[2018-03-29 19:35] jhamman opened #26 "failure to autoscale unless workers are already present"
I am testing the PBSCluster along with autoscaling. It seems that I am unable to get the cluster to launch any workers without explicitly starting at least one worker. I would expect that this configuration would scale from 0 to 10 (180 processes) without further interaction/configuration.

[code]

@mrocklin - this may actually be a problem with the dask adaptive cluster but I wanted to discuss he

[2018-03-30 19:12] jhamman commented on #26
Here's what I'm seeing in some more detail:

[code]

Watching the PBS status, a single worker was launched but was quickly culled. After that no additional worker were launched, despite having set the `minimum` workers to 1.

A few things I don't understand here:

1. Why was the first job culled? It seems minimum was used to determine the initial number of workers but it was not respected when aut

[2018-03-30 19:18] mrocklin commented on #26
I don't know.  Maybe your last question has to do with this?

See logic in https://github.com/dask/distributed/blob/8acddcc017172e43f815be9cc5183593dd7f6b45/distributed/deploy/adaptive.py#L222-L248

It's a good question.  I'm not sure anyone has thought about this.  Perhaps this is the problem?

In general adaptive deployments are young and could use help both with experimentation and development.

[2018-04-02 02:47] jhamman commented on #26
Thanks @mrocklin - it seems like we could do a better job defining the terminology around grouped workers and maybe add a test or two to adaptive that targets this use case.

[2018-04-04 14:48] apatlpo opened #28 "dask dashboard not showing workers after cluster.stop_workers(cluster.jobs)"
On PBS with dask-jobqueue #25
If I start a cluster, kill workers with `cluster.stop_workers(cluster.jobs)`  and try to restart a new cluster, then workers do not show up in the dashboard.
Is it expected behavior?
Could we do something about this?

[2018-04-04 14:50] apatlpo commented on #28
I should also mention that the new set of worker seem to be working correctly

[2018-04-04 15:47] #15 closed

[2018-04-04 15:47] #22 closed

[2018-04-04 15:47] #24 closed

[2018-04-04 19:30] guillaumeeb commented on #28
@apatlpo can you describe precisely the commands you are launching? Are you using `cluster.restart()`?

If so, I imagine it is failing because we do not update worker launching command to point to the new scheduler address (scheduler port is probably changing on restart).

But you could achieve something similar by only launching `cluster.start_worker(n)` or `cluster.scale_up`.

[2018-04-04 19:34] mrocklin commented on #28
Unrelated note, but the scheduler port should not be affected during a
restart.  In general the cluster managers (like dask-jobqueue) shouldn't
have to care much about restart events, that should be handled well within
dask itself (hypothetically at least).

On Wed, Apr 4, 2018 at 3:30 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-04-04 19:57] guillaumeeb commented on #28
Obviously you are right @mrocklin. We'll wait for @apatlpo to clarify.

[2018-04-05 15:06] apatlpo commented on #28
I believe this was just noise on my part, deeply sorry.

It works fine today with:
[code]
and then:
[code]
Even `client.restart()` and `client.upload_file()` are working.

I have other issues (workers dying) but these will motivate other posts.

Sorry again

[2018-04-05 15:06] #28 closed

[2018-04-08 14:23] apatlpo opened #30 "Dask client connects to PBS workers, then rapidly loses them"
The title is intentionally analogous to #20 as I have the feeling the explanation for the observed behavior is similar.

I'm on a PBS cluster whose nodes are made of 2 cpus with 14 cores each.

I was initially calling:
[code]

This led to the creation of workers but they died after creation.

The following choice seems to fix the issue:
[code]

Here is a link that describes dask workers:
http://di

[2018-04-08 20:37] guillaumeeb commented on #30
The only difference I see between the two choices is that the second one will only spawn 2 linux processes where the first one tries to spawn 7. Could you ask your cluster admin if there is some limit on the number of spawned processes on the queue or the servers belonging to the queue you are using?

Another thing will be to try to launch worker manually and see what happens...

[2018-04-11 18:30] mrocklin opened #31 "Release"
I've been recommending this project to a few people recently and they've appreciated it.  It would be nice to make it easier to install.  Are there any blockers to putting this on PyPI?

[2018-04-11 20:50] guillaumeeb commented on #31
This seems currently in a stable state for PBS and SLURM, based on the last (few) comments we had.
Adaptive cluster seems to be broken (#26), but this is probably not a blocker.
Maybe we should wait to have the SGE implementation #27 merged?

[2018-04-11 21:16] jhamman commented on #31
I think we're mostly ready for a alpha release that can go on pypi. Let's wrap up #27 and then create a tag.

[2018-04-12 08:32] lesteve commented on #31
Just curious, does `pip install git+https://github.com/dask/dask-jobqueue` not qualify as easy to install?

[2018-04-12 16:40] mrocklin commented on #31
I find that the git+https:// syntax is often scary for novice users.

On the plus side, we got someone who was relatively new to Python (a few months) was up and running on a PBS cluster in about 20 minutes.

We also ran into issues with docrep on Python 2.  I didn't explore these much though.

[2018-04-12 20:33] guillaumeeb commented on #31
I totally agree on the scary side of installing directly from the master branch of a git repo, especially for non developers.

It would be interesting to raise some issue on the docrep problem, even if I believe we should push users to python 3.

[2018-04-12 20:34] mrocklin commented on #31
Yeah, I apologize for not having a good reproducer of that issue.  I
suggest that we ignore it for now until someone (maybe me) comes up with a
demonstration of it.

On Thu, Apr 12, 2018 at 3:33 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-04-12 21:00] #3 closed

[2018-04-14 09:56] jhamman commented on #31
I will create a tag/release on pypi later today.

[2018-04-14 15:59] jhamman commented on #31
closing per:

- https://github.com/dask/dask-jobqueue/releases/tag/0.1.0
- https://pypi.org/project/dask-jobqueue/
- #32, #33

[2018-04-14 15:59] #31 closed

[2018-04-14 19:01] jhamman commented on #1
I'm going to close this. There are a smattering of comments/issues that we may want to open specific issues for but this issue isn't the right place to work on those.

[2018-04-14 19:01] #1 closed

[2018-04-14 19:31] mrocklin commented on #31
Thank you for taking this on @jhamman !

On Sat, Apr 14, 2018 at 10:59 AM, Joe Hamman <notifications@github.com>
wrote:

[2018-04-16 05:37] lesteve commented on #31
Nice !

[2018-04-16 08:11] guillaumeeb commented on #2
I propose to close this issue by opening more specific ones, e.g. one for PBS and one for SLURM. We already have basic CI with unit tests and for SGE.
Are you OK with this?

[2018-04-16 08:11] guillaumeeb commented on #7
I believe this issue can be closed too?

[2018-04-16 11:53] #7 closed

[2018-04-16 14:37] apatlpo commented on #30
Here is the reply that I got from admins:

[code]

How can I described what type of processes jobqueue is spawning?

[2018-04-16 20:30] guillaumeeb commented on #30
I'm not really confident that this could be the issue, but here is what append:
* When starting with 2 processes, 14 threads, there will be 2 linux processes launched in your job, 2 processes running python, using up to 14 cpus with threads.
* With 7 processes: 7 independent linux processes, so things you could see using top or ps. There may potentially be a limit here.

The other thing is that th

[2018-04-17 09:21] lesteve opened #35 "Python 2: AttributeError: attribute '__doc__' of 'type' objects is not writable"
Maybe related to https://github.com/dask/dask-jobqueue/issues/31#issuecomment-380869544.

[code]

[code]

I haven't looked into it in more details, I would expect a Python 2 related bug in docrep.

[2018-04-17 09:38] lesteve commented on #35
Also my guess is that the reason we do not have the problem on CIs is because we always install python 3 in the docker images.

[2018-04-17 12:29] guillaumeeb commented on #35
Thanks for isolating this @lesteve. I believe your guess is right for CI. I'm trying to add a separate test for python 2.7 in #29.
Next work will be to solve this, will see if I have some time for that.

[2018-04-17 20:02] guillaumeeb opened #36 "pip install is not working"
I was doing some python 2 tests and tried to pip install dask-jobqueue with the recently released version. That did not work:

[code]

[2018-04-17 20:12] leej3 opened #37 "not working with python 2"
Having installed dask_jobqueue with:
`pip install git+https://github.com/dask/dask-jobqueue.git#egg=0.1.0`

I get the following error upon import:

[code]

[2018-04-17 20:15] guillaumeeb commented on #37
Same issue as #35!

I am working on it right now on #29.

[2018-04-17 20:19] leej3 commented on #37
apologies. forgot to check. Thanks

[2018-04-17 20:27] guillaumeeb commented on #37
No problem :)

[2018-04-17 20:38] guillaumeeb commented on #35
@lesteve, for the CI problem, you should maybe open an issue? As it is, we at least have to remove the useless python 2.7 and SGE test from the travis matrix. But we should probably be working on a different or customizable Docker environment.

[2018-04-18 06:12] lesteve commented on #37
Duplicate of #35.

[2018-04-18 06:12] #37 closed

[2018-04-18 06:13] lesteve commented on #37
pip install git+https://github.com/dask/dask-jobqueue.git#egg=0.1.0

Just FYI because 0.1 is a released version I believe you can just do `pip install dask-jobqueue`.

[2018-04-18 06:25] lesteve commented on #36
https://github.com/dask/dask-jobqueue/commit/cf1ade08f17141e2e7477bafa8b36e1c9758f7ce should fix it.

[2018-04-18 06:31] lesteve commented on #36
I guess we need to make a new release to close this issue. @jhamman would you have time to do it? It would probably take you less time than me since you did it very recently ...

Bonus points if you add the commands you use to do the release somewhere!

[2018-04-18 07:49] lesteve opened #38 "flake8 igore configuration"
I was wondering whether there is a good motivation for the flake8 ignore settings and whether people would be open to use the flake8 defaults instead, or maybe a smaller set of ignores instead.

I am aware this is a bit of a bikeshedding issue, but I think that this is better to discuss this when the project is young than later down the line.

I ran flake8 with the default settings and there are e

[2018-04-18 07:50] lesteve commented on #36
We may as well fix the python2 issue #35 before doing a new release while we are at it!

[2018-04-18 09:25] mrocklin commented on #38
No strong thoughts from me personally.

I think that style settings should be determined by people who tend to
maintain the project.  In this case that seems to be you @lesteve (along
with others like @jhamman and @jakirkham) so your preferences should
probably determine what this project does in regards to style.

Changing style in dask/dask or dask/distributed is also doable but will
likely requ

[2018-04-18 09:34] lesteve commented on #35
FYI I opened this [docrep issue](https://github.com/Chilipp/docrep/issues/6).

[2018-04-18 13:06] lesteve commented on #35
OK my bad as often I probably forgot to search in the existing closed issues ...

[2018-04-18 17:45] lesteve commented on #38
Just for completeness, I did not really have this in mind for now. The main reason I looked at other dask-related projects to gauge whether they was some commonly agreed flake8 setup.

[2018-04-18 22:45] mrocklin commented on #38
It might be a good thing to have, but currently no formal standard exists.

On Wed, Apr 18, 2018 at 1:45 PM, Loïc Estève <notifications@github.com>
wrote:

[2018-04-19 04:12] #36 closed

[2018-04-19 05:29] lesteve commented on #38
Just for clarity sake, I have no major annoyances with the default flake8 ignore settings, does someone have any @jhamman @jakirkham @mrocklin ?

[2018-04-19 07:32] jhamman commented on #38
I do not have strong feelings on this one. If I had to choose, I would probably mirror the settings in `distributed`.

[2018-04-20 13:18] mrocklin opened #40 "Documentation feedback"
Here are a few high level thoughts on the current documentation:

Looking at the main example on the main page I'm curious if it is realistic:

[code]

Should we include project, queue, resource specs, and other keywords that might both be necessary for realistic use and also recognizable to users of that kind of system?  Similarly I think it would be very useful to include a few real-world exampl

[2018-04-20 13:29] mrocklin commented on #40
Socialized the examples documentation on https://github.com/pangeo-data/pangeo/issues/218

[2018-04-20 15:08] lesteve commented on #40
All your suggestion makes sense, thanks for starting this!

[2018-04-20 19:12] guillaumeeb commented on #40
I agree with all the suggestions.

The main example in the main page is realistic to me (I probably updated it according to my use :smiley:  ). We've got a default routing queue on my PBS cluster, project option is not mandatory, and I like automatically computed resource_specs (and once again I'm biased :grin: ).
But I fully agree that this is not the case for everyone! There is a more detailed e

[2018-04-20 19:51] guillaumeeb opened #41 "CI for PBSPro using Docker"
This issue is derived from #2. The goal is to add some CI configuration for testing PBSCluster on a toy dockerized cluster. See work done in #23 and #27 for SGE.

Some useful comments:
https://github.com/dask/dask-jobqueue/issues/2#issue-301592217

https://github.com/dask/dask-jobqueue/issues/2#issuecomment-370237199

[2018-04-20 19:53] guillaumeeb commented on #41
I'm still up for this one, but I've not really worked on it so far. Hopefully in the next few weeks, but if someone has more bandwidth and is willing to try, that's fine with me.

[2018-04-20 19:55] guillaumeeb opened #42 "CI for SLURM using Docker"
This issue is derived from #2. The goal is to add some CI configuration for testing SLURM on a toy dockerized cluster. See work done in #23 and #27 for SGE.

Some useful comments:
https://github.com/dask/dask-jobqueue/issues/2#issue-301592217
https://github.com/dask/dask-jobqueue/issues/2#issuecomment-369761765
https://github.com/dask/dask-jobqueue/issues/2#issuecomment-376709540

[2018-04-20 19:58] guillaumeeb commented on #2
I think this issue can be closed with ##23, #27, #41 and #42.

[2018-04-20 20:38] guillaumeeb opened #43 "CI build for SGE is randomly failing"
The test_basic function is failing quite often.
@lesteve, as discussed in several pull request, maybe just increasing the timeout here would to the trick :
https://github.com/dask/dask-jobqueue/blob/74b3f45a7272e938c7b075f08c7de96fe6369caa/dask_jobqueue/tests/test_sge.py#L31

But you may also want to dig deeper...

[2018-04-20 20:45] guillaumeeb commented on #43
stderr logs are weird though: https://travis-ci.org/dask/dask-jobqueue/jobs/369291237#L3089

[2018-04-20 21:26] #2 closed

[2018-04-21 14:07] sdtaylor opened #44 "stop_workers() not working with SLURMCluster"
stop workers is not working for me on a SLURM cluster. Looking at the SLURM status I can still see the jobs running, and they are still available in the scheduler after running stop_workers, even after a few minutes.

[code]

I'm pretty sure it's because `stop_workers` is calling `self.cancel_command` (set to `scancel` for SLURM) and expecting to use the slurm job id, which is saved here:

[code]

[2018-04-21 19:50] jhamman commented on #44
Thanks for the report. We probably need a method on each cluster that handles decoding the job id from the submit call.

[2018-04-21 20:00] guillaumeeb commented on #44
Yes we're not really generic here, it seems very PBS oriented :slightly_smiling_face: ...
Looking at the code, I think we could probably also improve error handling.

In the case of SLURM output, maybe we could use the following option with the sbatch command (see https://slurm.schedmd.com/sbatch.html):
[code]

Using `sbatch --parsable` as a submit_command might be enough if it works as expected.

[2018-04-23 13:14] lesteve commented on #42
About @jhamman's comment https://github.com/dask/dask-jobqueue/issues/2#issuecomment-376709540

For the record, I was able to create a SLURM cluster from this github repo (I needed just minor tweaks IIRC). I haven't looked at installing the dask-related dependencies that we will need to set up our CIs.

[2018-04-23 16:02] lesteve commented on #35
This was closed by #39.

[2018-04-23 16:02] #35 closed

[2018-04-23 23:15] jhamman commented on #40
I provided this on the dask documentation issue but I'll paste it here as well:

[code]

This is what I've been using on NCAR's HPC system Cheyenne.

[2018-04-24 14:03] #44 closed

[2018-04-26 17:48] jhamman opened #46 "Document steps to release dask-jobqueue"
I have just made the 0.1.1 release of dask-jobqueue. These are the steps I took:

- checkout dask/dask-jobqueeue master, for me this was: `git checkout upstream/master`
- create a tag: `git tag -a 0.1.1 -m '0.1.1'`
- push the tag to github: `git push --tags upstream`
- build the wheels/dist for pypi: `python setup.py bdist_wheel sdist`
- upload the release to pypi: `twine upload dist/dask*0.1.1*`

[2018-04-26 22:24] mrocklin commented on #46
For reference here is my approach with some other dask sub-projects:
https://github.com/dask/dask/blob/master/docs/release-procedure.md

On Thu, Apr 26, 2018 at 1:48 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-04-27 20:40] jhamman commented on #26
@mrocklin -

Do you think there is existing test coverage for this code path within distributed? If not, would you be open to me adding some there? I could add it here as well but this doesn't seem like the appropriate place.

[2018-04-28 06:02] mrocklin commented on #26
Adding tests there would be welcome

On Fri, Apr 27, 2018 at 4:40 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-05-01 10:13] mrocklin commented on #26
I think that you want
distributed/tests/test_scheduler.py::test_workers_to_close_grouped or more
generally the key= argument in workers_to_close, which gets passed in
through retire_workers

On Tue, May 1, 2018 at 12:24 AM, Joe Hamman <notifications@github.com>
wrote:

[2018-05-01 16:06] jakirkham opened #49 "Learning from ipyparallel"
[ipyparallel]( https://github.com/ipython/ipyparallel ) (formerly part of the Jupyter Notebook) provides similar functionality to dask distributed and dask-jobqueue in that it allows users to startup a cluster and submit work to it. The model of the ipyparallel is a bit different from that of dask distributed, but that doesn't really concern us here.

What is interesting is ipyparallel has a trove

[2018-05-01 16:10] mrocklin commented on #49
It's a good point.

Also, just for fun, but ipyparallel is also a reasonable way to deploy dask
itself:
http://ipyparallel.readthedocs.io/en/latest/api/ipyparallel.html#ipyparallel.Client.become_dask

On Tue, May 1, 2018 at 12:06 PM, jakirkham <notifications@github.com> wrote:

[2018-05-02 18:52] jhamman commented on #11
Is the following approach a dependable way of querying the cluster for the number of workers?

[code]

[2018-05-02 18:59] mrocklin commented on #11
I believe that cluster.workers is only a convention at this point.  It's managed by the cluster object and so represents workers that have been asked for, but not workers that have connected.  For the latter you would want the following:

[code]

[2018-05-02 23:26] jhamman commented on #49
Thanks for sharing. I had a quick skim. There are some remarkable similarities between the two projects, particularly on the level of abstraction between different scheduling systems. May be worth using this as a starting point when developing the LSF cluster (#4).

[2018-05-03 22:14] jhamman commented on #40
Looking at the most recent build of the docs, we could probably cleanup the docstrings a bit for the API docs:

![jobq](https://user-images.githubusercontent.com/2443309/39605305-b8f29574-4ee4-11e8-8d64-448d75050686.png)

I'd like to see us cleanup a few things:

- figure out how to drop the `__init__` method from the abstract job queue class
- fill in docstrings for job_script, scale_down, scale_

[2018-05-03 23:03] jhamman commented on #40
Actually, everything could be done here and was fairly straightforward: https://github.com/dask/dask-jobqueue/commit/f7b14fe91ea0984f31dcd02301ce71a7477b3984

[2018-05-04 14:57] jakirkham opened #52 "Pooling Docker test images"
As dask-drmaa and dask-jobqueue are both making use of Docker images for testing against job schedulers, wondering if we can pool these Docker files somewhere. Also might be good to build these in advance and host them on Docker Hub or Quay so that we can just pull them down for testing on CIs instead of rebuilding them from scratch each time.

[2018-05-04 19:46] guillaumeeb commented on #52
For the PBS part, I'm trying talk with PBSPro organization to make them improve their images, so that we can depend on it, see http://community.pbspro.org/t/pbs-public-docker-image-improvement/887 discussion.

More generally, do we have some namespace in dockerhub where to put these images, or do we want to host them in user namespaces?

[2018-05-04 19:47] mrocklin commented on #52
There is a daskdev namespace on dockerhub

On Fri, May 4, 2018 at 3:46 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-05-04 19:47] mrocklin commented on #52
I'd be happy to hand out credentials for that if people like

On Fri, May 4, 2018 at 3:47 PM, Matthew Rocklin <mrocklin@anaconda.com>
wrote:

[2018-05-04 19:57] guillaumeeb commented on #49
Wow, big source file! Scary at first, but a lot of information in there, probably worth taking a second look.

Thanks for sharing.

[2018-05-04 20:36] guillaumeeb commented on #42
The link from @jhamman is working great!

Should we duplicate this work, or try to depend on it?
The first would be brute force but probably more straight forward, as we could easily modify images to add our dependencies (e.g. Dask and python), and the compose to mount our project.
A cleaner way is to depend on it, or on the associated dockerhub image: https://hub.docker.com/r/giovtorres/docker-ce

[2018-05-06 14:34] mrocklin opened #53 "Difficulty running tests locally"
Has anyone run into this before?  Something must be incorrect in my environment.  Recommendations welcome.

[code]

[2018-05-07 15:30] jhamman commented on #42
Following concepts in #52, I think using the centos image would be ideal.

[2018-05-07 17:12] mrocklin commented on #53
I needed to rebuild things without my cache.

[2018-05-07 17:12] #53 closed

[2018-05-08 00:28] mrocklin opened #55 "Change naming conventions for cores and memory"
Currently cluster objects in this project take in keywords like the following:

[code]

Where threads means threads-per-process and memory means memory-per-process.

However, I suspect that changing the meaning of these terms to the following might be more intuitive for users and administrators:

[code]

This would be a breaking change, but given how small and well connected the current user base

[2018-05-08 12:27] AdamWlodarczyk opened #56 "SLURMCluster - stoping workers"
Hi guys,
I am trying to stop workers within my SLURMCluster. As I understand to stop all workers I can pass to the method `stop_workers` dictionary of workers, i.e. `jobs`. Then the SLURM command `scancel <job_id>` is executed and finally dictionary `jobs` is cleared.
However it is not working as expected because value of mentioned dictionary is an output from  `sbatch` commands and in the end `jo

[2018-05-08 12:51] AdamWlodarczyk commented on #56
Edit: Yes, I am. Same problem was reported in #44 and it was fixed (I had to upgrade package).
Sorry.

[2018-05-08 12:51] #56 closed

[2018-05-08 19:38] guillaumeeb commented on #55
I share your concern: I also feel that keywords are not really intuitive at first.

However I felt this first when starting a Dask cluster without dask-jobqueue, just using custom scripts launching dask-worker command, particularly with the following options you are mentioning:
[code]
--memory-limit is not completely clear here neither...

For dask-jobqueue, I think I would rather stick to the das

[2018-05-14 22:15] #41 closed

[2018-05-15 11:38] #42 closed

[2018-05-16 13:21] rsignell-usgs opened #60 "workers not showing up on dashboard"
I'm using dask-jobqueue with Slurm on the USGS "Yeti" HPC system, and while my cluster is working:
https://gist.github.com/rsignell-usgs/a40a47f87a48534d3f678f5ddfc9018c
with workers connecting (cell [14] ),  I'm not getting workers showing up in the dashboard:

![2018-05-16_9-01-09](https://user-images.githubusercontent.com/1872600/40119255-30f2e380-58ea-11e8-8263-dd79679a4b90.png)

I'm connectin

[2018-05-16 13:42] rsignell-usgs commented on #60
@mrocklin oh man.   Yep.   Thank you.

[2018-05-16 13:42] #60 closed

[2018-05-17 20:29] mrocklin commented on #55
I could get behind the `cores=` and `overall_memory=` keyword alternatives.  Any thoughts on this @jhamman @lesteve ?

[2018-05-17 21:15] jhamman commented on #55
I don't have particularly strong feelings here. If others think alternative keywords are more descriptive and user friendly, let's move that way. So long as we maintain a reasonable amount of transparency and flexibility.

[2018-05-18 08:55] lesteve commented on #55
I have to admit I was not particularly aware of these subtleties.

As a naive cluster and dask-jobqueue user, I'd like to easily specify the memory per "scheduler job", because that may determine which queue I will end up in.

For "cores vs threads" I don't have a strong opinion.

Maybe @jakirkham has some opinion based on dask-drmaa?

[2018-05-18 08:56] lesteve commented on #55
Also a bit tangential but I have to say that when reading the `dask-worker --help` about `--memory-limit`, I would have guessed that `--memory-limit` about the `dask-worker` memory limit and not a per-process memory limit.

[2018-05-18 10:54] AdamWlodarczyk opened #62 "SLURMCluster - number of tasks requirement"
Hi,
I've got a question/problem - what is the reason of hard-coding the number of tasks to 1?
This is problematic in some way for me because in my scenario I want to run multiple-node jobs and it is impossible with current generation of job_header.
Example:
I have a cluster of nodes with 24 CPUs per each and initialize my SLURMCluster like that
[code]

Such declaration gives me following job heade

[2018-05-18 11:37] mrocklin commented on #62
The keywords that you specify at construction time are per-node.  If you
want two nodes then you specify this when you ask for workers with
cluster.scale(2)

On Fri, May 18, 2018 at 6:54 AM, AdamWlodarczyk <notifications@github.com>
wrote:

[2018-05-18 13:32] AdamWlodarczyk commented on #62
I see. Well, thanks for clarification. Issue can be closed.
Great package BTW!

[2018-05-18 13:36] ocaisa commented on #62
What @AdamWlodarczyk is trying to describe is the case where each we want a single Dask worker for a set of nodes attached to a single job. Our use case is a task that forks out an `srun` process which can consume the entire resources allocated to the job. The current syntax doesn't allow us to do this since we would need to overwrite the `#SBATCH -n 1\n#SBATCH --cpus-per-task=1`...but come to thi

[2018-05-18 17:38] guillaumeeb commented on #62
As @mrocklin mentionned, this was not the initial idea of dask-jobqueue to launch multi nodes job at once. I believe this is also because initial development was done with PBS if I am not mistaken.

From the few I've seen, Slurm is much more powerfull and versatile, and it is probably possible to easily launch jobs that spawn dask-worker processes on multiple nodes at once. By easily I mean just b

[2018-05-18 18:08] mrocklin commented on #62
Is there an advantage to running few jobs that launch multiple dask-workers vs many jobs that launch one dask-worker each?

[2018-05-19 09:33] guillaumeeb commented on #62
The case I can think of is if you want to be sure to have a given computing power for a known amount of time. Dask-jobqueue is great for interactive analysis, where we can varry the number of workers. But in some production cases, we may want to know for sure we have a

[2018-05-19 09:33] #62 closed

[2018-06-03 12:35] apatlpo opened #65 "passing options to submit and cancel commands"
Wouldn't it be useful to be able to pass options to submit and cancel commands ?

For example, I would like to stop receiving job deletions emails on a PBS cluster and one way to doing this is to pass ` -Wsuppress_email=-1` option to `qdel`

If yes, what would be a good way to do this?

[2018-06-04 03:35] jhamman commented on #65
I agree, this would be nice.

Short term, this may work for you:

[code]

Maybe this is straightforward enough that we don't need to do anything further?

[2018-06-06 10:21] apatlpo commented on #65
Thanks, if nobody else is interested in this, there is probably no need for anything else.

Minor detail, in turns out that on PBS, it's at submission that you turn off emails:

[code]

[2018-06-06 10:57] guillaumeeb commented on #65
Yes, you can probably do this using the `job_extra` keyword:
[code]

[2018-06-06 14:04] lesteve commented on #65
I guess we could add `submit_command_additional_args='', cancel_command_additional_args=''` to `JobQueueCluster.__init__`. This additional arguments would be added to the command we run in `start_workers` and `stop_workers`.

[2018-06-06 14:41] guillaumeeb opened #67 "CI build problem on SLURM test"
There seems to be a problem with SLURM CI test, I've seen this in several PRs : https://travis-ci.org/dask/dask-jobqueue/jobs/387815778

A job seems to be fail at submission.

[code]

[2018-06-07 12:10] guillaumeeb commented on #65
Perfect!

[2018-06-07 12:10] #65 closed

[2018-06-07 15:11] jhamman opened #68 "Reorganize the dask-jobqueue config file"
It is not unheard of to have multiple job queue systems running from the machine. For example, the machine I use the most, Cheyenne, uses both PBS and Slurm. For cases like this, it would be nice if we revamped our config file stricture a bit.

Currently we have:

[code]

I'd like to propose that we move some of the jobqueue values into the pbs/sge/slurm catagories:

[code]

[2018-06-07 15:52] mrocklin commented on #68
We might also consider having separate yaml files `sge.yaml`, `slurm.yaml`, `pbs.yaml`

[2018-06-07 15:59] jhamman commented on #68
That would also be a reasonable choice. Open to ideas here.

[2018-06-11 21:27] mrocklin commented on #68
I'm currently in favor of separate files

[2018-06-11 21:47] jhamman commented on #68
I'm fine with separate files. @lesteve and @guillaumeeb, any thoughts here?

[2018-06-12 05:00] guillaumeeb commented on #68
I don't have a strong opinion on this. If separated files, we should still keep some 'jobqueue' prefix, don't you think?
What wilç be the impaxt in the code? Each Cluster implementation will use all the keywords by default?

[2018-06-12 12:27] mrocklin commented on #68
Can you expand on your thoughts about why we should keep the jobqueue
prefix?

On Tue, Jun 12, 2018 at 1:00 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-06-12 12:33] guillaumeeb commented on #68
I just find it weird to have a `.config/dask` directory that looks like this:
[code]

I would prefer a more explicit naming (and more consistent with other packages):
[code]

[2018-06-12 12:45] mrocklin commented on #68
OK, no objection from me

On Tue, Jun 12, 2018 at 8:33 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-06-13 19:38] mrocklin commented on #68
Hrm, in trying to do this we now have to repeat all keyword arguments in all constructors.  Are we ok with this?  Also, what should we do for things like MOAB?

[2018-06-13 19:47] mrocklin commented on #68
I'm also now against the idea of splitting into multiple files, especially as more job schedulers come online.

[2018-06-13 19:50] jhamman commented on #68
What if we implemented some basic inheritance?

[2018-06-13 19:54] mrocklin commented on #68
Sorry, let me be more explicit.  Currently the core superclass constructor looks like this

[code]

If we now have separate config values for each resource manager then our current use of inheritance becomes less useful.  Probably we'll get default values at runtime rather than import time, which is probably fine.

[2018-06-13 19:56] mrocklin commented on #68
So we would have something like the following:

[code]

[2018-06-13 20:57] guillaumeeb commented on #68
Yep, I agree that we should not split the config into multiple files in the end.

What @mrocklin was saying earlier was also what I was affraid of, I don't really like the idea of repeating all the keywords into each subclass `__init__`. The last proposed solution seems much better though, even if it add some complexity, it does take advantage of inheritance.

Rather than `_config_name`, we could

[2018-06-13 20:59] mrocklin commented on #68
Right, so we could also just decide not to make this change.  @jhamman is this a concrete need, or is this more hypothetical?  If the latter then do you have objections to waiting until a user raises this as an issue?

[2018-06-13 21:16] jhamman commented on #68
Yes, Cheyenne uses two schedulers (slurm for the dav cluster, pbs for cheyenne proper).

[2018-06-13 21:31] mrocklin commented on #68
Hrm, are there cases where there will be two different clusters that use
the same job scheduler?

On Wed, Jun 13, 2018 at 5:16 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-06-13 23:07] jhamman commented on #68
Not that I am aware of. Typically, that would be handled by using separate queues for the different clusters.

[2018-06-14 15:33] ericmjl opened #69 "Failing with SGE"
I would like to try using dask-jobqueue to set up a Dask cluster on our internal Grid Engine cluster (I believe it is UGE, not SGE, but they should be siblings of each other).

My script is below:

[code]

The error is below:
[code]

I did some checking in an IPython session:

[code]

Not sure why this is happening, I dug into the `distributed` Python module, and found everything set up correctly:

[2018-06-14 15:35] mrocklin commented on #69
git-master of dask-jobqueue depends on git-master of distributed which also depends on git-master of dask

A release of all three should be out within a week

[2018-06-14 15:43] ericmjl commented on #69
@mrocklin I had installed this using conda-forge; is the git commit version still a relevant point here?

[2018-06-14 15:45] mrocklin commented on #69
Not sure when Cluster was added, but it's there now

[code]

So my guess is that there is some version mismatch here.  If you just conda installed everything then that's surprising.

[2018-06-14 16:13] ericmjl commented on #69
Yes, that is quite surprising. What was even more surprising for me was that when I dug into `site-packages/distributed`, `Cluster` was imported into `deploy`.

[code]

Let me check version numbers:

[code]

[2018-06-14 16:22] mrocklin commented on #69
In your situation I would either install from git across all three
packages, or else wait a day or two.

On Thu, Jun 14, 2018 at 12:13 PM, Eric Ma <notifications@github.com> wrote:

[2018-06-14 16:35] ericmjl commented on #69
👍

[2018-06-14 19:49] ericmjl commented on #69
As things turn out, there was a legacy `~/.local/...` in my PYTHONPATH that was interfering with everything! Big lesson learned.

Btw, thank you for teaching me the PDB tricks at PyCon, @mrocklin! :smile:

[2018-06-14 19:56] mrocklin commented on #69
A worthwhile investment it seems :)

On Thu, Jun 14, 2018 at 3:49 PM, Eric Ma <notifications@github.com> wrote:

[2018-06-15 15:22] mrocklin commented on #69
OK to close @ericmjl ?

[2018-06-15 15:30] ericmjl commented on #69
Closing!

[2018-06-15 15:30] #69 closed

[2018-06-15 17:35] mrocklin commented on #68
OK, I've given this a shot in #70

[2018-06-15 21:11] ericmjl opened #71 "Unable to view the status dashboard"
In today's experiments with Dask + dask-jobqueue, I found that I could not load the Bokeh dashboard that @mrocklin keeps showing me :smile:, which has kept me wondering what exactly is the progress on my simple, embarrassingly parallel task of "loading ~900+ matlab `.mat` matrices into memory".

The URL provided by the client is: `http://172.16.23.102:8787/status`.

I'm able to ping the IP address

[2018-06-15 21:12] mrocklin commented on #71
Are you, by any chance, setting your network interface when using
dask-jobqueue?  If so can you try not doing that and see if there is an
effect?

On Fri, Jun 15, 2018 at 5:11 PM, Eric Ma <notifications@github.com> wrote:

[2018-06-15 21:31] ericmjl commented on #71
Originally, I did not:

[code]

This gave the client address:

[code]

After setting the interface:

[code]

the client address is:

[code]

This was not accessible (also timed-out).

I also tried setting the cluster interface to `ib0`. The client address then became:

[code]

This also timed-out.

[2018-06-16 13:48] mrocklin commented on #71
Maybe.  It might be worth checking with your IT staff.

You might consider seeing if machines on the SGE cluster can see that address, perhaps by using `requests` to download that page, both from the client machine, and possibly from one of the workers:

[code]

[2018-06-18 16:17] ericmjl commented on #71
@mrocklin thanks for the help! I tried the following:

[code]

In the absence of any information from IT, my current hypothesis is that there is something blocking the opening of ports from node to node. I'll continue to keep tabs on this issue.

[2018-06-20 13:59] lesteve commented on #71
The way I have got a similar setup to work in the past is to do ssh tunneling:

[code]

Then I can just open http://localhost:33023 on my local machine and see the status page. Slightly cumbersome but I am afraid I don't know of a more convenient way of doing it. This approach (which is not dask-specific at all) is mentioned in the [distributed doc](http://distributed.readthedocs.io/en/latest/web.

[2018-06-20 15:38] ericmjl commented on #71
@lesteve thank you for the excellent tip! I have added this to my TextExpander snippets :smile:

[2018-06-20 20:04] jhamman commented on #71
@ericmjl - would you be interested in adding a note in the dask-jobqueue documentation identifying this issue? I suspect other users will run into the port-forwarding issue.

[2018-06-20 20:05] jhamman commented on #71
you may also be interested in this PR: https://github.com/pangeo-data/pangeo/pull/317

[2018-06-20 20:20] jakirkham commented on #71
We also do the same thing as @lesteve has suggested.

At some point we may consider revitalizing the JupyterLab extension for Dask (especially as JupyterLab has become more stable), which would make adding the extra ssh tunnel unnecessary. AIUI JupyterLab developers are eager to have users that can give feedback on this sort of thing. So getting help shouldn't be too hard if someone has cycles/int

[2018-06-20 20:34] jakirkham commented on #71
Issue ( https://github.com/dask/dask-labextension/issues/15 ) had some discussion about how this might be done. Not sure if that advice is still current.

[2018-06-20 20:42] ericmjl commented on #71
@jhamman happy to do so. Give me a few hours (busy till later) and I'll be happy to PR in.

[2018-06-21 22:31] lzamparo commented on #4
@jakirkham if it helps, I tried making a [dask-distributed LSF](https://github.com/dask/distributed/issues/1260) script a while back.  I encountered an error I couldn't fix, but maybe you can? Here's a [gist](https://gist.github.com/lzamparo/1ec0275efac635b103725412808319e9).

[2018-06-24 01:28] mrocklin opened #74 "SLURM test failures"
We're getting this test failure in the CI logs for a few unrelated PRs.

[code]

[2018-06-24 05:19] jhamman commented on #11
@rabernat - most of the hard work for this functionality is being done in #63. Stay tuned.

[2018-06-24 07:17] guillaumeeb commented on #74
This is probably duplicated with #67. I did not have the time to look at it yet, been busy at work, and we finaly have some sun in France :) !

[2018-06-24 13:10] #71 closed

[2018-06-25 14:11] lesteve commented on #74
Closing in favour of #67. This seems the exact same problem indeed.

[2018-06-25 14:11] #74 closed

[2018-06-25 14:23] lesteve commented on #4
Just to split the task in smaller chunks:
* add a LSFCluster that inherits from `dask_jobqueue.core.JobQueueCluster`
* define `LSFCluster.submit_command` (probably `bsub`?) and `LSFCluster.cancel_command` (probably `bkill`?)
* implement `LSFCluster._job_id_from_submit_output` that takes a string (stdout output from the `submit_cmd`) and turns into into a job identifier.

Once implemented, it would

[2018-06-25 15:47] ocaisa opened #75 "Assumption made about location of dask-worker"
In https://github.com/dask/dask-jobqueue/blob/774f2610f7e7befd44e04d972c42e299b942fa5e/dask_jobqueue/core.py#L15
the assumption is made that the `dask-worker` script is in the same place as the python executable. This is not true in our case since dask is available through an environment module (so the availability of the script is handled via the `$PATH` envvar).

Would it be possible to add a ch

[2018-06-25 15:56] mrocklin commented on #75
Perhaps we should include a keyword argument executable=our_default_value
but allow other people to overwrite it?

On Mon, Jun 25, 2018 at 11:47 AM, ocaisa <notifications@github.com> wrote:

[2018-06-25 16:03] lesteve commented on #67
I can reproduce the error locally. No expert at all in slurm but it seems to me like `ci/slurm/register_cluster.sh` script is not working correctly and `ci/slurm/start-slurm.sh` is not stringent enough to detect that the . Why it seemed to work before and not anymore, no idea ...

Here is the code I run:
[code]

Here is the output I get at the end of the run (the docker part seems to be fine AFAIC

[2018-06-25 16:20] jakirkham commented on #4
Sorry have been busy with other things lately. If someone has interest and time, they should feel free to go ahead.

[2018-06-25 19:50] guillaumeeb commented on #67
@lesteve do you have the same error as reported above? e.g. with the
[code]
part?

When I look at this, it seems to me that one of the two job-queue jobs that "basic" test is launching, does not fire up correctly. But it looks like the second one has worked, so the SLURM cluster seems to be up at some point.

The output you show from `start-slurm.sh` doesn't look too bad to me. The `register-clust

[2018-06-25 21:57] #67 closed

[2018-06-26 05:19] lesteve commented on #75
Or use `python -m distributed.cli.dask_worker` as was done in `dask-drmaa` [here](https://github.com/dask/dask-drmaa/pull/91)? I think the context in dask-drmaa was that `dask-worker` was not found in a user install of dask.

[2018-06-26 06:48] ocaisa commented on #75
@lesteve That seems like a clean solution and would work for us

[2018-06-26 07:21] ocaisa commented on #75
PR #77 tested for our system (feel free to replace it with something else)

[2018-06-26 11:49] lesteve commented on #4
Yep, that was what I had in mind by specifying the steps in more details.

[2018-06-26 14:19] #75 closed

[2018-06-26 14:37] lzamparo commented on #4
@lesteve I can give this a go; thanks for the direction.  Is there a specific fixture-based test implemented for other cluster methods, or am I free to try some of my own tasks?

[2018-06-26 15:31] lesteve commented on #4
It'd be great if you could give this a go! For the first iteration, I think you can try to put together and run a small snippet, e.g. something along these lines and get it to work on your local LSFCluster:

[code]

For tests, you could probably took some inspiration from the existing tests from test_slurm.py, test_pbs.py, etc ...
Personally I would be in favour of doing that in a separate PR.

[2018-06-26 23:22] #68 closed

[2018-06-27 12:01] lesteve commented on #4
@lzamparo just so you know and to avoid duplicating work, there is an ongoing PR at #78. It would be great if you can give it a go (nowish or once the PR is merged, your call really) on your local LSF cluster and tell us whether that works for you.

[2018-06-27 14:38] lesteve opened #80 "Problem accessing the dashboard when the cluster frontend has an internal and an external IP"
Funnily enough I helped solve the problem in https://github.com/dask/dask-jobqueue/issues/71 but I now realise that the dashboard is not accessible in our SGE cluster and the ssh tunneling work-around I proposed does not cut it.

Even more fun, when I use dask-drmaa, I can access the dashboard fine (a ssh tunnel is needed of course).

Here is my current understanding:
* I run the scheduler on the

[2018-06-27 15:46] guillaumeeb commented on #80
I don't quite understand why, from what I understand, the important point is that the IP you tunnel to is visible from the server you ssh on, note the one you ssh from. Could you paste here your ssh tunneling command?

[2018-06-27 16:21] lesteve commented on #80
Thanks for your answer!

I think the ssh tunnel command is unlikely to be flat out wrong (I can access the dashboard with dask-drmaa after all), but there may be subleties that I am missing.

Here is the ssh tunneling command that I use from my local machine:

[code]

[2018-06-27 16:32] guillaumeeb commented on #80
Did you try with the internal ip between the port, e.g. from your example above:
45961:10.141.255.254:45961

[2018-06-27 16:33] lesteve commented on #80
45961:10.141.255.254:45961

Sorry I was editing my message above with additional info, short answer is yes and the ssh tunnel command seems to hang (it kind of makes sense to me since I can not ssh to the internal IP from my local machine).

[2018-06-27 16:36] guillaumeeb commented on #80
Our doc seems wrong to me, the one on pangeo for using jupyter on hpc is better. You should ssh to a node that you can access to (your public ip), and that node should be able to access the scheduler ip and port (the private ip).

[2018-06-27 16:40] guillaumeeb commented on #80
There is some misunderstanding here I believe. Command you should try:
[code]

[2018-06-27 17:11] mrocklin opened #81 "Release"
I'm inclined to do a release to get something out that works with the new Dask release.  Any objections?

In particular, should this wait on #63 ?  cc @jhamman

[2018-06-27 17:15] jhamman commented on #81
I'm fine with issuing a release now. We can follow up with another release once I get the last failing tests in #63 working.

[2018-06-27 17:19] mrocklin opened #82 "Why job_mem and job_cpu"
If possible I'd like to reduce the number of parameters and naively these seem a bit redundant.  However it looks like whoever implemented them set up sane defaults, so presumably there is some reasoning behind them.  Under what situations are these important?

[2018-06-27 18:00] lesteve commented on #80
Right this one works, thanks a lot! Feeling slightly dumb now ... oh well I'll update the documentation and add a link to the pangeo doc to make me feel better about the whole thing.

[2018-06-27 18:04] lesteve commented on #81
Fine with me too

[2018-06-27 18:49] raybellwaves commented on #4
Still working through my PR and trying to get it to work. Subsequent testing on other LSF clusters will be great.
Leaving this link here: https://slurm.schedmd.com/rosetta.pdf which is helping me adapt the Slurm and PBS codes.

[2018-06-27 19:14] jakirkham commented on #80
Maybe it's worth including [`nbserverproxy`]( https://github.com/jupyterhub/nbserverproxy ) to simplify this behavior or perhaps noting how to enable/use it in the docs?

[2018-06-27 20:19] guillaumeeb commented on #80
@lesteve glad to hear it works!

It took a long time for me to actually go beyond the magic and take a moment to really understand ssh tunneling!

@jakirkham I did'nt know about nbserverproxy. The Readme is concise, but from what I understand this could be really interesting. If used correctly, we only have to be able to access jupyter, and then the dask dashboard can accessible from it, is that r

[2018-06-27 20:21] guillaumeeb commented on #81
If we can follow up with a new release with #63, then it's fine with me too!

[2018-06-27 20:40] guillaumeeb commented on #82
So after some research, I take it your talking about Slurm implementation, and that's me that introduced these terms.
Several things here IIRC:
* At the beginning, I believe Slurm implementation was a little wrong, and only used `processes` as the number of cores booked in a Slurm job, leaving aside the `thread_per_worker` arg.
* `job_mem` and `job_cpu` in Slurm are kind of equivalent to PBS `reso

[2018-06-28 02:36] jhamman commented on #81
closed via: https://github.com/dask/dask-jobqueue/releases/tag/0.2.0

[2018-06-28 02:36] #81 closed

[2018-06-28 02:36] jhamman commented on #81
We will followup shortly with another release but its good to have this out.

[2018-06-28 07:45] guillaumeeb opened #83 "Stopping worker and stopping whole jobqueue cluster"
The question is what is the right way to do this?

Currently, when I want to stop my JobQueue cluster to restart a fresh one (with new parameters for instance), I use
[code]
For stopping workers, as the scale method is not currently working, I use something like
[code]
(I don't remember the exact syntax, and not eager to look for it).

Are these the right things to do?

Should we expose some more

[2018-06-28 07:58] jakirkham commented on #80
Yep, it advertises itself as a JupyterHub project, but was able to get it to work with the Jupyter Notebook by merely installing it. Should add the conda-forge package runs the `jupyter-serverextension` part for you as part of the install. So if using `conda`, just installing it seems to work (for me at least :).

Assuming default Jupyter Notebook port and Dask Dashboard port, the URL looks someth

[2018-06-28 11:47] rabernat opened #85 "RuntimeWarning: Couldn't detect a suitable IP address"
I am starting a cluster like this:
[code]

I receive the following warning:
[code]

Do I need to be concerned about this?

[2018-06-28 12:29] mrocklin commented on #80
Note that all of Dask's pages use relative links and should be fine.  It's
just the bokeh index that requires to be told the prefix.  In practice just
not showing users the index page works pretty well

On Thu, Jun 28, 2018 at 3:58 AM, jakirkham <notifications@github.com> wrote:

[2018-06-28 16:53] mrocklin commented on #55
OK, I'm going to start work on a PR to add two new configuration options:

- cores: the total number of cores that we should endeavor to use

    I hope that cores + processes is a better solution than threads + processes.  Hopefully it is easier for people to manipulate
- total_memory: the total amount of memory on a node to use

[2018-06-28 19:53] lzamparo commented on #4
@lesteve THanks for the heads up.  Looks like @raybellwaves is making good headway, I'll step aside.

[2018-06-29 07:05] lesteve commented on #4
@lzamparo I'll ping you when #78 is merged and it will be great if you could give it a go on your LSF cluster!

[2018-06-29 14:53] guillaumeeb commented on #85
It probably means that you don't have access to internet on the node your launching your scheduler, so nothing to worry about if the dask-jobqueue is working properly.

In your exemple above, I'm surprised about your `memory="0.2"` arg. What's the result?
Is the `mpiprocs=5` necessary too?

[2018-07-03 13:55] lesteve commented on #83
I have been using something like this as well, and I agree it would be nice to have a simpler interface. Another approach which I think is working, typically in a notebook, you reexecute the cell that defines cluster + client. I am not sure how this works behind the scene (my understanding is that this is because of death-timeout in dask workers) but after some time, the workers from the old clust

[2018-07-03 13:59] mrocklin commented on #83
When a cluster is GCed it kills its workers.  If for some reason this
doesn't happen (such as at the end of a process) then yes, the workers will
kill themselves if they have not heard from the scheduler in the
death-timeout period (60s by default)

On Tue, Jul 3, 2018 at 9:55 AM, Loïc Estève <notifications@github.com>
wrote:

[2018-07-03 16:50] mrocklin opened #87 "Release?"
#86 changed behavior significantly.  Should we release again?  Should we wait for #63 ?

[2018-07-03 19:42] jhamman commented on #87
Let's aim for the end of the week. I would like to put #63 to bed ASAP and I think we're quite close. I spent some time this morning merging master into that PR so now we just need to sort out the few remaining test failures.

[2018-07-03 20:01] mrocklin commented on #87
Heh, thanks for being the *second* large PR to go in :)  I'm glad I won
that merge-race.

On Tue, Jul 3, 2018 at 3:42 PM, Joe Hamman <notifications@github.com> wrote:

[2018-07-03 22:11] guillaumeeb commented on #87
Would be nice to have #63 !

[2018-07-09 14:04] mrocklin commented on #87
@jhamman I'd like to release dask-jobqueue if possible.  Would you be ok if I released now even though  #63 isn't yet done?

[2018-07-09 14:08] jhamman commented on #87
Yes. Go for it. I could probably use some help from someone to sort out the
test failures.

On Mon, Jul 9, 2018 at 7:04 AM Matthew Rocklin <notifications@github.com>
wrote:

--
Joe Hamman
Project Scientist I
Research Applications Laboratory
Hydrometeorological Applications Program
National Center for Atmospheric Research
Phone: 206-498-5497
Email:  jhamman@ucar.edu
Web:  joehamman.com

[2018-07-09 14:09] mrocklin commented on #87
Happy to help with the Dask side if I can be of service.  Do you have a
local testing setup working?  Perhaps we can look at things together while
at SciPy?

On Mon, Jul 9, 2018 at 10:08 AM, Joe Hamman <notifications@github.com>
wrote:

[2018-07-09 14:54] jhamman commented on #87
Yes, let's take a look at Scipy.

[2018-07-11 16:13] mrocklin opened #90 "Allow global access to dashboard by default"
When using interfaces like infiniband it's often the case that one can't get the dashboard to show up.  This is because the bokeh server is expecting to be called by its IP address on the infiniband network, not the normal network.

One solution to this  would be to provide `services={('bokeh', ('', 8787)): BokehScheduler}` to LocalCluster.

[2018-07-11 20:53] lesteve commented on #90
Interesting, I do seem to remember to have bumped into this problem ...

[2018-07-11 21:32] lesteve commented on #90
Hmmm I think I got something like you suggested working, but the `_repr_html_` is not showing the right port for some reason ...

[2018-07-11 22:04] lesteve commented on #90
Just to put a bit more context, here is my diff (I hard-code the BokehScheduler port to 12345):
[code]

I run this ssh proxy (redirecting the 12345 port to 9898 locally):
[code]

and then I can access the dashboard at http://localhost:9898/status.

The widget for `client.cluster` shows the dashboard at 8787 though:
[code]

I made sure I had the latest release of dask (0.18.1) and distributed (1.22

[2018-07-12 04:14] mrocklin commented on #90
Indeed.  It looks like this is broken in dask/distributed.  We just do a hard overwrite of the bokeh key:

https://github.com/dask/distributed/blob/fd8ca5ebc3a781d5f6625d3daa4d09ce806938a3/distributed/deploy/local.py#L119-L127

[2018-07-13 21:13] raybellwaves commented on #4
While https://github.com/dask/dask-jobqueue/pull/78 is almost finished, i stumbled across https://github.com/IBMSpectrumComputing/lsf-python-api. May be of interest for the future e.g. implementing something like `bjobs` to check if the dask workers are running or pending.

[2018-07-14 17:30] mrocklin opened #91 "Cluster needs a repr"
We look great in a Jupyter Notebook, but not so great in IPython.  It would be useful to include the number of running/pending jobs and maybe the total amount of CPU/Memory if there is space?

Found with @josephhardinee

[2018-07-14 17:30] mrocklin commented on #91
<PBSCluster: 1000 cores, 5.5TB, 100/150 jobs>

`distributed.utils.format_bytes` is useful to render byte values

[2018-07-14 21:02] wtbarnes opened #92 "SLURMCluster example in API docs is out of date"
The example for `SLURMCluster` in the API docs uses the `threads` keyword which has been removed. Using it raises the exception,

[code]

[2018-07-14 21:07] lesteve commented on #92
Very good point, do you want to open a PR to fix that?

[2018-07-14 21:16] wtbarnes commented on #92
What would be the equivalent in terms of the new keyword `cores`?

[2018-07-14 21:40] lesteve commented on #92
I think cores=24, processes=4.

[2018-07-14 21:42] lesteve commented on #92
To double-check you can probably look at https://github.com/dask/dask-jobqueue/pull/86#issuecomment-401600457 and the discussion around it.

[2018-07-14 22:44] josephhardinee opened #95 "Named configurations as an option to cluster constructors"
Would there be interest in having named configuration sets for the different constructors in addition to the pbs and slurm (and other) default configuration sets?

Use Case
----------
There are several use cases. The first is clusters that share filesystems between different scheduling systems (Cori and Edison on NERSC). The second would be supporting multiple queues (high_mem, debug, burst, scave

[2018-07-15 03:42] mrocklin commented on #95
In general I can see value behind this idea.  Presumably we would define classes like the following:

[code]

I'm curious to hear @jhamman 's thoughts.  I suspect that he has run into similar issues before

[2018-07-15 04:30] lesteve commented on #91
As someone who is still using IPython as my first go-to interface, I definitely bumped into that but I was not annoyed enough to open an issue ;-).

[2018-07-15 04:39] wtbarnes commented on #92
Ok I'll submit a PR during the sprint tomorrow

[2018-07-15 04:50] lesteve commented on #92
That would be great! If you can have a quick look to double-check this problem does not appear in other parts of the doc (using `git grep` may be handy) even better!

[2018-07-15 11:32] guillaumeeb commented on #90
Don't you think this modification should be done upstream in distributed? Always bind bokeh UI to all network address by default?

[2018-07-15 12:36] mrocklin commented on #90
That would make things simpler, yes, but I think that we don't want to do
it in the true LocalCluster case, where we expect to be on the localhost
and would be confused if someone else connected to our machine and wanted
to see our dashboard.

The fact that our cluster objects use LocalCluster is a bit of a historical
artifact.  Ideally they would create a scheduler manually with all of their
own

[2018-07-15 22:01] mrocklin opened #96 "Build example blog/screencast on JupyterHub enabled system"
Dask-jobqueue seems to be having an impact in a number of deployments.  A lightning talk at SciPy seemed to kindle a surprising amount of activity.  We're showing a path that people can take to use their HPC systems for interactive development.

Taking this further, we would like for these same systems how they can use JupyterHub to remove the current ssh-in, launch Jupyter, ssh-tunnel process.  T

[2018-07-15 22:01] mrocklin commented on #96
@minrk might also know other JupyterHub BatchSpawner users that might be willing to participate.

[2018-07-16 03:47] jhamman commented on #95
I like this idea. I would use it in a similar fashion as how @josephhardinee suggested. Currently, I've been overriding the default values in my class instantiation.

[2018-07-16 19:15] jhamman commented on #26
closed via #63

[2018-07-16 19:15] #26 closed

[2018-07-16 19:16] jhamman commented on #30
@apatlpo - if you have some time, it may be worth giving jobqueue another go. We've had a number of new features land in recent weeks and you may find things easier to work.

[2018-07-17 00:45] apatlpo commented on #30
yes, I have been keeping up with these new developments and have been smoothly using dask-jobqueue 0.2.0 on a routine basis since its availability.
I am looking forward to try 0.3.0 soon.

I did not realise it was still open and am thus going close this issue, sorry about that

[2018-07-17 00:45] #30 closed

[2018-07-17 17:11] jhamman opened #98 "Test failure: Exception: get_data() got an unexpected keyword argument 'max_connections'"
I'm getting a few test failures on master when running the pbs tests in the docker environment.

[code]

@mrocklin - have you seen this before? I'm working off a clean install as of an hour ago so this is pointing to dask/distributed master.

[2018-07-18 00:11] halexand opened #99 "Dask resource_spec does not generalize to older version of PBS"
Hello,

While trying to use Dask-Jobqueue on my local HPC (running PBS 6.1.2) I am having problems getting the PBS cluster call to properly define the resources I have requested. It seems that the issue might lie with the `resource_spec` call. I specify the `resource_spec` as I have previously specified `-l nodes=4:ppn=4:mem=4gb` in a PBS script (below) I get the following error:
[code]

If I run

[2018-07-18 11:22] szs8 opened #100 "HTCondor support"
Does this project have plans for HTCondor support?

[2018-07-18 12:01] mrocklin commented on #100
cc @jrbourbeau

On Wed, Jul 18, 2018 at 7:22 AM, S <notifications@github.com> wrote:

[2018-07-19 17:06] jhamman commented on #100
I don't think we have any current plans to implement an HTCondorCluster but it does seem in scope for this project. If an interested developer wanted to give it a try, I suspect it would be relatively straightforward. That said, I don't have any experience with HTCondor so take my measure of "straightforward" with a grain of salt.

[2018-07-19 17:07] mrocklin commented on #100
I think that @jrbourbeau has a prototype that he's testing on an in-house
cluster

On Thu, Jul 19, 2018 at 1:06 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-07-19 17:15] jrbourbeau commented on #100
Sorry for the delayed response. @mrocklin is correct, I'm currently working on an `HTCondorCluster` implementation to add to dask-jobqueue and plan to open up a PR soon.

[2018-07-19 17:35] jhamman commented on #99
@halexand - thank you for this report. Can you share a sample pbs script that dask-jobqueue creates and a link to your system's documentation?

To see the job script, you can do:

[code]

[2018-07-19 20:09] szs8 commented on #100
@jrbourbeau That's great! Looking forward to it.

[2018-07-25 12:15] bstrdsmkr opened #102 "Dedicated scheduler"
Hi folks,

I'm working on making it easier for our users to make use of our cluster (Stratus).  Stratus is a traditional cluster with a shared login node and several compute nodes. Aside from that, we have a node setup hosting Jupyterhub/lab which is configured as a submit host (`qsub test.pbs` can be ran in the Jupyter terminal to submit a job).

Our original intended work flow was that users cou

[2018-07-25 12:28] bstrdsmkr opened #103 "Heterogenous scheduler?"
We have PBS cluster, but we also have several specialized nodes which are not part of a cluster and we'd like to allow Dask tasks to be ran on either the cluster's compute nodes, or the specialized nodes transparently based on [resources](http://distributed.readthedocs.io/en/latest/resources.html#worker-resources).

For example, we have some routine tasks that don't really require anything in orde

[2018-07-25 14:56] mrocklin commented on #102
That's definitely possible, and is a workflow used by some groups.  We've found that it's a bit more common for people to want to start up their own scheduler though.  There are some challenges to using a global scheduler:

1.   Software versions need to match, and users tend to want to use non-uniform versions of various libraries
2.   Multi-tenancy, some users may hog resources, so it's nice to

[2018-07-25 14:59] mrocklin commented on #103
As you suggest from a pure dask perspective you can handle this by starting various `dask-worker` processes on the different machines and annotate them with things like resources.

What's missing is a nice way to let users control those different groups of workers nicely, using something like dask-jobqueue.  This is also discussed in https://github.com/dask/distributed/issues/2118 in the core proj

[2018-07-25 16:50] bstrdsmkr commented on #102
Ahh, I think I've made some bad assumptions about the ecosystem. So its ok to have more than one scheduler running for the same HPC cluster?

Software versions will be less of a problem for us specifically as we'll have fairly good control of what is available and make liberal use of conda envs and cross mounting.

Multi-tenancy is something we're still feeling out with respect to Dask. If I got m

[2018-07-25 16:54] mrocklin commented on #102
Definitely.  It's common for each user to run their own dask scheduler.  These can be temporary and ephemeral.

Right, but your users might also want to do this.  Different users might want to use scikit-learn version 0.19 and 0.20.  A single dask cluster must have uniform versioning, so these two users can't use the same.  It typically makes sense for each user to create their own ephemeral clust

[2018-07-26 00:44] twoertwein opened #105 "CommClosedError: in <closed TCP>: Stream is closed"
I tried to create a minimal re-producible example for a different problem I encounter. While doing so, I was able to 're-produce' (it only happens sometimes) a different TCP-related problem.

Code:
[code]

Output:
[code]

dask-worker.err
[code]

Versions:
ipython: 6.4.0
dask: 0.18.2
dask_jobqueue: 0.3.0

[2018-07-26 00:50] mrocklin commented on #105
My guess is that the interface you're using, em2, is not avaiable on some
of your workers

On Wed, Jul 25, 2018 at 5:44 PM, Torsten Wörtwein <notifications@github.com>
wrote:

[2018-07-26 00:55] twoertwein commented on #105
oh thanks, that might be the case. I thought 'interface' would only specify which interface to use on the cluster head (not on the workers). Is that incorrect?

[2018-07-26 01:08] twoertwein commented on #105
I removed the 'interface' argument, the error still occurs:

Output:
[code]

dask-worker.err
[code]

[2018-07-26 02:38] mrocklin commented on #105
It looks like your workers can't talk to each other or to the scheduler.
My guess is that they're listening different networks.  Unfortunately I'm
not able to help out on this much.  I recommend asking someone familiar
with your network to help.

On Wed, Jul 25, 2018 at 6:08 PM, Torsten Wörtwein <notifications@github.com>
wrote:

[2018-07-26 14:10] twoertwein commented on #105
If that is the case, shouldn't it always fail? I'm quite sure they are able to talk to each other - they are all in the same subnet (the cluster head has a second interface, which is why I originally specified 'em2' for it).

[2018-07-26 15:37] twoertwein commented on #105
ok, thanks. I hope I find what is going wrong

[2018-07-26 15:37] #105 closed

[2018-07-26 15:39] mrocklin commented on #105
Good luck!

On Thu, Jul 26, 2018 at 8:37 AM, Torsten Wörtwein <notifications@github.com>
wrote:

[2018-07-27 01:46] mrocklin opened #106 "Add flake8 to tests or black to CI"
Currently it looks like PRs can pass tests without passing flake8 tests.  Do we want to start enforcing style?

[2018-07-27 14:09] jhamman commented on #106
Do we want to start enforcing style?

I would like this. Is there a standard flake8 config and way to enforce this for dask sub projects?

[2018-07-27 15:32] mrocklin commented on #106
Nothing fully standard.  We could grab the setup.cfg from dask/dask or
dask/distributed

On Fri, Jul 27, 2018 at 7:09 AM, Joe Hamman <notifications@github.com>
wrote:

[2018-07-27 20:06] raybellwaves opened #108 "Drop `extra` and `env-extra` in core.py"
@mrocklin noted in https://github.com/dask/dask-jobqueue/pull/78 that all the options in [jobqueue.yaml](https://github.com/dask/dask-jobqueue/blob/f7c565a2fe87e8829acba3c752a4da8d196c92ca/dask_jobqueue/jobqueue.yaml) may not to required for local clusters. For example, I haven't used `extra` and `env-extra` in development of `lsf.py`.

At the moment these are required to be in `core.py` as https:

[2018-07-27 22:49] jhamman commented on #108
I'll come down against this proposal. I am confident that `extra`/`env-extra` will be useful to some LSF users. They are a key in adding flexibility to all of the jobqueue Clusters.

[2018-07-27 23:19] jhamman commented on #106
See #109. As far as I can tell, we've been running flake8 all along. Maybe @lesteve or @guillaumeeb has some idea why things weren't being raised in #78.

[2018-07-28 13:51] guillaumeeb commented on #106
I remember asking myself if the none.sh job_script function would show something in Travis if flake checks failed.

The thing that troubled me is that we are running flake8 and py.test in one Travis operation. Maybe we should add a && between the two calls to take into account both return codes?

[2018-07-28 13:59] guillaumeeb commented on #108
I'm in line with @jhamman here. I think its a generic functionnality required by some of jobqueue users, that need to stay in core.py.

[2018-07-28 14:18] guillaumeeb commented on #99
Looks like you got a quite old PBS version! It's using old style keywords apparently, so it is not surprising it does not work as expected with our PBSCluster implementation.

The use of resource_spec seems a good idea, that may work. As @jhamman asked, it would be easier to analyse your problem if you could give us the generated job script.

Currently it looks like PBS is receiving options it doe

[2018-07-28 20:50] raybellwaves commented on #108
I can’t say I’m very opinionated on the matter. I’ll let @mrocklin chime in. Otherwise, welcome to close.

[2018-07-31 15:29] guillaumeeb commented on #40
Closing this, as this has been adressed in #50 by @mrocklin and by @jhamman above.

[2018-07-31 15:29] #40 closed

[2018-07-31 15:32] guillaumeeb commented on #55
Closed thanks to #86.

[2018-07-31 15:32] #55 closed

[2018-07-31 15:36] guillaumeeb opened #111 "Include nbserverproxy or describe how to use it in the docs"
See https://github.com/dask/dask-jobqueue/issues/80#issuecomment-400797727.

To prevent from doing a lot of ssh tunneling, using [`nbserverproxy`]( https://github.com/jupyterhub/nbserverproxy ) could be helpful!

[2018-07-31 15:36] guillaumeeb commented on #80
Closing this as this is fixed, I've open #111 to keep the nbserverproxy idea.

[2018-07-31 15:36] #80 closed

[2018-07-31 15:39] guillaumeeb commented on #8
Do we need to do something here? Or is the current configuration good enough? I admit I don't quite understand what is being suggested by @mrocklin at first.

[2018-07-31 15:41] guillaumeeb commented on #82
I propose to close this and keep these two arguments, are they may be of use to Slurm users as resource_spec is of use to PBS ones.

[2018-07-31 16:06] mrocklin commented on #8
My original suggestion was to create a `unittest.TestCase` subclass that contains a set of tests, but that needs a bit of specialization to each cluster type.

[code]

[2018-07-31 16:06] mrocklin commented on #8
I'm not sure how much reuse there is though.  This might or might not make sense.

[2018-07-31 21:13] jhamman opened #112 "Edge cases of Cluster.scale()"
Consider a simple jobqueue cluster:

[code]

What should the behavior of the following cases be:

[code]

Currently, pending jobs are not removed from the cluster and eventually come on line. This is producing some buggy behavior.

or

[code]

Currently, the second scale_up call is a no-op but 4 workers will come online. Should we update the target number of workers or inform the user that scaling

[2018-07-31 21:58] mrocklin commented on #112
I think that scale should set a target state that the system should try to
achieve.  After waiting a suitable amount of time I would expect the number
of workers to match the most recent scale call.  I think that in both cases
we would ideally cancel the pending jobs.  Presumably we would call qdel
(or equivalent) on the pending jobs before moving on to ask the scheduler
to remove workers.

On Tue

[2018-08-01 08:04] guillaumeeb commented on #85
@rabernat OK to close this?

[2018-08-01 08:07] guillaumeeb commented on #91
I'll work on this one!

[2018-08-01 10:51] guillaumeeb commented on #91
I started from the format found in [LocalCluster](https://github.com/dask/distributed/blob/master/distributed/deploy/local.py#L143), in order to have some consistency:
[code]

[2018-08-01 10:52] guillaumeeb commented on #91
I will open a PR for discussion.

[2018-08-01 11:01] guillaumeeb commented on #96
I'm working currently on deploying a JupyterHub with BatchSpawner on CNES PBS cluster. Let me know if I can help in any way: giving advice, config, installation steps... We're at the beginning right now, but hopefully I'll have something more consistent in a few weeks.

[2018-08-01 11:02] guillaumeeb commented on #98
@jahmman, have you find a solution to this?

[2018-08-01 11:15] guillaumeeb commented on #102
@bstrdsmkr do you still have questions on this topic? Has @mrocklin answered to your need?

[2018-08-01 11:27] guillaumeeb commented on #90
Would we? Would that be happening a lot?

Should we do that? Or maybe implement some more generic superclass to LocalCluster upstream, that we can reuse here?

[2018-08-01 11:30] guillaumeeb commented on #87
From what I can see, the release has been done on 07/09. Should we close this issue, or maybe do another release soon due to all recent changes, I'm thinking to #63, but also incomming #78.

[2018-08-01 12:32] mrocklin commented on #96
You may be interested in
https://github.com/jupyterhub/batchspawner/issues/101

On Wed, Aug 1, 2018 at 7:01 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-01 12:38] mrocklin commented on #90
Perhaps.  I haven't investigated this enough to know what the right
approach is.  If someone wants to make progress on this they might look at
all of the modifications that LocalCluster does when starting up a
scheduler and write those up so that it can help inform discussion.  I
suspect that we might be able to put some of that logic into the Scheduler
constructor itself, or perhaps some other cl

[2018-08-01 12:52] ocaisa commented on #96
We actually used JupyterHub with `dask-jobqueue` in a recent tutorial for [JURECA](http://www.fz-juelich.de/ias/jsc/EN/Expertise/Supercomputers/JURECA/Configuration/Configuration_node.html). I had little experience with JupyterHub prior to that. The ease of introduction with JupyterHub was great but JupyterHub itself was a little unstable when the number of users increased (that might well be a lo

[2018-08-01 20:28] guillaumeeb commented on #111
Cross referencing the work of @jhamman on https://github.com/pangeo-data/pangeo/pull/304 here, this already work in progress!

[2018-08-02 02:32] raybellwaves opened #115 "Add LSF docker files to CI"
See examples for PBS, SGE and SLURM here https://github.com/dask/dask-jobqueue/tree/master/ci

I don't any docker experience. However, people are welcome to point me to resources.

[2018-08-02 02:57] raybellwaves commented on #4
This has been merged now. Happy to know if it works on other LSF schedulers. Not just UM Pegasus.
One thing which cropped up for me again was the `psutil` issue at showed as my first comment in the PR. If this comes up for others we could add `psutil` to the dependencies as installing `psutil` made it go away. But If it's just something unique to pegasus I'll just have to remember to install it.

[2018-08-03 03:20] raybellwaves opened #116 "Can't access dashboard"
Apologies for bringing this up again as it has been discussed in https://github.com/dask/dask-jobqueue/issues/71 and https://github.com/dask/dask-jobqueue/issues/80. The discussions in those haven't helped. Hopefully this is a quick fix and I can show my colleagues how cool the `LFSCluster` is :)

I tried the example from pangeo (http://pangeo-data.org/setup_guides/hpc.html#deploy-option-1-jupyter

[2018-08-03 05:34] guillaumeeb commented on #116
Hi @raybellwaves.

First, we will try to make the tunneling work for jupyter. Could you show the logs of Jupyter? Especially if it tells something like :
[code]

Then, use this url for tunneling, e.g. in my case :
[code]

[2018-08-03 13:37] lesteve commented on #4
I am going to close this one since the associated PR has been merged.

@raybellwaves note you can use "Fix #issueNumber" in your PR description, this way the associated issue gets closed automatically when the PR is merged. For more details, look at [this](https://github.com/blog/1506-closing-issues-via-pull-requests).

About the psutil problem that you bumped into, I think it's quite hard to gues

[2018-08-03 13:37] #4 closed

[2018-08-03 14:31] guillaumeeb commented on #106
Closed with #110.

[2018-08-03 14:31] #106 closed

[2018-08-04 02:46] raybellwaves commented on #116
[code]
My tunneling command is:
[code]
This tunneling works. Thanks
<img width="901" alt="screen shot 2018-08-03 at 10 15 31 pm" src="https://user-images.githubusercontent.com/17162724/43671584-d71a7a34-976a-11e8-973b-347132e79ddc.png">

Now clicking on the dashboard http://10.10.0.13:8787/status I get:
<img width="281" alt="screen shot 2018-08-03 at 10 17 09 pm" src="https://user-images.githubuse

[2018-08-04 02:55] jhamman commented on #116
I'm not sure why but it looks like the dashboard is not being served from localhost (127.0.0.1) as is the case for your notebook server.

[2018-08-04 03:06] jakirkham commented on #111
Probably worth linking [this comment]( https://github.com/dask/dask-jobqueue/issues/80#issuecomment-400947329 ) as well since that has a little more details about how to set it up. Not that there is much to setup at all.

[2018-08-04 04:26] raybellwaves commented on #116
@jakirkham thanks [nbserverproxy](https://github.com/jupyterhub/nbserverproxy) looks promising but I can't seem to get it working:

[code]
Open http://localhost:8888 on my laptop and try the [README example](https://github.com/jupyterhub/nbserverproxy#example)
<img width="769" alt="screen shot 2018-08-04 at 12 21 12 am" src="https://user-images.githubusercontent.com/17162724/43672461-5bb26b4c-977c

[2018-08-04 15:14] guillaumeeb commented on #111
@jakirkham, I tried nbserverproxy with no luck, as mentionned in pangeo thread. Could you look at it to see if you're doing things differently? I'll give it another go when I have some time.

[2018-08-06 03:44] raybellwaves commented on #116
http://pangeo-data.org/setup_guides/hpc.html#deploy-option-1-jupyter-dask-jobqueue did have the solution after all.

I would open `ipython` and inspect the `client`
[code]

Next I would use that ip to start my notebook `jupyter notebook --no-browser --ip=10.10.0.14 --port=8888`

Then on my laptop tunnel as `ssh -N -L 8888:10.10.0.14:8888 rxb826@pegasus.ccs.miami.edu` and open http://localhost:8888

[2018-08-06 06:26] guillaumeeb commented on #116
It is true that this part of the docs is a little misleading with the localhost everywhere, any improvement welcome!

[2018-08-06 15:47] raybellwaves opened #117 "KeyError in plugin.add_worker"
I finally got to kick the tires of the `LSFCluster` today.

I created https://github.com/raybellwaves/dask-jobqueue_test_lsf/blob/master/dask-jobqueue_test_lsf.ipynb which is adapted from https://www.youtube.com/watch?v=nH_AQo8WdKw

The general queue was heavily loaded today so even though I set off 50 workers only ~2/3 were running (the others remained pending).
![screen shot 2018-08-06 at 11 36

[2018-08-06 21:30] raybellwaves commented on #111
@guillaumeeb I was the same. I ended up opening an issue over there https://github.com/jupyterhub/nbserverproxy/issues/45 but closed it once I had the `ssh` solution working.

[2018-08-07 07:08] guillaumeeb commented on #117
It looks like you've got a memory issue. Calling `df.persist()` tries to load your generated dataset into memory, but apparently there is not enough memory per worker, so I assume some workers die and try to restart, this is always the same job ids that appear in your log.

We should probably handle better this case though. Do some Error catching, or and if somewhere there https://github.com/dask/

[2018-08-07 08:29] guillaumeeb commented on #111
Okay, so I've found the problem with my setup : Dask dashboard was bind to a given network interface, but apparently nbserverproxy was not able to proxy to this one, it was probably trying another interface, don't know why though.

So in order to make nbserverproxy work, I add to use the trick described in #90: bind the dashboard to all interfaces.

[2018-08-07 08:56] guillaumeeb commented on #90
This feature is important for being able to use Dask easily with infiniband, and to make sure it works with nbserverproxy.

I observed the same problem as @lesteve trying its diff, the other way around though (specifing 8787, having some random port displayed, but dashboard up on 8787), but I assume it is the same issue.

Current solution is not really elegant though, it is more of a hack. Ideally

[2018-08-07 09:38] guillaumeeb commented on #90
Another solution, that does not need modification to LocalCluster, is to just use `ip=''` parameter when launching `LocalCluster`. From what I understant looking at dask distributed sources, it will bind all services (scheduler too), to listen to all interfaces.

Do someone believe that this is a problem ?

With #107, we can easily do this:
[code]

But we could also make it by default directly in

[2018-08-07 12:37] guillaumeeb commented on #90
So @mrocklin, once #107 is in (I believe we should keep it, to give the choice to the user to not bind on all interfaces if he wants), is this okay for you if I propose another PR wich sets LocalCluster `ip = ''` by default ?

This will probably remove some lines from the one added in #107, as this default will get set no matter if interface is provided or not. I prefer to do this in another PR to

[2018-08-07 12:40] mrocklin commented on #90
The common case use of LocalCluster is for local machines.  It should
continue to respond only to localhost or 127.0.0.1 by default for these
cases.  Otherwise we open up all dask users to having their machines stolen.

Recall that Dask opens up a connection that other people can connect to to
run arbitrary Python code.  Having the required address for the TCP server
remain localhost is a very use

[2018-08-07 12:46] guillaumeeb commented on #90
I agree with that, but I'm not sure that my proposal was clear enough. I just want to do the modifications in dask-jobqueue core.py file, when initializing LocalCluster here. Replace the defaults `socket.gethostname()` and `get_ip_interface(interface)` by `''`.

[2018-08-07 13:05] mrocklin commented on #90
Ah, sorry.  I thought that you were referring to the default in the
LocalCluster class itself

On Tue, Aug 7, 2018 at 8:46 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-07 20:19] jhamman commented on #117
I agree. There is a good chance your persist call is running out of memory. However, the `KeyError` worries me.

If line 63 raises a `KeyError`, that means we were not tracking that key as a pending job. This sounds like a bug. Could be in in the submit step's parsing or in the parsing of the worker name. This would probably be worth debugging.

https://github.com/dask/dask-jobqueue/blob/392a9278a

[2018-08-07 20:46] raybellwaves commented on #117
Yes I think it is an memory issue as well. It got it to work by making my test smaller (one year instead of ten) and made minor modifications such as adding the `walltime` and submitting to our bigmem queue, which can have 250GB per job https://github.com/raybellwaves/dask-jobqueue_test_lsf/blob/master/dask-jobqueue_test_lsf.ipynb

I think it's going to be quite common for me to only have a few jo

[2018-08-08 12:50] guillaumeeb commented on #117
Not sure if it is possible, but my assumption was that:

1. Job id is in pending state, worker starts for the first time, job id leaves pending state.
2. Worker gets out of memory and is shutdown, but the callback `remove_worker` is still called.
3. Worker is restarted, but there is now nothing in pending state.

[2018-08-08 14:35] jhamman commented on #117
okay, that makes me think we should add a `restart` method to the plugin class.

[2018-08-08 15:13] raybellwaves commented on #117
An automatic e-mail came through today regarding the memory limit

rxb826: 18 process killing(s) noticed on pegasus2
Aug  7 15:50:40: python (mem=56452 MB, pid=21564) on node n087
Aug  7 15:50:42: python (mem=62749820kB, pid=32598) on node n091
Aug  7 15:50:43: python (mem=61939756kB, pid=11739) on node n086
Aug  7 15:50:44: python (mem=61939756kB, pid=11881) on node n086
Aug  7 15:50:43: python (

[2018-08-08 20:08] #90 closed

[2018-08-08 20:14] guillaumeeb commented on #111
@raybellwaves, could you give another go to nbserverproxy solution, now that #119 is in master?

[2018-08-09 04:15] raybellwaves commented on #111
I haven't actually used jupyterhub before so you may want to ask someone with more experience than I. I still gave it a go though and my build notes from scratch are below. I made it as far as to 'sign up with github button' but it wasn't really responding after that

[code]

[2018-08-09 05:26] guillaumeeb commented on #111
@raybellwaves ah sorry, I did not make myself clear enough. I just wanted you to test the nbserverproxy solution with your current procedure : user launched notebook. Something like that :

[code]

Do the ssh tunneling thing to access to your notebook (and only your notebook). Then in your notebook, launch Dask using jobqueue, and go to
[code]
or wathever port Dask Dashboard has been launched to.

[2018-08-09 15:25] raybellwaves commented on #111
No problem. I've been meaning to try jupyterhub for a while anyway so it was a good learning experience.

Ok. I'll give it a go later or tomorrow.

[2018-08-10 07:14] guillaumeeb opened #120 "How to scale manually during computation in a notebook"
For demonstration purpose, I would like to show the possibility of manually scaling the cluster size during a computation. I just don't know how to do it from a running notebook or if it is possible.

Should I use adaptive scaling ?
I try to use the ipywidget of cluster with no luck, scaling was triggered after current computation.

[2018-08-10 07:29] guillaumeeb commented on #120
Adaptive is a good solution, but I'm still interested to know if there is a way to do it manually.

[2018-08-10 11:50] mrocklin commented on #120
You would call an asynchronous function, like persist, rather than
compute.  That way you'll still have access to the notebook.

On Fri, Aug 10, 2018 at 3:29 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-10 12:17] guillaumeeb commented on #120
Thanks @mrocklin! With hindsight, sorry for the lack of description in this issue. For some background, I was playing with the dask-example on time series :
[code]

So I think your answer is perfect, because my question was about Dataframe.

For the record, it is easily feasible with Future API using Client, that's a similar behavior I was trying to achieve with Dataframes:
[code]

Some questions

[2018-08-10 15:51] guillaumeeb commented on #120
Ok thanks, that's fine for me!

[2018-08-10 15:51] #120 closed

[2018-08-10 19:59] guillaumeeb commented on #111
That's better.
Were your workers started at that moment?

[2018-08-10 20:18] raybellwaves commented on #111
Yes. I just checked again.

Actually it works now if I just click on the dashboard link

<img width="530" alt="screen shot 2018-08-10 at 4 15 36 pm" src="https://user-images.githubusercontent.com/17162724/43979446-cc794e7c-9cb8-11e8-8a5c-1ce77a2dfdce.png">

<img width="847" alt="screen shot 2018-08-10 at 4 14 18 pm" src="https://user-images.githubusercontent.com/17162724/43979456-d4a258a0-9cb8-11e

[2018-08-10 20:27] guillaumeeb commented on #111
@raybellwaves it looks like you're not using nbserverproxy in your last comment. Is is probably as you say, just the binding to all interface that solved your problem.

Could you try again with the http://`localhost`:8888/proxy/`dashboardport`/status URL? Maybe its what you just did and there still was a problem?

[2018-08-10 20:42] raybellwaves commented on #111
Correct. It seems to work without `nbserverproxy` for me now.

Yes. I made sure that my jobs were running. I still get the empty dashboard as shown above
I don't think I am missing something in the setup of the `nbserverproxy`?

[2018-08-10 22:08] wgustafson opened #122 "Handling workers with expiring allocation requests"
I am trying to figure out how to handle the case of dask workers getting bumped from a cluster due to their requested allocation time expiring. From the intro YouTube video at https://www.youtube.com/watch?v=FXsgmwpRExM, it sounds like dask-jobqueue should detect when a worker expires and automatically start a replacement, which is what I want. However, my testing on DOE's edison computer at NERSC

[2018-08-11 19:37] guillaumeeb commented on #122
Thanks for this really interesting test! I haven't encounter this yet, as I am currently only using dask for interactive analysis, and usually computations I launch have enough workers to end in a few minutes maximum.

However, I believe that, at least with adaptive cluster, for long running processes, workers should be restarted when allocation time expires. I will certainly need this in the near

[2018-08-12 12:59] adamhaber opened #123 "LSFCluster won't start workers"
Hi,

I'm trying to follow the example given in #78 and I get the following error message:
[code]

Some additional details:
 dask_jobqueue - 0.3.0+18.gbe20cad'
python version - 3.6.5
OS - Linux RedHat 7.3

ADD: `cluster.scale(2)` gives the same error.

Any help would be appreciated.

[2018-08-12 23:48] mrocklin commented on #122
What you're describing seems like it's in scope for dask-jobqueue, but it's not currently implemented.  This could be resolved by recording a set desired number of workers and re-scaling whenever a worker goes away, which could probably be handled by the `remove_worker` method of the `JobQueuePlugin(SchedulerPlugin)` class.

[2018-08-13 05:33] guillaumeeb commented on #123
Hi,

Could you just submit a job to your cluster and give us the ouput that is printed on you screen?

It looks like when submitting the job launching workers to LSF, we did not get the exepected output, something like:
[code]

Additionnaly, can you precise how you submit job to your cluster? Our code uses
[code]

Finaly, you could try to submit a for launching workers yourself.
In python :
[code]

[2018-08-13 06:58] mrocklin commented on #122
The adaptive class checks the scheduler state frequently, so I would expect
it to handle this case decently well.

On Mon, Aug 13, 2018 at 1:24 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-13 06:58] mrocklin commented on #122
Hooray!

On Mon, Aug 13, 2018 at 1:24 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-13 08:35] lesteve opened #124 "Github admin rights"
I just noticed that I don't have the admin rights on the github project. What I mean by this is that I can not see the "Settings" tab. Here is a snapshot from joblib for which I have the admin rights:

![screenshot_2018-08-13 joblib joblib](https://user-images.githubusercontent.com/1680079/44020983-e8c70ee8-9ee3-11e8-8abe-7c55efb916aa.png)

@mrocklin would you consider granting them to a few of us

[2018-08-13 12:31] guillaumeeb commented on #122
So i've tried that with and without adaptive. As expected, without adaptive, once the worker is killed, nothing happens anymore.

With adaptive scaling, in my setup, a worker is restarted every time the previous one dies. Cool, that's what I want.

However, I'm still running into a difficult issue. Here is the code I use for some background:
[code]

The problem is, the worker is keeping all result

[2018-08-13 12:56] mrocklin commented on #124
I've just given @jhamman @guillaumeeb and @lesteve admin rights.  Thank you
all for maintaining this project.  Happy to demote myself from admin role
any time :)

On Mon, Aug 13, 2018 at 4:35 AM, Loïc Estève <notifications@github.com>
wrote:

[2018-08-13 13:00] mrocklin commented on #122
Ideally you would have a few workers that died at different times.  In this
way a "herd" of workers could keep the data alive, rather than having them
all die at the same time.  You might also consider gathering results as
they complete with as_completed

On Mon, Aug 13, 2018 at 8:31 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-13 13:13] lesteve commented on #124
Great, thanks a lot, I can see the "Settings" tab now, closing this one.

:)

[2018-08-13 13:13] #124 closed

[2018-08-13 13:15] lesteve commented on #124
With my new super rights, I have only enabled "Squash and Merge" in the "Merge" options. Please anyone shout if you see a problem with this.

[2018-08-13 13:25] mrocklin commented on #124
Rarely, I do construct PRs with a few independent changes with a few very
cleanly separated commits.  In these cases I sometimes use rebase and marge
in order to maintain history.  This is rare enough though that I'm fine
waiting until this comes up before discussing it further.  Happy to close
as-is.

On Mon, Aug 13, 2018 at 9:15 AM, Loïc Estève <notifications@github.com>
wrote:

[2018-08-13 14:04] lesteve commented on #124
If this is rare enough, doing the PR and pushing into upstream/master when the PR is ready to merge could be an option. In my experience I have found that clicking on Merge and forgetting to select "Squash and Merge" (generally because you are so happy that something eventually gets merged) and getting a noisy history is more common.

[2018-08-13 15:03] josephhardinee commented on #122
Out of curiosity, how does that work? I assume when a new worker needs to be started, a new jobscript has to be submitted. I assume that would need to be handled by jobqueue and not distributed?

[2018-08-13 16:02] guillaumeeb commented on #122
I don't exactly know how adaptive cluster is implemented in distributed, but the idea is that something is watching for dask cluster load, and calling scale method accordingly, for example if there are a lot more pending tasks than available workers.

Considering the issue here:
- adaptive is already doing the first identified need: insuring there is always a minimum number of workers alive. Is it

[2018-08-13 16:44] mrocklin commented on #122
FWIW the adaptive implementation is only 300 lines of code.  It might be a good evening read if anyone is interested:

https://github.com/dask/distributed/blob/master/distributed/deploy/adaptive.py

I don't know.  @jhamman might have thoughts.  Alternatively maybe there is some way to change Adaptive to maintain a set target rather than move that target around.

It should be possible to run a sing

[2018-08-13 17:00] jhamman commented on #122
I think this is necessary to do this correctly. Ideally we could have a `Cluster.target_workers` property. This property would be updated by both `Cluster.scale()` and `Adaptive`. My recent attempts to improve the adaptive scaling in jobqueue in #97 have highlighted the need for this.

Another thing that would be worth discussing is the ability for Adaptive to query the Cluster for pending workers

[2018-08-13 17:45] adamhaber commented on #123
Found the error - it has to do with resource requirements and `bsub` flags .

When I submit a job using the following command:
[code]

I get:
[code]
This is my usual workflow. However, the job script create by dask uses the `-M` flag. This raises the following error:
[code]

The solution: append the memory request manually using the `job_extra` argument, for example:
[code]

Thanks!

[2018-08-13 17:45] #123 closed

[2018-08-13 17:51] jhamman commented on #123
@guillaumeeb - might you be convinced to add the suggestions in https://github.com/dask/dask-jobqueue/issues/123#issuecomment-412412517 to a "how to debug dask-jobqueue" section in our docs?

[2018-08-13 17:51] wgustafson commented on #122
Sounds like you have a pretty good idea of my workflow scenario and some initial ideas on what might be needed to enable it to work predictably. Thanks for looking into this.

From @guillaumeeb it looks like there might be something going on with [NERSC's edison ](https://www.nersc.gov/users/computational-systems/edison/) computer compared to his cluster since I was not seeing any restarts, wherea

[2018-08-13 20:07] guillaumeeb commented on #123
Sure, I will open an issue just to keep that in mind.

[2018-08-13 20:11] guillaumeeb opened #125 "Add a "how to debug dask-jobqueue" section in the docs"
Based on this comment https://github.com/dask/dask-jobqueue/issues/123#issuecomment-412412517, or that of @jhamman in #99.

Some hints to see what is going wrong:
- print(cluster.jobs_script(). Launch it manually.
- Activate debug mode
- use job queuing system commands to look for any running jobs
- use job queuing system commands to inspect stderr or stdout of jobs
...

[2018-08-13 22:06] jhamman commented on #122
I was thinking this would only work when using `Adaptive`. I think a non-adaptive job that dies due to a wall-clock expiration should stay dead.

[2018-08-14 05:30] guillaumeeb commented on #122
Yep, I agree with you @jhamman, no reason to implement a more complex default behavior when most of the time this is not needed (and probably not what we want), and also when there is already a complex mechanism that answers the need.

So this works right now with `Adaptive`, and you've also opened #112 to fix the edge cases.

I let you open another issue for that part, and if you can provide some

[2018-08-14 16:53] josephhardinee commented on #122
I assume to start a new worker would require a job script be submitted to the scheduler (On systems that are not exclusive allocations). This probably has to be handled by jobqueueand I'm wondering what the mechanism for  transferring that information between distributed's Adaptive and jobqueue is? I didn't notice an explicit mechanism for this to happen.

[2018-08-14 17:43] wgustafson commented on #122
I obtained dask-jobqueue via "conda install dask-jobqueue -c conda-forge" following the [docs](https://dask-jobqueue.readthedocs.io/en/latest/install.html#conda). The versions I have for my software stack are
* Python 3.6.5 w/ iPython 6.4.0 (via conda)
* dask and dask-core 0.18.2
* dask-jobqueue 0.3.0

I have started tinkering with a simplified script based on the my_slow_task script above to see

[2018-08-14 18:07] mrocklin commented on #122
@josephhardinee

https://github.com/dask/dask-jobqueue/blob/4ea3c984be11984d047c9d38fdb81fb299d7530c/dask_jobqueue/core.py#L306-L338

[2018-08-14 19:21] josephhardinee opened #126 "Adaptive prematurely killing workers"
I think this may be related to #122 but not sure so I'll post it as it's own issue.

When I start up a PBS cluster with adaptive, it starts up the minimum number of workers, but then kills all of them after about 10 seconds. This is not the case if I scale without using adaptive. I'm attaching a notebook to show a simple example and other information.

[Adaptive Example](https://gist.github.com/jo

[2018-08-14 19:26] wgustafson commented on #122
OK, I've tested code similar to that from @guillaumeeb where he reported seeing the restarts happening. On edison, I do not get any restarted workers after the worker allocation times out. I tried using both the orginal client.gather approach as well as the as_completed approach suggested by @mrocklin.

As a check, I also tried using workers that lasted 10 minutes to make sure everything completes

[2018-08-14 20:01] guillaumeeb commented on #126
I think I got this one. If you're using master branch, argument to scale or to adaptive are not the number of job to launch anymore, but the number of worker processes to launch.

So in your example, you've apparently configured dask-jobqueue to launch workers by group of 6. When you tell adaptive to adapt from 2 to 4, it may have trouble chosing between 0 or 1 job.

But wait, this is weird as you

[2018-08-14 20:04] guillaumeeb opened #127 "Release ?"
#63 has been merged after the previous release. I think we should make a new one to account this change and other smaller ones. Moreover, without #63, adaptive seems to be broken as highlighted in #126, and probably #122.

[2018-08-14 20:09] guillaumeeb commented on #122
As mentioned in #126, I fear that adaptive mode is broken in release 0.3.0 of dask-jobqueue. It has latter been fixed by #63.

I would recommand trying master branch and see if that fixes this wrong behaviour.

[2018-08-14 20:41] guillaumeeb commented on #122
I confirm that adaptive is broken with 0.3.0, I see the same behaviour as @wgustafson: no worker is restarted after the first one is stopped.

[2018-08-14 21:53] guillaumeeb commented on #126
With #119, scheduler now listen to any network interface by default. So interface parameters is indeed ignored for scheduler binding, it is however taken into account for workers. That should not be a problem, given that scheduler should be listening on your ib0 interface too.

If you still need to tell the scheduler to listen on a specific interface, the only solution currently is the one you pro

[2018-08-14 22:40] josephhardinee commented on #126
Well the bigger issue I'm running into here is that I believe there are two separate networks. So the IP address that is being passed to the worker to connect to, is not actually accessible by the worker.

[2018-08-14 23:00] wgustafson commented on #122
I did some tests and don't necessarily have good news to report.

I uninstalled dask-jobqueue v0.3.0 and installed the current master from this afternoon, reported as v0.3.0+31.g4ea3c98. I can confirm that new workers now start when old ones time out in the SLURM queue, which is what we wanted. However, I am now unable to get any results using the code above. The workers keep cycling beyond when t

[2018-08-15 07:05] guillaumeeb commented on #122
We've seen these KeyError exceptions before. This probably means that inside one job, your worker is terminated in error and automatically restarted on and on and on.

We have to find the root cause of worker failure, sometimes it is out of memory error, but I suspect it is not in your case...

[2018-08-15 08:50] guillaumeeb commented on #126
Hm, that's a problem I did not forsee in #119. I believe when given empty ip kwargs, scheduler bind to all interfaces, but takes the first one it sees as a display attribute.

We should probably override the default address attribute in case interface kwarg is given, so do something around here: https://github.com/dask/dask-jobqueue/blob/4ea3c984be11984d047c9d38fdb81fb299d7530c/dask_jobqueue/core.

[2018-08-16 20:00] guillaumeeb opened #130 "Use number of cores as a parameter to scale()"
We've recently switched from number of jobs to number of worker processes as an argument to `scale` method. This is good for working with adaptive cluster as defined in distributed, but somehow not really easy to deal with while using dask-jobqueue, at least for me.

Ideally, we would use unitary job that spawn an entire node of our cluster. But in real life, I often find myself changing cores and

[2018-08-16 20:42] mrocklin commented on #130
This makes sense to me.  I could imagine wanting scale(cores=100) or
scale(memory='1TB') in practice

On Thu, Aug 16, 2018 at 2:00 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-17 13:45] guillaumeeb commented on #130
Yes I believe so too, @mrocklin do you agree?

[2018-08-17 13:50] mrocklin commented on #130
Yes, but only if we communicate cores-per-worker and memory-per-worker from
the downstream projects back up to the main class.  None of the projects do
this today.

On Fri, Aug 17, 2018 at 7:45 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-17 13:50] mrocklin commented on #130
This is a case where some coordination between the various dask-foo
projects for deployment would be valuable

On Fri, Aug 17, 2018 at 7:50 AM, Matthew Rocklin <mrocklin@anaconda.com>
wrote:

[2018-08-17 17:55] #125 closed

[2018-08-22 05:49] #83 closed

[2018-08-22 11:30] guillaumeeb opened #132 "Generalise job_id retrieval by regex matching"
See @willirath PR #131.

I believe this is a really good idea to use regex matching and make it configurable. We should extend this behaviour to other schedulers. Ideally, we would not need to implement `_job_id_from_submit_output` in JobQueueCluster implementations, and only have it in core.py, retrieving configuration value using scheduler name.

[2018-08-22 11:39] guillaumeeb opened #133 "Use configurable templated header with jinja2 as in batchspawner"
I feel https://github.com/jupyterhub/batchspawner is using an interesting way of templating job script. See [SlurmSpawner](https://github.com/jupyterhub/batchspawner/blob/master/batchspawner/batchspawner.py#L532) for instance.

I know we used some templated script before too, but we did not make use of jinja2 thus being force to define some useless parameters to avoid issues. This would allow us t

[2018-08-22 12:20] willirath opened #134 "worker names have `--0:jobid--` instead of `--jobid--`"
With #131 and on PBS, I get KeyErrors on the right-hand side of: <https://github.com/dask/dask-jobqueue/blob/4a10c1960e27be862560dbb6a8dd1eb8387250d7/dask_jobqueue/core.py#L61>

The `worker.name`s do not look like `'prefix--jobid--suffix'`, but like `'prefix--0:jobid--suffix'`.  Any idea where the leading `0:` comes from?

[2018-08-22 12:45] lesteve commented on #132
In SGE qsub, there is a command-line argument to just output the job-id (so in SGE there is no need for a regex). Maybe this option exists in other schedulers too?

I am not too sure about making it configurable, I am hoping that we can cover all use cases with a per-scheduler regex that lives in our code rather than saying "if your cluster is a bit weird you can always tweak your dask config".

U

[2018-08-22 13:08] guillaumeeb commented on #132
Actually I did not expect variability for PBS, so this is a first example of bad first feeling.
However, with the Torque fork, older PBS versions, there may be some other unexpected outputs.

But my first concern was for LSF, which has a very verbose output that seem to vary according to configuration. And for LSF, I'm almost sure there is no way of outputting only JOB_ID.

Maybe Slurm has some di

[2018-08-22 13:15] guillaumeeb commented on #134
See https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/pbs.py#L97, job id is retrieved inside the submitted job using JOB_ID=${PBS_JOBID%.*}.

Could you submit an interactive job and see what the PBS_JOBID env variable looks like?

JOB_ID is then used for worker name here https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/core.py#L230:
[code]

[2018-08-22 13:17] guillaumeeb commented on #134
Your cluster scheduler looks like a weird PBS version :slightly_smiling_face: !

[2018-08-22 13:35] willirath commented on #134
!

[2018-08-22 13:45] willirath commented on #134
Adding `"JOB_ID=${JOB_ID#*:}"` to the `env_extra` keyword fixes it. Thanks!

[2018-08-22 13:54] lesteve commented on #132
I had a quick look at the infamous ipyparallel [file](https://github.com/ipython/ipyparallel/blob/master/ipyparallel/apps/launcher.py) mentioned in #49. You can look for `job_id_regexp` to figure out which regexp is used by controllers to parse the job-id from the submission command output. The controllers use `r'\d+'` for finding the job id, except HTCondor which uses `r'(\d+)\.$'`).

Maybe we ca

[2018-08-23 05:56] guillaumeeb commented on #134
Cool! Nice use of `env_extra`. As your cluster seems really peculiar, can we close this issue? I don't think we could generalize this with a PR.

[2018-08-23 06:29] guillaumeeb commented on #132
Yeah its a tough file !

Doing at least that sounds really good! From what I've seen here, this single regex could cover all our implementation needs.

FWIW, here are some example of submission outputs:
- PBS
[code]
- Slurm:
[code]
- LSF
[code]
- HTCondor (taken somewhere on internet):
[code]
- SGE (with correct option, as I understand):
[code]

[2018-08-23 06:36] guillaumeeb commented on #132
I understand your point, no need to make it configurable if nobody needs it. This is probably true here.

However, in https://github.com/ipython/ipyparallel or https://github.com/jupyterhub/batchspawner, they seem to chose a different approach of making everything configurable if someone ever needs it. Not sure what is the right thing to do. I find it interesting to not being forced to patch or do

[2018-08-23 08:10] willirath commented on #134
Yes, this can be closed.  Our PBS is a very rare one, this does not need to be in the main code.

[2018-08-23 08:10] #134 closed

[2018-08-23 20:44] guillaumeeb commented on #130
After a dask-jobqueue presentation today with teams doing heavy flight dynamics computation, I believe that this proposal could be an important improvement for easier adoption. They were really enthusiast with the tool, but explaining the scaling parameter was a pain point, even given it's not that hard. Dealing with scheduler jobs not corresponding to number of workers is unclear.

I see two ways

[2018-08-23 22:42] mrocklin commented on #130
I agree that doing the second option would be nicer.  I think that this requires us to develop a convention used by the dask deployment subprojects to record cpu and memory per worker in a standard way.  I'll raise an issue upstream.

[2018-08-23 22:49] mrocklin commented on #130
Raised upstream at https://github.com/dask/distributed/issues/2208

[2018-08-24 11:00] guillaumeeb commented on #127
ping @mrocklin @jhamman @lesteve

Maybe we should wait for #118 #131  and #135, that should get in soon.

[2018-08-24 12:11] lesteve commented on #127
What is the status of #97? I haven't followed closely but my feeling is that adaptative still have some quirks that would be nice to iron out.

[2018-08-24 20:06] guillaumeeb commented on #122
In order to move forward here, @wgustafson could you provide the first error you see in the slurm.out file? We need to find the root cause of worker dying prematurely.

[2018-08-24 20:13] #126 closed

[2018-08-24 20:14] guillaumeeb commented on #126
@josephhardinee, if you find time to give a go to last updates in master branch, your problem should be fixed.

[2018-08-24 20:38] #85 closed

[2018-08-26 13:09] adamhaber opened #139 "Error when scaling a function over a wider range of parameters (LSFCluster)"
Hi,

I'm trying to compute some function over a wide range of parameters using `LSFCluster`.

The general outline is as follows:
[code]

When I try to compute with X=Y=20, everything goes smoothly.
However, when I increase the range of parameters over which I'm computing `f(x,y)` (for example = X=Y=100), I get an error message I don't understand:

[code]

Just to be sure, I ran `bjobs -r` and inde

[2018-08-26 19:08] guillaumeeb commented on #139
We've seen this error in other cases, see #117 for example. Currently, we believe it is due to workers restarting for some reason, which reveal some bug in dask-jobqueue code, see #138.

So probably the KeyError is not the root cause of your problem, justa  consequence. It would be nice if you could check your workers logs and see if you see any restart. This is often due to out of memory problem,

[2018-08-27 05:58] adamhaber commented on #139
I searched for useful logging information, this is what I found so far:

1. The `dask-worker-space` folder is filled folders that are either called `worker-XYZ` or `worker-XYZ.dirlock`. All folders seem to be empty.
2. I did `cat dask-worker.err | grep WARN` and found different kinds of warning; the most common ones (which seemed informative to me) were:
[code]

So there were indeed restarts. Hope

[2018-08-27 06:29] guillaumeeb commented on #139
What is your configuration of LSFCluster (either in jobqueue.yaml, or you constructor parameters)?

From what you say, I suspect you use a shared space for worker local-directory.

[2018-08-27 08:13] adamhaber commented on #139
I haven't changed `jobqueue.yaml` at all - it's all commented out (it doesn't seem to have a section for LSF like it has for sge, slurm, pbs and moab).

In my constructor, I use:

`cluster = LSFCluster(queue="new-medium", cores=8, memory="4G", job_extra=['-R rusage[mem=4000]'])`

Regarding a shared space for worker local-directory - can you elaborate on this? I'm not sure I understand the problem

[2018-08-27 08:27] guillaumeeb commented on #139
See https://dask-jobqueue.readthedocs.io/en/latest/configuration-setup.html#local-storage.

It is highly recommended to use space local to computing nodes for local-directory kwarg: /tmp, /scratch or anything you've got on your cluster.

I don't know if this is what is causing your workers to restart, though. Could you print the logs file around

[code]

Does you job scheduler kills specific proce

[2018-08-27 14:39] adamhaber commented on #139
Most of the these warnings accompanied by variants of:
[code]
And yes - LSF kills jobs that reach their maximal allocated memory. But like you said - I don't think this is what happens here...

[2018-08-27 17:04] wgustafson commented on #122
I re-ran the code to get the STDOUT and STDERR in slurm.out. This caused the IP addresses to change, so below I include both the slurm.out and dask-worker.err log output. The code and slurm submission script are from my previous comment on August 14, 2018 (above). Note that I am getting the print output from print(cluster.job_script()) but I never get the final results printed from the actual calc

[2018-08-27 19:36] adamhaber commented on #139
Regarding the local space - I think I've found the corresponding environment variable in LSF - aptly named [LSF_TMPDIR](https://www.ibm.com/support/knowledgecenter/en/SSETD4_9.1.3/lsf_config_ref/lsf.conf.lsf_tmpdir.5.html). :-)

However, it's not clear to me how to pass this to `LSFCluster` (as in [here](https://dask-jobqueue.readthedocs.io/en/latest/configuration-setup.html#local-storage)). I've

[2018-08-27 21:00] wgustafson commented on #122
I just tried manually stepping through the code and watching files get created on the disk system as I go. For my setup, I was using the default system temp drive, which is /tmp via $TMPDIR. I did not see anything get created in it. The directory containing the code was in my home directory, which is cross-mounted to the compute nodes on edison. So, it may not be possible to do file locking for it

[2018-08-28 06:38] guillaumeeb commented on #122
I was not clear on my above comment, it looks like your not defining `local-directory` in jobqueue.yaml conf file or using `local_directory` parameter in the SlurmCluster constructor.

Your workers are launched with
[code]
where there is no `--local-directory` option.

Use
[code]
if the environment variable `TMPDIR` is set. Else something like '/tmp'.

This may not be the root cause of your proble

[2018-08-28 06:41] guillaumeeb commented on #139
Looks like the variable `LSF_TMPDIR` is not set inside your submitted jobs then. You could launch an interactive job on your cluster and see if you see any usefull environment variable defined by printing the env.

Else, just try to use some local disk like `/tmp` or maybe ask your cluster admins if there is some local space to use on your compute nodes.

[2018-08-28 07:18] adamhaber commented on #139
The nodes have both `/tmp` and `/scratch` - I've tried using both of them, but still got the same error message from above (about the unresponsive event loop)...

[2018-08-28 07:44] guillaumeeb commented on #139
I'm using PBSCluster which does not defined commons .err or .out files. However, if I did this, they would be created for each new job I would launched, so every time a single dask-worker job ends. This may not be a good default setting... With default PBSCluster, I've got one output file per worker job. I would recommand adding the %J meta character in the template as a PR, see https://www.ibm.co

[2018-08-28 10:37] guillaumeeb commented on #122
I've just noticed with #139 that in LSF and SlurmCluster template script, standard error and output files are configured to be written in `job_name.err` and `job_name.out`, so `dask-worker.err` and `dask-worker.out` with default settings.

This is probably not a good idea, as defining that using PBS for example would lead to file being overwritten every time a unitary job ends, this is probably th

[2018-08-28 10:44] guillaumeeb opened #141 "Change stdout and stderr default setting in LSF and Slurm cluster implementation"
As mentionned in #122 and #139, default values for job output files in LSF and Slurm implementation are
[code]

If those configuration parameters have similar behavior as those from PBSPro, then this means every job submitted by dask-jobqueue will use this file name for writting its stdout and stderr when finished. So at one time, we will have only the last finished job stderr and stdout.

I'm not

[2018-08-28 10:54] adamhaber commented on #139
Sure - here's a toy script that reproduces the problem:

[code]

[NEST](http://www.nest-simulator.org/) is a neural simulator kernel with a python interface. As far as I understand, it needs to run in its own dedicated folder, hence all the `os` hacking.

When I run this with `size=5` it works OK.
When I run this with `size=1000` I get all sorts of different errors...

[2018-08-28 13:32] mrocklin commented on #141
Perhaps we should make a directory for log files and then flood that
directory?

On Tue, Aug 28, 2018 at 6:44 AM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-28 14:06] guillaumeeb commented on #139
Hm, hard to reproduce as it needs the installation of nest, I will see if I can easily install it or not.

Do you reproduce the behavior without Nest? Could it be related to it?

[2018-08-28 14:11] adamhaber commented on #139
I couldn't reproduce the behaviour without nest, so it's probably related.

I'll try to reproduce it locally (on a single multicore machine with dask and nest) and will post an update.

[2018-08-28 21:26] wgustafson commented on #122
Today, I have been testing the code with the two changes based on your suggestions plus adding an extra timeout setting. This often works, and seems to be reliable for small requests that do not spill into a second process. However, when I scale up the problem to more calls to my_slow_task I start getting unreliable behavior. Often, the job never completes properly and I get no output. Sometimes t

[2018-08-29 05:31] guillaumeeb commented on #122
Glad to here we were able to address some of the issues here.

Do this work sometimes? I would think not.
Considering the use case you've given above:

[code]

My personnal experience is that you won't be able to submit more than 5 tasks at once to Dask. Maybe batching and doing multiple calls to `client.map` would work, not sure. See comment above https://github.com/dask/dask-jobqueue/issues/122#

[2018-08-29 09:37] #116 closed

[2018-08-29 13:20] lesteve commented on #141
Yeah and an additional parameter in the `JobQueueCluster.__init__` as well. We may need to create the folder before, if it does not exist. I seem to remember that SGE fails not very helpfully when you are using a log folder that does not exist.

[2018-08-29 13:30] lesteve opened #142 "Should JobQueueCluster._call raise if the command has a non zero exit code?"
I think there should be an exception if the submission command has a non zero exit code.

A slight side-effect of #132 is that you now get an exception later in the job id parsing which is not ideal.

This is on dask-jobqueue master using a queue that does not exist:
[code]

This is the output you get (on stderr):
[code]

So basically you get some warning that the submission output had some stderr

[2018-08-29 13:38] mrocklin commented on #142
Using logging to surface stderr from system calls that return non-zero exit
codes sounds good to me.

On Wed, Aug 29, 2018 at 9:30 AM, Loïc Estève <notifications@github.com>
wrote:

[2018-08-29 16:13] wgustafson commented on #122
Most of the testing I did that I remember working for `my_slow_task` was with 5 calls to the subroutine via `client.map`. The testing yesterday with 20 and 80 was failing. Over the day today, I'll try to submit some different sizes and be more systematic about documenting the behavior.

I have more complicated code that makes matplotlib plots in each call to the subroutine, and then a different ve

[2018-08-29 23:09] jhamman commented on #98
I think we can close this now. I haven't seen it in a while so I'm guessing it was an environment issue.

[2018-08-29 23:09] #98 closed

[2018-08-30 05:30] jhamman commented on #127
Status of #97. Not done. Could use some beta testers / new ideas. We can make a release without those changes but I'd like to make sure a few others understand the complications therein.

[2018-08-30 05:52] guillaumeeb commented on #122
I think this is not related to dask-jobqueue anymore, and that this should be handled upstream.

[2018-08-30 06:05] jhamman commented on #133
I think this is a good idea. I think our current approach made sense as a starting point but poses some challenges when maintaining many job schedulers.

[2018-08-30 07:57] guillaumeeb commented on #141
As PBS doesn't handle any replacement symbol in the output files option, the easiest is to do the qsub inside the log files directory. This should be fine for other schedulers too.

[2018-08-30 08:30] guillaumeeb commented on #111
I don't think I am missing something in the setup of the nbserverproxy

You could be on a dashboard from another cluster, maybe the dashboard port is not the right one.

[2018-08-30 08:33] guillaumeeb commented on #142
Yep, sounds good to me too.

[2018-08-30 08:35] guillaumeeb commented on #132
Closing this as this is resolved in #131

[2018-08-30 08:35] #132 closed

[2018-08-30 08:56] adamhaber commented on #139
I can confirm that the error is not NEST related - I get the same `KeyError: '299511'` error when I tried to use a regular, numpy-only function, instead.
Sometimes I also get `distributed.utils - ERROR - Worker already exists tcp://...`.

[2018-08-30 09:05] guillaumeeb commented on #139
Could you provide a reproducible example of this problem with numpy only?

[2018-08-30 09:28] adamhaber commented on #139
Sure - it's a simple function that takes a list of "event times" and "event senders" and returns a binarized raster of size n_senders x n_time_bins:
[code]
When I do:
[code]
It works fine. But when I do:
[code]

I get the above mentioned errors.

[2018-08-30 10:40] guillaumeeb commented on #139
I miss your recording objects here `open("/data/rec_{0}.pkl".format(i),'rb')`. Are thos complicate to generate, replicate?

[2018-08-30 10:40] guillaumeeb commented on #139
And other question, did you try to use the Dask dashboard for diagnosing any eventual problem (memory, CPU, or any contention)?

[2018-08-30 13:08] adamhaber commented on #139
I'm attaching an example for such a file - you can replicate it a few times with different suffixes to replicate what I did above...

[recs_0_github_example.zip](https://github.com/dask/dask-jobqueue/files/2336262/recs_0_github_example.zip)

[2018-08-30 15:17] jakirkham commented on #111
It sounds like this is a bug fixed in `master`. Though downgrading should be equally effective at resolving the issue.

xref: https://github.com/jupyterhub/nbserverproxy/issues/39

[2018-08-30 15:38] wgustafson commented on #122
Following up on yesterday's post, I tested the code and was able to get it to work with 5, 10, and 15 calls to the subroutine. But, it would always fail with 20 calls. So, I can corroborate your experience. I tried 3 times throughout the day to see if the machine state matters. This feels like some sort of timeout setting that needs to be adjusted, but I am not familiar enough with dask to know wh

[2018-08-31 19:54] guillaumeeb commented on #122
This is very interesting, I have not used `as_completed` yet, but it could allow you to gather results as soon as they are computed, and so not being forced having the computation end in one workers allocation.

We could wait for an external perspective or open an issue upstream in distributed tracker, as you wish, but I cannot help anymore.

[2018-09-02 07:32] guillaumeeb commented on #141
After some conversation with @lesteve in #145, I believe we have three choices:
- Creating a folder, and submitting jobs from this directory using `cwd` arg in `Popen`. This could lead to some edge problems, mainly with eventual use of relative paths into user workflow. This is the better for having a good file name, at least for PBS.
- Creating a folder, and configuring job script to use it for s

[2018-09-02 10:03] lesteve commented on #141
Can you give the detail about the default PBS name? As long as the job id is in the name for the automatic PBS log name I think this is good enough.

I know it works for SGE (for SGE the automatic name when only specifying the folder is `<job-name>.o<job-id>`). If schedulers don't support using a folder for `-e/-o` but they allow variable expansion in their directives (e.g. for SLURM you can do so

[2018-09-04 15:30] guillaumeeb commented on #139
Hm, still need nest with your example it seems:
[code]

I again recommend looking at the Dask dashboard to see if anything weird (memory or CPU issues ?) arises.

[2018-09-05 19:30] guillaumeeb commented on #127
I think we should move on and release soon. I've never done that, but can try tomorrow.

[2018-09-05 19:32] mrocklin commented on #127
I would be happy to help walk you through it.  I typically follow the checklist here: https://github.com/dask/dask/blob/master/docs/release-procedure.md

I'll need to add you as a maintainer of the project on PyPI.  Do you have an account there already?

[2018-09-05 19:38] guillaumeeb commented on #127
Nope, don't think so, will create it.

[2018-09-05 19:40] guillaumeeb commented on #127
Done, same login as github.

[2018-09-05 19:44] mrocklin commented on #127
You should now have push access to PyPI.  Do the steps in the release
procedure doc make sense to you?

On Wed, Sep 5, 2018 at 3:41 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-09-05 20:00] guillaumeeb commented on #127
Generally yes. Don't know twine though, and conda forge part looks a bit more complex, but that should be ok.

[2018-09-05 20:02] mrocklin commented on #127
You should be able to just pip install twine and then follow instructions.

On Wed, Sep 5, 2018 at 4:00 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-09-05 20:09] guillaumeeb commented on #127
Perfect, will try tomorrow and get to you if I encounter some issue. Thanks !

That leaves some hours for others to chime in if against a release now.

[2018-09-06 07:38] willirath commented on #127
This is not necessarily true any more:  You can skip the rerendering part and trigger this with a comment in the discussion after creating the PR with just the `recipe/meta.yaml` updated to the new version (hash, version number, reset build number):

https://conda-forge.org/docs/webservice.html#conda-forge-admin-please-rerender

[2018-09-06 11:05] mrocklin commented on #127
Conda forge bots will also probably pick up the change once it's on PyPI.
I recommend pushing to PyPI and then waiting for a while to see what
happens.

On Thu, Sep 6, 2018 at 3:38 AM, Willi Rath <notifications@github.com> wrote:

[2018-09-06 14:10] guillaumeeb commented on #127
dask-jobqueue (0.4.0) pushed to PyPI.

Waiting for conda-forge as recommended by @mrocklin.

[2018-09-06 14:33] guillaumeeb commented on #127
Done!

[2018-09-06 14:33] #127 closed

[2018-09-06 20:18] #111 closed

[2018-09-06 20:22] #99 closed, assigned to nobody

[2018-09-06 20:28] guillaumeeb commented on #49
Closing this for now, we may want to look at it again for some other scheduler implementation, was useful for LSF. We may also want to look at this for #133, along with https://github.com/jupyterhub/batchspawner.

[2018-09-06 20:28] #49 closed

[2018-09-06 20:29] guillaumeeb commented on #43
It seems these errors have become very rare if not gone for good. Closing.

[2018-09-06 20:29] #43 closed

[2018-09-06 20:32] guillaumeeb commented on #122
@mrocklin it would be good if you could take a look at this one, more precisely the last 3 or 4 comments.

[2018-09-06 20:53] #46 closed

[2018-09-06 21:02] mrocklin commented on #122
[code]

You might consider avoiding having a reference to the futures in `feedback`

[code]

This means that as futures are completed you collect their result, and then they go out of scope.  Once they're out of scope there is no need to recompute them if the worker that they were computed on dies.

For as long as you have the futures in the `feedback` list in your local scope, Dask will try to ma

[2018-09-10 15:28] guillaumeeb commented on #122
Thanks @mrocklin, this is perfect, @wgustafson if you have time to try the solution mentionned above this would be great.

[2018-09-12 10:47] guillaumeeb commented on #122
If you're still getting those errors, then I suspect your worker processes are still getting killed and restarted unexepectedly. We have to find the cause of this restart, is there something in the worker logs that tells that a worker has been killed or has erred? Could you once again print here the logs from a restarting worker?

Are we still talking about the really simple example above, with a

[2018-09-13 01:09] #92 closed

[2018-09-15 21:33] vprzybylo opened #151 "Dask client connects to PBS workers, then rapidly loses them"
Similar to #30, I have a bash script created to run a python job on Cheyenne using a scheduler file and a 'start-workers.py' script but after the workers come online and the main script is run, the workers die off rapidly.

I have tried using qsub to start an interactive job for jupyter lab in prior attempts (see pangeo issue #352) but if the connection is dropped, the job disappears from the queu

[2018-09-16 08:16] guillaumeeb commented on #151
Hi, several things here at first glance, distributed computing with Pbs and Dask can be difficult to grasp correctly :
- you're basically trying to redefined your own way of launching a Dask cluster on Pbs.
- Don't try to mix dask-mpi and dask-jobqueue, this is not advisable. If I read correctly your process, you're actually launching two different clusters, one with launch-scheduler, the other wi

[2018-09-16 23:59] vprzybylo commented on #151
Thanks for the help.  I have played around with a dask-jobqueue python script to submit my job since the workers stay online using qsub to start an interactive jupyter notebook (as I was doing before) but they now die after starting the main parallel job.  Here is the short script (edits made from your advice).  I thought the scheduler file should be updated once the cluster variable is declared b

[2018-09-17 13:19] guillaumeeb opened #152 "Use the grouped workers `worker_key` function in scale outside of adaptive"
Seen thanks to https://github.com/dask/dask-kubernetes/issues/98.

Currently, `_job_id_from_worker_name` function is used as worker_key in adaptive options: https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/core.py#L145.

However, this is not in place when manually scaling down or up. This could be a nice thing to avoid stopping too many workers when scaling down.

This may have to b

[2018-09-17 14:01] mrocklin commented on #152
Yes.  That makes sense to me.

On Mon, Sep 17, 2018 at 9:19 AM, Guillaume Eynard-Bontemps <
notifications@github.com> wrote:

[2018-09-18 19:14] kaelancotter opened #154 "TypeError in dask-jobqueue/core.py when starting up workers (v0.4.0)"
Error Seems pretty straightforward. Adding a quick int() fixed things on my end.  LMK if you want a PR and or CI coverage... (I didn't see a contributing guide anywhere in the docs)  For context grid is an SGECluster object.  Thanks for the great tool.

[code]

[2018-09-18 19:41] kaelancotter commented on #154
Looking a little deeper, its certainly a python 2.7 vs 3.x issue specifically https://www.python.org/dev/peps/pep-3141/

[2018-09-18 19:42] mrocklin commented on #154
Thanks for the bug report @kaelancotter .  A pull request would be welcome.  Contributor guidelines are available at documentation for the parent project: http://dask.pydata.org/en/latest/develop.html

[2018-09-18 21:11] vprzybylo commented on #151
Just following up that the above message was seen -- thanks! @mnlevy1981 @jhamman @guillaumeeb

[2018-09-19 14:47] guillaumeeb commented on #151
That's normal, scheduler is started inside your notebook.

Are you using multiprocessing python module? Are you not using client or Dask API like Delayed, Futures or Dataframes?

I'm not sure you've grasp how to use Dask yet. Could you provide your whole script? I recommend going through Dask documentation.

[2018-09-19 15:04] mnlevy1981 commented on #151
@vprzybylo -- my dask experience is limited to inside a notebook... I don't know enough to help troubleshoot a non-Jupyter script invoking jobqueue. That said, if you're only using a script because

Then maybe we could use a google hangout or something to try to figure out how to get the client scripts in [NCAR/pangeo](https://github.com/NCAR/pangeo) working. I didn't mean to give up on the issues

[2018-09-20 14:33] kaelancotter commented on #154
I took a look through the travis ci logs for python 2.7 sge.  Right now it looks like the sge_master image in the compose stack that executes pytest uses a default 3.x python from miniconda3 instead of the travis_python_version.  I think fixing the container to use the travis python version will greatly improve 2.7 test coverage, including coverage of the original type error. I hipe Im not overste

[2018-09-20 14:51] mnlevy1981 commented on #151
Let's chat tomorrow - I'm usually at my desk my 9:00 (Mountain), so maybe say 9:30 or later? Just send me an email and let me know what works best for you.

[2018-09-20 15:14] guillaumeeb commented on #154
You're probably right, thanks for raising this too! It seems currently python 2.7 sge tests are useless.

It's really nice having other people stepping in this code, so you're very welcome here!

Feel free to submit one or two separate PR, for the initialy raised problem, and for test coverage which seems more complicate to fix.

[2018-09-20 15:19] guillaumeeb commented on #151
That sounds wrong to me, but maybe I'm mistaken. You should be using only Dask API exept if you have a very specific use case.

Could you show a simplified version of things your doing after the main() function definition?

[2018-09-21 22:43] lanougue opened #156 "Missing space using extra in PBSCluster"
Hi guys,

First post on Github for me... newbie.
I found an issue using  keyword "extra" in PBSCluster:

`cluster = PBSCluster(extra="--preload my_module.py")

'cluster.job_script()'
returns
'#!/bin/bash\n\n#PBS -N dask-worker\n#PBS -q mpi_1\n#PBS -A SKIM\n#PBS -l select=1:ncpus=28:mem=120GB\n#PBS -l walltime=24:00:00\n#PBS -m n\n\n\n\n/home1/datahome/fnouguie/miniconda3/envs/lops-array/bin/python

[2018-09-22 07:07] guillaumeeb commented on #156
Thanks @lanougue for the bug report. Would you want to submit a Pull Request to fix this and maybe add some simple test?

[2018-09-22 09:33] kaelancotter commented on #154
Awesome Thanks @guillaumeeb !

[2018-09-22 09:35] guillaumeeb commented on #154
Thanks to you for your help here!

[2018-09-24 08:59] lanougue commented on #156
I would prefer let you do that. I'm really just starting playing with GIT

[2018-09-24 09:36] guillaumeeb opened #159 "Reorganize online documentation"
I think that the online documentation we provide needs some refactoring:

- Split the index landing page that is too big into smaller content.
- Change the toctree, add some captions, maybe the classical _Getting started_, _Configuration_, _Develp_
- Optionnaly use a standard `source` subdirectory instead of all files in the doc folder ?

[2018-09-24 10:55] guillaumeeb commented on #156
Done in #160

[2018-09-24 11:33] mrocklin commented on #159
Sounds good to me

On Mon, Sep 24, 2018 at 5:36 AM, Guillaume Eynard-Bontemps <
notifications@github.com> wrote:

[2018-09-25 13:14] #156 closed

[2018-10-02 21:29] guillaumeeb commented on #130
After discussions in https://github.com/dask/distributed/pull/2209 and https://github.com/dask/distributed/pull/2235, and after some thoughts, but without actually trying anything, I feel that it may be simpler to just copy and paste the code from https://github.com/dask/distributed/pull/2209 to dask-jobqueue. But should I:

- Copy paste adapt, scale, possibly the widget inside JobQueueCluster cla

[2018-10-02 21:58] #117 closed

[2018-10-02 22:00] guillaumeeb commented on #154
Closing thanks to #155 #158 and #157

[2018-10-02 22:00] #154 closed

[2018-10-02 22:00] guillaumeeb commented on #154
Thanks again @kaelancotter.

[2018-10-02 22:33] mrocklin commented on #130
I don't have strong opinions here.  I wonder if @lesteve or @jhamman have
thoughts?

On Tue, Oct 2, 2018 at 5:29 PM Guillaume Eynard-Bontemps <
notifications@github.com> wrote:

[2018-10-02 23:05] jhamman commented on #130
I also don't have particularly strong feelings about this. If you remember, I was also heading down the path of overriding the `scale` method. My hope is that a more elegant solution comes out of  dask/distributed#2235. In the short term though, I think going down this path may yield some important learning lessons.

[2018-10-03 18:30] jhamman opened #163 "Pangeo/dask-jobqueue blog post"
I have written a semi-technical blog post on how dask-jobqueue. I think @mrocklin has already read most of it. I'd like to get comments from @guillaumeeb and @lesteve if possible.

The draft is here: https://medium.com/pangeo/scalable-interactive-analysis-workflows-using-dask-distributed-on-hpc-systems-d7754e42ca53

I actually started writing this months ago and just realized I never finished it o

[2018-10-03 18:33] mrocklin commented on #163
It would be good to get comments from others.  In the mean time, two brief
comments from me.

1.  Feel free to remove references to me personally, replacing with "we"
2.  This would also be welcome on blog.dask.org (
https://github.com/dask/dask-blog#add-a-new-page)

On Wed, Oct 3, 2018 at 2:30 PM Joe Hamman <notifications@github.com> wrote:

[2018-10-04 00:12] jhamman commented on #163
Thanks @guillaumeeb - I've hit most of your comments now and added a nod to the common interface question in the conclusions.

[2018-10-04 16:53] lesteve commented on #163
This seems very nice! A few things I noticed:
* should we mention somewhere mention that the jupyter notebook runs in an interactive job (or whatever the right word for it is), since I guess that is the typical setup,
right?

A few minor things I noticed:
* there is a ibo instead of ib0 somewhere
* maybe separate this in two different code cells
[code]

[2018-10-04 18:43] guillaumeeb commented on #163
Some other minor points:
- for interactive analysis on very large data analysis
- scale_up and scale down, chose between with or without underscore

[2018-10-05 07:46] ocaisa opened #166 "Make python command configurable"
Using `sys.executable` in https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/core.py#L238 seems unnecessarily strict. My use case is that I have KNL nodes available and I want to manage both KNL and standard nodes from dask_jobqueue. I've mirrored the software stacks, and all the necessary `module load`s are the same, but the absolute paths differ.

I'm happy to issue a PR but I wante

[2018-10-05 11:19] mrocklin commented on #166
That seems quite reasonable to me

On Fri, Oct 5, 2018 at 3:46 AM ocaisa <notifications@github.com> wrote:

[2018-10-05 13:28] ocaisa opened #168 "Error when port 8787 not available"
When I start my cluster on our frontend I am getting:
[code]
Everything proceeds fine until it comes to gathering the results from the workers, when I get:
[code]
If I run on the backend, where the port is available, it runs without issue.

There may be another network issue at play that I don't understand, but I checked the workers and in the failing case they are definitely executing the tasks.

[2018-10-05 13:31] ocaisa commented on #168
I should note that the error only occurs when I send tasks to our KNL partition, which are probably on a different subnet (I'm no network expert though), so it could indeed be just a network issue.

[2018-10-05 13:58] mrocklin commented on #168
This seems worth investigating to me.  You might want to play around with the `--interface` keyword argument.

[2018-10-05 14:27] #166 closed

[2018-10-05 14:32] ocaisa commented on #168
Hmm, yes the port 8787 is not the issue. It must be some kind of firewall issue for the frontends maybe, I'll ask the admins.

[2018-10-05 14:32] #168 closed

[2018-10-05 21:32] jhamman commented on #163
Thanks all. I have the post scheduled to be published Monday morning. I also opened a PR on dask/blog to mirror the content there.

[2018-10-05 23:37] #163 closed

[2018-10-06 15:39] louisabraham opened #169 "KeyError and Worker already exists"
I'm trying to setup dask with tpot.

My code looks like this:

      from dask_jobqueue import LSFCluster
    cluster = LSFCluster(cores=1, memory='3GB', job_extra=['-R rusage[mem=2048,scratch=8000]'],
                        local_directory='$TMPDIR',
                        walltime='12:00')

    from dask.distributed import Client
    client = Client(cluster)
    cluster.scale(10)

    from tpo

[2018-10-06 18:14] guillaumeeb commented on #169
See #117, this error is seen when workers die and are being restarted. This is often due to out of memory errors.

The message should be corrected on master branch, but the underlying issue coming from your dask process will remain.

Try increasing memory per worker and also using dashboard to monitor your worker processes and see if you spot something wrong.

[2018-10-06 18:54] louisabraham commented on #169
Thank you! Yes, I see the memory increasing a bit too much, I'll try increasing the limit in a few hours and hope it will solve my problem.

However, if a node unexpectedly encounters a problem that causes the worker to restart, shouldn't dask restart the computation as well?

[2018-10-06 19:41] guillaumeeb commented on #169
Dask proposes a mechanism that will relaunch your failed tasks. I believe it should try to launch the tasks three times, but I'm not sure exactly in which cases. However, the memory problem in your case will probably shows up every time, and eventually your computation should fail.

Glad the problem is identified here, I will close this issue, but feel free to raise something upstream in dask or d

[2018-10-06 19:41] #169 closed

[2018-10-06 20:50] guillaumeeb opened #170 "Implementing an Ersatz of ClusterManager to fix jobqueue issues linked to upstream deploy.Cluster limitations"
So we have a target: https://github.com/dask/distributed/issues/2235.

We have some issues related to it:
- https://github.com/dask/distributed/issues/2257 and https://github.com/dask/dask-jobqueue/issues/112, #97: multiple scale calls problem
- #130: number of cores parameter to scale
- #152: grouped worker and scale_down

and perhaps less related: #103

I propose as discussed in some of the issu

[2018-10-06 21:38] louisabraham commented on #169
Yes, you were right, the used memory grows a lot before the KeyError happens.
It seems that tpot tries PolynomialFeatures on data with 800 columns :)
I think the problem comes from tpot, but at the same time I don't understand how it is handled when executing locally.

A good test to identify those issues is:

    grep Restarting dask-worker.err

In my case it shows some

    Worker exceeded 95% m

[2018-10-06 21:54] guillaumeeb commented on #169
A pleasure to help!

You should try to ask this upstream in distributed, I imagine there has been some thought in this behavior.

[2018-10-06 22:01] louisabraham commented on #169
Yes, I can confirm it happens with a LocalCluster, so nothing to do with dask-jobqueue!

[2018-10-07 08:09] guillaumeeb commented on #112
So this one is actually not closed.

[2018-10-07 14:45] mrocklin commented on #170
I think that having dask-jobqueue break entirely from the classes in dask-distributed would be an interesting approach.  Of the three projects (jobqueue, kubernetes, yarn) jobqueue seems to be the fastest moving right now.  Rather than constrain your development by the slowness of the group, it might be useful to see what you come up with and how you restructure things.

[2018-10-07 15:11] mrocklin commented on #169
A reproducible example (perhaps using one of the sklearn make_dataset
functions) that replicated this with local cluster would be a great
contribution if you have time.

On Sat, Oct 6, 2018 at 6:01 PM louisabraham <notifications@github.com>
wrote:

[2018-10-07 15:28] louisabraham commented on #169
~~I think the problem comes from tpot that doesn't handle the memory errors.~~

The problem might come from `dask_ml.model_selection._search.build_graph` because the argument `error_score=float('-inf')` was used but didn't seem to have an effect.

https://github.com/EpistasisLab/tpot/blob/507b45db01e8f88651f4ce8e03b607a5b50146f5/tpot/gp_deap.py#L443-L454

A reproducible example with tpot that runs

[2018-10-07 15:51] louisabraham commented on #169
I think I need some help to produce a reproducible example that runs without a cluster.

I am not sure how to trigger a memory error on my laptop. I fear that it will either use the swap memory or restart the computer.

I produced an error with a LocalCluster on a notebook started with LSF bsub with a soft memory limit.

Maybe using `ulimit` will work?

[2018-10-07 15:53] mrocklin commented on #169
Probably the error doesn't strictly require a memory error, but perhaps
just needs a worker to remove itself during computation?

Alternatively if you think you can identify the failure and submit a fix
without creating a minimal reproducer that would also be useful.

On Sun, Oct 7, 2018 at 11:51 AM louisabraham <notifications@github.com>
wrote:

[2018-10-07 16:28] louisabraham commented on #169
I think that setting a dask-worker with the --memory-limit option will do the trick.

ulimit doesn't work at all on macos and doesn't limit effectively the memory on linux.

[2018-10-08 09:42] louisabraham opened #172 "LSFCluster worker doesn't execute all threads on the same node"
I am not 100% sure, but it seems to me that nothing forces a LSF task to execute all the threads on the same node.

For example, PBSCluster uses the option `ncpus:n` that requests cpus per node, and SLURMCluster specifies `-n 1`and uses `--cpus-per-task=n` to allocate n cpus on each host.

However, LSFCluster uses the `-n` option. I think that without a `--span[hosts=1]` option LSF can use process

[2018-10-08 15:05] guillaumeeb commented on #172
I think no core maintainer of this project uses LSF.

But looking at the PR which introduced this was indeed identified: https://github.com/dask/dask-jobqueue/pull/78#issuecomment-400996012. But one way or another, it did not get implemented.

It would be nice to submit a PR to fix this!

[2018-10-08 15:08] jhamman commented on #163
cross referencing the published blog posts:

- https://medium.com/pangeo/dask-jobqueue-d7754e42ca53
- http://blog.dask.org/2018/10/08/Dask-Jobqueue

[2018-10-08 18:39] guillaumeeb commented on #163
FWIW, you still have the sentence with repeated 'analysis' word.

[2018-10-12 13:18] louisabraham commented on #172
Ok, I'll do it this week.

[2018-10-12 17:15] vprzybylo commented on #151
Hi @mnlevy1981, since you were able to help me earlier with the "launch-pangeo-on-cheyenne" script to start an interactive jupyter lab I have some followup questions.  I am using dask delayed as seen below to parallelize my code but I am still exceeding the wall clock max time limit of 12 hours on the economy or regular queue for Cheyenne.  I just submitted a job with 2 nodes and 36 cores but I am

[2018-10-13 08:18] guillaumeeb commented on #151
Hi @vprzybylo,

If the original issue has been fixed with @mnlevy1981, it would be better to close it with some explanation.

Then I encourage you to open another issue if needed, or directly talk with @mnlevy1981.

Thanks.

[2018-10-13 13:07] vprzybylo commented on #151
@guillaumeeb, yes sorry for posting here again.  Pulling the ./launch-pangeo-on-cheyenne script from the pangeo client-side github page reset something that had been altered to correctly set the hostname to ssh back in and start jupyter lab.

And after upping my core/node count from the job submitted yesterday it did finish under the 12 hour wall clock time, so no need to start a new issue with @m

[2018-10-14 19:37] guillaumeeb commented on #151
Ok, glad you were able to deal with your problems. Closing this issue now. Do not hesitate if you have some problem with dask-jobqueue.

[2018-10-14 19:37] #151 closed

[2018-10-15 09:12] guillaumeeb commented on #139
@adamhaber any update on this?

Otherwise I'm going to close it, it seems really specific to your environment or computation.

[2018-10-15 10:00] guillaumeeb commented on #122
Hi @wgustafson, any update on this one?

KeyError logs should be fixed by #138. I'm still not sure about what the problem here is.

[2018-10-15 10:01] guillaumeeb commented on #95
@josephhardinee do you think you will have time/interest on getting this done? Would you prefer someone else to implement this?

[2018-10-15 10:02] guillaumeeb commented on #100
@jrbourbeau any update? Do you have something to share? Maybe @szs8 would like to take a look at this?

[2018-10-15 13:12] guillaumeeb opened #174 "0.4.1 release"
As suggested by @mrocklin in #171, it would be good to do a release before going further in #170.

In addition to changes already in master branch, I'd like to add #145, #146, and a fix to #172.

[2018-10-15 19:19] jrbourbeau commented on #100
Apologies for letting this linger. I got side-tracked with other work and haven't come back to this yet. @szs8 if you, or anyone else, are interested in contributing here, please feel free to take over.

[2018-10-16 08:56] #159 closed

[2018-10-16 08:58] #141 closed

[2018-10-16 12:47] guillaumeeb commented on #172
@louisabraham I'd like to make a small release by the end of the week before starting to work on bigger changes.

I'd like to take this fix in.
Would you be able to fix this or would you prefer someone else to do it ?

[2018-10-16 15:08] mivade commented on #100
@jrbourbeau Where does the existing implementation live?

[2018-10-17 10:46] louisabraham commented on #172
I'll do it today.

My editor autoformats the code, and it seems the different files don't use the same formatter.

Is black like dask_ml OK?

[2018-10-17 11:44] louisabraham commented on #172
Also, currently `ncpus` is used but I think it should be `cores`.

I would need some explanation about the difference between `cores` and `processes`.

[2018-10-17 15:04] guillaumeeb commented on #172
We don't have code format template or requirement yet, except flake8 checks.

I don't know black formatter, but should be ok.

For cores vs ncpus, could you point to the corresponding lines in the code?

[2018-10-17 15:47] louisabraham commented on #172
Cores is not used in `LSFCluster`, but required as an instance of `JobQueueCluster`.

Other arguments are used like this:

https://github.com/dask/dask-jobqueue/blob/b510bb19bce24ededfa9ae73809949bfc830a7e4/dask_jobqueue/core.py#L231-L233

PBSCluster uses them like this:

https://github.com/dask/dask-jobqueue/blob/b510bb19bce24ededfa9ae73809949bfc830a7e4/dask_jobqueue/pbs.py#L84-L89

And LSFCluste

[2018-10-17 15:54] louisabraham commented on #172
Maybe the points above should be explained in the documentation.

[2018-10-17 16:41] louisabraham commented on #172
Why do we have both then?

My example did not cover all the cases I am interested in.
If `cores=8` and `processes=2` (hence `threads=4`), do we agree the 8 cores have to run on the same machine?
Or is there a system that allows the processes to run on different machines?

I don't think it parallelizes it automatically, does it? (I suppose here that no dask datastructure is used because I didn't lo

[2018-10-17 16:52] louisabraham commented on #172
Oh, I think I got it right by rereading for the nth time http://distributed.dask.org/en/latest/worker.html

Your code isn't supposed to create more processes.
If you setup `processes > 1`, then you can just execute more tasks in parallel.

So I think in most cases you are supposed to launch with `processes=1`, and just scale up with more workers, am I right?

If the user spawns more processes duri

[2018-10-17 19:04] guillaumeeb commented on #172
I did not look at LSFScheduler code earlier. `cores` is the amount of cores declared to the dask-worker. `ncpus` is the amount of cores reserved to LSF scheduler. They are generally the same, so `ncpus` does not need to be set. In some rare case, some people are overusing their scheduler reservation. For example, asking for 36 `ncpus`, but running dask-workers using 72 `cores` on a full compute no

[2018-10-17 19:20] guillaumeeb commented on #172
Yes that's exactly that, your code should not spawn new processes.

I'm not sure I understand what you mean. There are two extremes:
- If your code is pure python or bound by GIL, you'll need to set processes=cores. So that for each cores reserved on you scheduler, you've got one python process behind.
- If your code is Python thread compatible, like maybe big Numpy computations, you should use pr

[2018-10-17 19:37] #142 closed

[2018-10-17 19:55] louisabraham commented on #172
Ok, then I got things wrong on #176 because I let the user choose how many processes should be executed on the same node. It is very simple to fix.

Yes, indeed I don't know what dask threads really are.

Precisely in this case, I don't see why one would set `cores>1`.
In my mind, the computation power of n `dask-worker` with 1 process is roughly equivalent to 1 `dask-worker` with n processes, onc

[2018-10-17 20:59] guillaumeeb commented on #172
`cores` is not thread per process. `cores` is cores used for all processes. so if processes=cores, you've got one thread per process.

But maybe what you mean is that you would only use job scheduler with only one ncpus per job allocation? In this case, you're putting some charge on the job scheduler, especially when you begin to scale to undreds or thousands of cores, and using dask-jobqueue adap

[2018-10-17 21:13] louisabraham commented on #172
I think we don't have the same experience with cluster computing :)
I am allowed to use 48 cores in total on my university's cluster. Even if each worker uses 1 thread (or pretends to 😈), I think 48 workers are acceptable. On the other hand I can wait 40 minutes to allocate a single node with 4 CPUs (I have low privileges).

Maybe it will get integrated at some point in dask.distributed? But if yo

[2018-10-17 21:17] guillaumeeb commented on #172
Okay, then I understand 😁. In the end, dask-jobqueue allows adressing many kinds of needs or cluster constraints!

[2018-10-17 21:38] #172 closed

[2018-10-18 10:18] apatlpo opened #178 "PBS memory excess"
For a given calculation I am consistently exceeding the memory I asked for in the PBS script:

```dask-worker.o1838772:=>> PBS: job killed: mem job total 115343360 kb exceeded limit 115343360 kb```

This is surprising because the memory required for all workers on one job is much smaller than the limit above.
The dask dashboard indicates a nominal memory usage.

It seems that is the cache memory t

[2018-10-18 13:35] guillaumeeb commented on #178
This is weird. If PBS kills your job, this means that the processes launched inside it are consumming that memory one way or another. What is your setup: dask-jobqueue params, and computing node characteristic?

One workaround could be to just book all the available memory of a compute node using the `resource_spec` kwarg. This way you won't be able to exceed the limit!

But there's still somethin