[2020-04-29 06:11] lesteve commented on #416
OK IIUC you would want something that
1. tell the scheduler to stop accepting new tasks
2. let the worker finish the tasks he has
3. kill the worker once its tasks are finished

There are some things that remind me of https://github.com/dask/distributed/pull/3564 (in particular the part where the worker is removed from an "active list" is kind of your 1.).

In general my very rough feeling is that

[2020-04-29 06:13] lesteve commented on #416
Having said all of this, `--lifetime` and `--lifetime-restart` were added to distributed a while ago specifically for Dask-Jobqueue walltime use case, it would be great if we could try to use them to fix the simpler problem in #122 (i.e. the weird error when all the workers are killed at the same time).

[2020-05-01 14:06] guillaumeeb commented on #416
Looks like there is an issue for the problem you describe in distributed : https://github.com/dask/distributed/issues/3141.

I encourage you to weight in an if possible try to propose some improvement.

Should we keep this issue open at least until the simple case (where tasks are short enough and recomputation is not a problem) is documented, close it now, or wait for the fix to be implemented in

[2020-05-01 14:16] guillaumeeb commented on #418
Exactly. There were some discussion to retrieve them from the client at one point IIRC, but I don't know if this was pursued.

You can look at https://jobqueue.dask.org/en/latest/debug.html for other advices.

[2020-05-01 15:20] willsALMANJ commented on #416
Thanks! I had not found that issue in distributed. It describes exactly what I was looking for. I think this issue can be closed since dask-jobqueue will benefit whenever distributed addresses dask/distributed#3141. We just need to address #417 and keep an eye dask/distributed#3141 in case the API for `--lifetime` changes to accommodate both the "kill stalled workers immediately" and "close worker

[2020-05-01 15:20] #416 closed

[2020-05-01 15:56] guillaumeeb commented on #196
Thanks @sntgluca for continuing with this!

I think this comes down to a [discussion we had previously and it's conclusion](https://github.com/dask/dask-jobqueue/pull/307#issuecomment-532869062): the default argument to scale should be **the number of workers (processes)**.

If we want to go on with job or task array JobQueueClusters, we should stick to it. So that makes it to option 3.

Why do yo

[2020-05-02 11:41] willirath commented on #408
As we're seeing increased availability of container envs (mostly) singularity across HPC centres, I expect to use / need a mechanism for having the dask worker call executed in a container. Overriding / prefixing the `python` kwarg would allow for doing this.

[2020-05-03 10:14] willirath opened #424 "Make CI failures easier to investigate"
In #423, @riedel tracked down a version bump of the `5.7` tag of the `mysql` docker image that was difficult to spot from the logs alone (at least for me).

I suggest to make these kinds of environment changes easier to spot, we create Travis artefacts that summarise what we need to know:
- hashes and tags of all docker images
- python env listings
- _what else?_

[2020-05-03 10:47] willirath commented on #424
The reason this is difficult to see in the failed build is that we only show the full image list with
<https://github.com/dask/dask-jobqueue/blob/bc0807fb3bb2e68310a6ff9fb89199e2e4978ab5/ci/slurm.sh#L12>
after the slurm cluster started
<https://github.com/dask/dask-jobqueue/blob/bc0807fb3bb2e68310a6ff9fb89199e2e4978ab5/ci/slurm.sh#L9>

This is probably done because the result is only known after `

[2020-05-03 12:48] willirath commented on #424
See #425.

[2020-05-03 18:45] riedel commented on #424
I just tried to follow your suggestions, but I will wait for this to be complete and reviewed to also #+üpk
merge it into HTCondor.

However, I think it is not good to make the splitting of phases too complicated.:  It is IMHO OK to do `docker-compose build` followed by `docker images`. What should not happen is that the scheduler is started before there output about the environment.

On the other

[2020-05-03 21:01] riedel commented on #424
As commented on the PR I would do docker pull, build, images, run, ps, exec in that order. If you actually pin everything I don't expect many insights though.

More important, I would pipe `pip freeze`/`rpm `-qa`/`dpkg-l`/`conda list --export` (or whatever is used) through sort to actually make them diffable.

The process could be much more robust, if the CI images would not be build during the CI

[2020-05-04 06:25] ocaisa commented on #408
We also use it when we have the scheduler on one node type and workers on our KNL partition, the path to python can change in such a use case.

[2020-05-04 09:57] lesteve commented on #410
So I have created the teams:
- @dask/dask-jobqueue  is the parent team everybody should be in it and have Triage permissions to open/close issues add labels etc ... do feel free to use these rights as much as you see fit!
- each scheduler has a team e.g. @dask/dask-jobqueue-slurm.

Thanks everyone I am going to close this one

I am still missing @sntgluca and @stuarteberg. Probably the Dask organi

[2020-05-04 09:57] #410 closed

[2020-05-04 15:15] zaccharieramzi commented on #408
Closing this since #409 has been merged.

[2020-05-04 15:15] #408 closed

[2020-05-06 04:10] msmicker commented on #222
Here are more details from my situation. It seems to be generic to jobqueue or distributed? (since I am using SGEcluster)

* this only happens when I am dealing with adaptive scaling and parquet files (though my other use is fairly limited, e.g. single large csv files and json files)
* the error does not always occur - it is more of a warning since the block completes
* it can occur early, middle

[2020-05-06 07:54] lesteve commented on #222
This is very likely a `distributed` problem but to be sure it would be necessary to reproduce with a `LocalCluster` to be 100% sure. If someone manages to do that, it would be great to open an issue in the `distributed` tracker.

Just in case, can you try to use the latest `dask` and `distributed` versions (`2.15` and `2.15.2` at the time of writing)?

[2020-05-06 10:13] riedel commented on #247
I guess this can be closed for now with #420 merged. Will open a few other issues in order to improve/align the support (Dockerfile)

[2020-05-06 10:13] #247 closed

[2020-05-06 10:18] riedel opened #427 "Make HTCondor CI a bit closer to the other CI"
In an ideal world, it would be great if HTCondor CI was a bit closer to the other CI, in particular:
- have a Dockerfile with the dependencies (`dask`, `distributed` etc ...) installed in the Dockerfile
- maybe follow `start-slurm.sh` etc ... convention but maybe this is overkill since HTCondor use a single Docker image rather than a `docker-compose` setup so I am a bit undecided on this last poin

[2020-05-06 10:19] lesteve commented on #247
Great to see that the Triage permissions work!

[2020-05-06 10:25] riedel commented on #427
As this is not urgent I guess I would wait a bit for #424to be settled as the PR #425  introduced some changes.

IMHO modularization actually makes debugging a bit harder (at least for me), but on the other hand someone else might have difficulties if everything is handled differently.

Currently there is 3 different CI setups:
* (multiple) Dockerfile + additional scripts
* docker-compose + additi

[2020-05-08 09:13] sntgluca commented on #196
Hi @guillaumeeb ,
I will pick it up over the weekend and update the thread ASAP.

AFAIU `JobQueueCluster.scale()` is a simple call to `distributed.deploy.spec.SpecCluster.scale()`.

As far as I see it, we want to submit the new workers as **a unique job** with multiple tasks.

This means having a `**JobQueueClusterTA**.scale()` method which calculates the number of "tasks" and then call `SpecClust

[2020-05-09 14:23] guillaumeeb commented on #196
Yes, after looking back at the code, this is not trivial. Scaling down would probably be a bit difficult to implement.

It might be possible to do something by overriding or modifying `JobQueueCluster.scale()` method: in the case of arrays, when scaling up, always call `SpecCluster.scale(1)`, but modify the `worker_spec` before... But this may lead to complicated side effects, and difficult scalin

[2020-05-10 12:05] sntgluca commented on #196
Hi @guillaumeeb ,

I am working on the _scale_ (option 3) approach to see how difficult it really is.

I am working on a POC using SGE but it can be extended to others.

Here are a couple of ideas I am testing:
* Override the `scale` method to submit single jobs as task arrays. It uses the same logic as in the `distributed` library, with `self.loop.add_callback(self._correct_state)` to submit the

[2020-05-10 14:07] guillaumeeb commented on #122
Thanks to @willsALMANJ issue a few days ago, I tried the `--lifetime` option and I confirm that it works perfectly with the latest Dask, Distributed and Jobqueue versions.

The initial script I used (just reduced time):
[code]

It fails with a KilleWorkerException when the first 4 workers are killed due to walltime.

Just modify the cluster initialization:
[code]

And it works! I think it solves t

[2020-05-12 12:21] lesteve commented on #400
Closed by merging #405.

[2020-05-12 12:21] #400 closed

[2020-05-16 09:59] riedel commented on #427
@matyasselmeci I was expecting the docker image for mini:el7 to change 2 days ago since mini:8.9.6-el7 was released (https://hub.docker.com/r/htcondor/mini/tags) . Is that a mistake or some logic behind this?

One possible thing to do would be pinning the versions (like #425) to not break the CI.  Although on the other hand it would be also very good to see if sth breaks in current version. Is the

[2020-05-16 10:32] riedel commented on #424
Just noted that in case of the condor image it would make sense to call like `docker images -q | xargs -n1 docker image inspect --format='{"RepoTags":{{json .RepoTags}},"RepoDigests":{{json .RepoDigests}},"Config":{{json .Config}} } '`

which will give
[code]

[2020-05-16 13:11] guillaumeeb commented on #196
So the key here is modifying the `job_extra` configuration on the fly.

`worker_tasks_spec` is currently not used, are you planning to make use of it?

My two concerns are how to properly scale down, and wether or not this can be adapted to other JobQueueCluster implementations. Ideally, we should be able to put most of the code in `JobQueueCluster`, and adding an option `use_arrays` to the constr

[2020-05-16 13:51] guillaumeeb commented on #424
So as mentioned in #427, I fully support the idea as long as it does not overcomplicate CI code!

[2020-05-16 18:28] sntgluca commented on #196
Hi @guillaumeeb

IMHO your concerns can be taken care of in the scheme:
* AFAIK every scheduler handles tasks by **adding options to the submission program**. It's therefore a matter of passing the right option at the right time to `self._kwargs['job_extra']`.
* For scaling down, I implemented the following: remove existing jobs till the number of tasks left are smaller than required, and then cal

[2020-05-16 18:30] sntgluca commented on #196
currently `worker_tasks_spec` is used only to create a collection of tasks analogous to `worker_spec`. For the moment it's helping troubleshooting...

[2020-05-17 06:17] lesteve commented on #424
Yep I agree on this the Slurm CI issue was something we see extremely rarely (once in maybe 2 years since I have been involved in Dask-Jobqueue). Generally you can always reproduce the problem and debug locally ... this should be taken into account and not go overboard with spending time on things that have no sizeable benefit.

If doing this kind of tasks is the definition of fun for someone then

[2020-05-17 06:33] lesteve commented on #196
@sntgluca not really related but since you are involved here, could you check your emails or go to https://github.com/orgs/dask/invitation to accept the invitation to the Dask organization, this would allow me to add you to the SGE team.

About job arrays, my opinion has not really changed and I don't really know how to say this is a completely nice or not too depressing way so below is my attempt

[2020-05-17 06:39] lesteve commented on #427
I would favor running with the latest version as the default and only pinning when there is nothing we can do about it (or we don't really want to investigate like the mysql one recently). We can revisit this approach if things start to break too often but I am trusting you fully on this one for not making the htcondor docker image break every 2 days.

Thanks @riedel by the way about the SLURM CI

[2020-05-17 07:46] sntgluca commented on #196
@lesteve ,

I can't access your invitation (`Invitation not found` error), may you ping me privately (gianluca.santarossa@gmail.com) to sort this issue out?

[2020-05-17 08:12] sntgluca commented on #196
Dear @lesteve ,

let me start with this: __it's not a problem__ if you (we) decide not to follow up.
I assumed there was enough interest (@halsafar, @jmichel-otb, @guillaumeeb) to continue exploring this possibility. As per me, it's an excuse to contribute to the library and get involved.

The motivation behind my initial interest is simple: When people started using `dask_jobqueue` in my organisa

[2020-05-17 09:01] lesteve commented on #196
Great I'll do that. In principle you have received an email invitation (unfortunately if you can not find it, I'll have to ping someone to do it because I don't have the necessary rights to invite people for the Dask organisation).

Thanks for the details about your use case, following best practices clearly is a good idea but you have to balance this with usability and other concerns and figure o

[2020-05-17 10:05] riedel commented on #424
I am totally in support of this! I have quickly checked out docker autobuild feature (https://hub.docker.com/repository/docker/tillkit/dask-jobqueue-ci/tags , someone with commit access needs to do this eventually) . It is really easy and can be configured to update on base image changes.  Ideally the stuff done in all CIs would then roughly be the same (heavy lifting done by the docker images and

[2020-05-17 10:41] sntgluca commented on #196
Would you think then that a lightweight follow up, such as the one suggested by @belledon https://github.com/dask/dask-jobqueue/issues/196#issuecomment-439745751, would be better?

It could be addressed via documentation, although I would still suggest minor changes to the code to make it more solid.

[2020-05-17 14:15] lesteve commented on #196
As a maintainer this is hugely preferable since the responsibility is on the user if he wants (or has to) use job arrays. So adding that to the doc (with the caveat about `.scale` would be more than welcome) would be more than welcome.

On a slightly related note, we should restructure the doc, but hopefully I'll find some time to work on this. In particular we should have a FAQ or common work-aro

[2020-05-17 16:30] sntgluca commented on #196
Ok, I could follow up with that.

I would need to catch up with how you write documentation, and understand how you'd like to have it. May you help me out here, or suggest someone I could contact to get up to speed?

[2020-05-17 16:40] sntgluca commented on #196
I appreciate the time you're spending on this.

On a technical note, I _need to enforce a change in the code_ to run on my SGE cluster.
It turns out the workers' names are determined automatically, probably in `distributed`, and two tasks from the same job would end up with the same name, resulting in a conflict.
To fix it I have to override the worker's name in `SGEJob`:
[code]
I tried many chang

[2020-05-18 03:45] robertddewey commented on #238
I had the same issue, using AWS Parallel Cluster. This is my first time setting up a cluster and using Dask, so lots of research this evening. I followed the instructions in this issue response, and it worked:

https://github.com/aws/aws-parallelcluster/issues/1517#issuecomment-561775124

[2020-05-18 06:12] lesteve commented on #196
We are using Sphinx (as many Python projects do) to generate our documentation. To generate the docs locally:
[code]

A bit more details are here (for Dask not Dask-Jobqueue but a lot of it is similar):
https://github.com/dask/dask/blob/master/docs/source/develop.rst#contributing-to-documentation.

Would it not be possible to pass `name` to `SGECluster` like this?

[code]

[2020-05-18 07:00] lesteve commented on #424
So I am not an expert on this so I'll trust you fully on the autodocker thing. I am guessing you can play a bit on your fork to experiment with this at first?

If later on we converge on the approach and you need something done by an admin to make progress on this I can do it of course!

Something I am wondering about is whether autodocker supports building multiple Docker images.

Also as a side

[2020-05-18 07:22] lesteve commented on #238
Maybe someone else would say that this should have been expected but it blows my mind that Dask-Jobqueue is used on AWS rather than native cloud technologies with Dask-Cloudprovider or Dask-Kubernetes.

Maybe @robertddewey if you had 5 minutes to explain the reason you use AWS Parallel Cluster I would be very curious to hear about it!

As a additional comment, `SLURMCluster` (and all the cluster c

[2020-05-18 08:18] riedel commented on #424
So I will put all existing images plus a  HTCondor image into the docker builds (one can do as many tags as one likes) and try to collaboratively draft a pull request that uses the Docker autobuilds (we can try different things and see what makes everyone happy).

We can still manually trigger builds I guess. I will, however, check if we can simply go back in time one image (by using pinning) as a

[2020-05-18 08:54] lesteve commented on #424
OK let me know anything that works i.e. with these features is likely to get multiple :+1: from me (and a fair amount of thanks as well).

I guess by "anything that works" I mean this kind of features:
- automatic build of Docker images
- reuse of these Docker images in the CI

We should not aim for perfection on the first PR and we can always refine things on further PRs if we realise with time t

[2020-05-18 11:31] lesteve commented on #196
@sntgluca I added a page about common work-arounds (for lack of a better term): https://jobqueue.dask.org/en/latest/common-work-arounds.html

I think this would be a good place to document your proposed work-around.

[2020-05-18 15:08] sntgluca commented on #196
@lesteve ,

back to your suggestion above: passing the variable to SGECluster doesn't work:
the dask workers require having unique names to connect to the dask scheduler. If multiple workers have the same name, as in the case of tasks from the same job, the first one connects and all others return an error.

I dug to look at how the worker's names are determined:
* A new worker is setup in `SpecCl

[2020-05-18 16:22] lesteve commented on #196
That's mildly annoying :disappointed: I am still hoping that we we can find a work-around without changing the code, because that would be ideal from a maintainer point of view ...

I have to say I don't remember this code very well, and trying to read it didn't bring an epiphany in less than 15 minutes ...

Can you tell me whether my understanding is completely wrong here (may completely be the c

[2020-05-18 18:50] matyasselmeci commented on #427
@riedel good catch; unfortunately building these is currently a manual step so parts of it can get lost. I fixed it.

Some of our images depend on features that are only available in 8.9 (namely TOKEN auth), so we're not planning on making 8.8 images regularly. I can do a one-off htcondor/mini for 8.8.9. We will add stable series images, but only once we start the next stable series.

You can buil

[2020-05-19 03:33] robertddewey commented on #238
@lesteve -- I'm new to managed clusters and needed to quickly test some financial models on my own dime. I chose AWS ParallelCluster, as I'm already quite familiar with their dashboard, APIs, and cost structure. Hopefully that helps.

I'd assume there are many more people out there like myself... AWS is a pretty big service.

[2020-05-19 04:23] lesteve commented on #238
Thanks for the details, very much appreciated!

I guess my surprise was that to use AWS ParallelCluster you need to know both AWS and SLURM, I would have expected that if you know AWS you use [Dask-Cloudprovider](https://cloudprovider.dask.org/en/latest/) but of course you probably a good reason to use SLURM.

To be fair I have actually heard another use case for AWS ParallelCluster: some big labs

[2020-05-19 05:59] lesteve commented on #196
@sntgluca another complementary approach would be if you could push the code that allows you to use job arrays in a branch (i.e. the one who does not require too many code changes). That would allow me to understand a little bit more what you need to use job arrays and play with it a bit (I do have access to a SGE cluster in case that is needed to debug some advanced things).

[2020-05-19 08:07] sntgluca commented on #196
I _think_ this is indeed what we need.

I spent more than 15 min looking into this actually :) - and I think you should look into `distributed.deploy.spec.SpecCluster.scale`:
https://github.com/dask/distributed/blob/f3b241be274a0d75763bf89e4c0106cd47738162/distributed/deploy/spec.py#L457
and `distributed.deploy.spec.SpecCluster.new_worker_spec`:
https://github.com/dask/distributed/blob/f3b241be274

[2020-05-19 08:28] sntgluca commented on #196
I prepared it but I don't have access to push a new branch into the repository.
Any suggestion? A patch, post it here, reach out via mail?

[2020-05-19 08:50] lesteve commented on #196
Push it in your fork i.e. `sntgluca/dask-jobqueue` into a branch e.g. `job-array-supprot` and post the link here so I can have a look.

[2020-05-19 09:08] lesteve opened #431 "Make submission script more human readable"
[code]

[code]

Wouldn't it be nice if the last line use backslashes to be more human-readable i.e. something like:
[code]

Full disclosure: not sure if there is an easy way to do this or if you have to write a little bit of code.

[2020-05-19 09:15] sntgluca commented on #196
LOL I really need some practice...

Here it is:
https://github.com/sntgluca/dask-jobqueue/tree/job-array-support

[2020-05-19 09:34] lesteve commented on #196
Yeah so if this is the only thing you need to make job array work, I would hope that there is a way to make `name` at the cluster level passed into `name` at the job level for your use case. As I hinted above I think there is clearly a bug here and that if you fix this bug  then you can use something like:
[code]

Also can you post the output of `print(cluster.job_script())` just to make sure that

[2020-05-19 14:03] mrocklin commented on #431
+1 from me if it's doable.  This would be great.

On Tue, May 19, 2020 at 2:08 AM Loïc Estève <notifications@github.com>
wrote:

[2020-05-19 18:08] stuarteberg commented on #410
@lesteve I'm now a member of the dask org. Please add me to the LSF team!  Thanks.

[2020-05-19 18:57] jakirkham commented on #410
Done :)

[2020-05-19 20:15] lesteve commented on #410
Thanks everyone, I managed to get the few last persons remaining added. As part of the process I also learn that org invitation can go out of date which I did not know ...

[2020-05-19 21:51] jakirkham commented on #410
Good to know. Do you know when they go out of date? 24hrs? Longer?

[2020-05-19 22:09] stuarteberg commented on #410
My invitation said 7 days.

[2020-05-20 07:27] sntgluca commented on #410
It was more than one week, my bad... at the time I didn't have time to follow up.
Thank you for the new one!!

[2020-05-20 15:33] kmpaul commented on #410
@andersy005 I didn't join, but please keep me in the loop on this.  If I have time to help, I'm happy to.

[2020-05-20 15:48] andersy005 commented on #410
Will do

[2020-05-21 20:31] riedel commented on #427
@matyasselmeci , great news!

It would probably be great to have some minor level tags to follow ( having the tags "latest","8","8.9" all on the latest image like in the official docker images https://hub.docker.com/_/mysql: I today learned that in autobuilds this can be achieved with hooks)

I hopefully will make a docker_compose file for HTCondor soon, first with mini I guess just to make it mor

[2020-05-21 21:44] matyasselmeci commented on #427
We could probably do something like "8.9-el7" or "latest-el7". I hesitate to make just plain "latest" because, at least for the execute node image, the underlying distribution matters because it determines what jobs the user can run, and we don't want to break anything when we start making el8 images.

[2020-05-21 23:41] riedel commented on #427
that would work perfectly, 8.9-el7 would be a perfect image to pull i guess for the CI, I probably would not want update with each single release. But no hassle, it works!

[2020-05-22 08:41] guillaumeeb commented on #431
This looks pretty doable! At first I thought we should wait for #370, but I'm not sure.

[2020-05-22 09:00] guillaumeeb commented on #196
Just to state that I still agree with Matt's comment above (long time ago) about implementing job arrays in dask-jobqueue :

without adding much complexity, and if it demonstrably improves the
experience for some users or administrators then we'd be happy to have
it".

I share @lesteve concerns about maintainablility, but as I'm in charge of an HPC cluster, I also know that Scheduler load is reall

[2020-05-23 08:56] riedel opened #433 "Periodically build images for CI"
see  discussion in #432

et up a Travis deploy stage that will be triggered e.g. weekly

[2020-05-23 09:28] lesteve commented on #52
We are now using Docker images on dockerhub thanks to #432, closing.

[2020-05-23 09:28] #52 closed

[2020-05-25 14:07] sntgluca commented on #196
Dear @lesteve

Here's the output of `cluster.jobscript()`
[code]

As you see the `name` passed is the string "name".

I don't think this is very useful for you but... if you wish to follow along, `job_script` is defined in `JobQueueCluster`, and calls `JobQueueCluster.dummy_job`:
https://github.com/dask/dask-jobqueue/blob/b2a5ac859edd0a4e1f06dda9554ccf191d34401b/dask_jobqueue/core.py#L548

The lat

[2020-05-25 14:30] sntgluca commented on #196
@lesteve ,
note that the comment above is only partially connected with the task array problem. The workers' names are determined when the `scale` method is called, which is unfortunately implemented in `distributed`.

We have been thinking about this ticket for a while now. I think we both spent too much time for what's worth. I feel we have three options:
1. give up, as it's not worth pursuing.

[2020-05-26 15:04] lesteve commented on #196
I still have some hope to find a work-around and document it with minimal code change. Although I agree we both probably spent spent too much time that we would have liked in an ideal world, I feel we at least understand the issue a bit better.

After having looked at this more closely, I am reasonably convinced that the "right way"  is to use `group` in the `SpecCluster` class. From the `SpecClus

[2020-05-26 17:51] lesteve commented on #196
I was being too optimistic and completely missed this in the docstring:
[code]

This `SpecCluster` `group` may still be part of making this a bit more robust (actually maybe used in adaptive mode only?) but this is definitely not the main story here :weary: ...

[2020-05-27 14:04] lukeconibear commented on #391
Hi,

I'm currently getting this error, on a previously working setup (I followed the [pangeo setup](https://pangeo.io/setup_guides/hpc.html) for jupyter and dask-jobqueue for my local SGE HPC). I could successfully run with jupyter lab on both a login node and in an interactive session on a compute node (preferable).

Now when I scale to say 150 workers and compute a task, the interactive session

[2020-05-27 15:09] lesteve commented on #391
Can you edit your post to add the snippet you are using in your Jupyter notebook?

[2020-05-27 15:21] lesteve commented on #391
Also this may be useful to troubleshoot: https://jobqueue.dask.org/en/latest/debug.html.

Some suggestions based on the info you provided:
- the Jupyter error with the websocket error is weird and I have no clue why this can happen, maybe try to reproduce without Jupyter (e.g. IPython only)?
- "scaling to 150 workers", do you get the same if you scale to a smaller number of workers and submit a si

[2020-05-27 15:40] lukeconibear commented on #391
Thanks for your reply.

The relevant code in Jupyter Lab is below. I omitted the code for other python library imports, reading in data, misc. setup, and function creation. I'm basically applying a function to a dask bag.

[code]

On my last attempt using an interactive compute node, the workers connected to the scheduler if I used the `ib0` interface, though this didn't happen earlier. Regardless

[2020-05-27 17:34] Ovec8hkin opened #436 "Pickle Failed to Deserialize on PBSCluster"
When running a script using dask on a PBS Cluster, the workers exit prematurely with the following logged error message (truncated):
[code]
This does not happened when running the same script on SLURM or LSF styles clusters.

What is the potential cause of this? I've checked that all the packages across the different systems are the same, and that the dask worker and scheduler are using the same p

[2020-05-28 14:06] martindurant commented on #436
Can you show what you were doing when this error happened, please?
Versions of other packages might be important too, such as cloudpickle. Are you certain that the versions are all the same? You could run `client.get_versions()` to check.
Also, is your code perhaps referring to an object that is in a local module on your client? That might only be importable if each worker can see the same disk an

[2020-05-29 16:06] #386 closed

[2020-05-29 17:16] rmg55 opened #437 "Dask Dashboard - Connection Refused"
Not sure if this belongs here or dask distributed (or elsewhere?) - so please let me know if I should move this issue to another repo.

### Issue ###
I am unable to access the dask dashboard when starting a cluster with dask jobqueue.

### Setup ###
Port forwarding jupyterlab from HPC running slurm.
Running a container (w/ Singularity): [container info](https://github.com/rmg55/container_stacks/bl

[2020-05-29 17:19] Ovec8hkin commented on #436
The code is indeed attempting to import a local module that we have developed and that is not installed via pip or conda. Im not sure whether each workers can see the same disk or not.

Here is the output of client.get_versions(check=True):
[code]

[2020-05-29 17:25] martindurant commented on #436
To send an object to the workers which is defined in a class in a module, that module must be importable by the workers for unpickling - otherwise we would have to send the whole source of all of your installed python libraries! You may be able to send just the one source file with `client.upload_file`, but generally it's better to have your own way to distribute environments, whether by sharing d

[2020-05-29 19:30] Ovec8hkin commented on #436
Ok. The cluster in question was setup and is administered by a single individual (I don't know why my PI wants to use this cluster specifically), so its probably a disk sharing issue related to how the cluster was configured. The fact that there is no $SCRATCH volume further supports this idea. I will ask my PI and the cluster admin if this is the case.

[2020-05-29 21:11] jennalc opened #438 "Security does not pass from JobQueueCluster to SpecCluster"
**What happened**:

Try to pass a distributed.Security object to a custom implementation of the JobQueueCluster.
Hit the following error:

[code]

**What you expected to happen**:

Expect that the cluster is able to start with the specified security settings.
Tried LocalCluster and was able to start the cluster with TLS.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to

[2020-05-31 08:29] sntgluca commented on #196
Dear @lesteve ,

This was good input! By checking how groups are already used in `JobQueueCluster` with multiple `processes` I came up with an alternative approach:

A user can "mimic" the behaviour of a task array by setting up a cluster with multiple processes, leading to fewer calls to the scheduler.
[code]
when `scale(n=<WORKERS>)` is called, the number of jobs submit to the cluster is scaled

[2020-05-31 18:32] MaximilianHoffmann commented on #207
How would i get the ib0schedulerIP ?

[2020-05-31 18:37] MaximilianHoffmann commented on #207
I have a related problem?
[code]
results in
[code]

[2020-06-01 04:31] lesteve commented on #207
If you install the development version of Dask-Jobqueue you can specify a different interface for the Dask workers and the Dask scheduler using something like https://github.com/dask/dask-jobqueue/issues/382#issuecomment-594654803.

If you still have a problem with IPv4, please open a separate issue with the full stack-trace.

[2020-06-01 04:59] lesteve commented on #391
I agree and at the same time bad practice is not very well defined. Running the Dask scheduler should not be ressource intensive, but if you do a lot of post-treatment in your notebook, that may be a problem.

About your problem with the interactive node, hard to know what is happening, maybe they have restriction on the interactive node that is a problem for websockets (not an expert on this netw

[2020-06-01 06:25] lesteve commented on #196
will allocate 10 cores on the cluster.

Sorry I assumed you knew about this approach from the beginning :sweat_smile: ... this was implicitly mentioned in https://github.com/dask/dask-jobqueue/issues/196#issuecomment-440036622 for example but the discussion is so long that it is hard to keep track of everything of course. It would be great if you could add it to the documentation! Not sure the bes

[2020-06-01 06:33] lesteve commented on #196
Maybe a better name for the section to create would be "How do I do the equivalent of job array with Dask-Jobqueue?". This is a question that a lot of people who are familiar with HPC clusters will be asking themselves so that would be very useful!

[2020-06-01 15:30] lukeconibear commented on #391
Thanks again for your help here.

Yes, the notebook uses 10-15 Gb and 10-15% CPU of the 192 Gb / 40 core login node (of which there is 2).

Testing on the interactive node using the extra=['--no-dashboard'] scheduler argument, the code does work successfully as you suspected. Although the dashboard is not essential for my work, it is really useful to have.

Yes, though each job only requests 1 GB

[2020-06-02 15:43] halsafar commented on #196
We mandate use of job-arrays because our SGE head node cannot keep up if everyone submits single jobs.

Exactly the opposite.  There is no 'gradually move to job arrays' for us.  We start with a large job array request and then as nodes die/crash/etc we spawn them with single qsub requests.

[2020-06-03 05:50] lesteve commented on #196
@halsafar interesting I would be curious to learn a bit more about your use case. IIUC you can submit single job (e.g. when a single job crashed and you need to resubmit it) so what is the recommended threshold of number of jobs for which it is acceptable for launching. Say you launch a job array of 100 jobs and 10 crash. Can you relaunch the 10 with single jobs, do you have to do a job array. Say

[2020-06-04 14:35] lesteve commented on #438
Sorry I missed this one this should (hopefully) be fixed in master (thanks to #398), would you be kind enough to give it a go and report back?

[2020-06-04 15:10] ericmjl commented on #196
@lesteve thank you for pointing this out. I noticed many on GitHub do not practice communicating "neutrally" and/or "effusively", and simply write out what's on their mind. This is a wonderful reminder.

[2020-06-05 04:52] lesteve commented on #391
I am not sure how to debug this further I have to admit, and it is not clear whether it is a JupyterLab (maybe a Dask JupyterLab extension if you are using it) or Dask problem ...

Here is what I would do if I were in your position depending on your priorities

### you just want this code to run and continue with your research

`extra=['--no-dashboard']` seems the easiest option

### you want the

[2020-06-05 08:04] lesteve commented on #196
I opened https://github.com/dask/distributed/pull/3855 to allow SpecCluster name to be used in the worker names. That would allow to use job arrays with something like this:
[code]
Notes:
- this is a work-around with caveats as noted in this issue. `.scale(jobs=1)` would actually launch 3 jobs (length of the job arrays) and create 3 Dask workers (one of each job inside the job arrays)
- this PR is

[2020-06-08 11:23] lukeconibear commented on #391
Thanks again for your helpful suggestions.

I've asked cluster IT and I'm waiting for a response (this may take a while).

In the meantime, as you can see from the link above, I've posted this issue on Dask distributed in case anyone has any ideas.

Yes, I can access the dashboard before and after `.scale()`.

Not for a much smaller number e.g. 5, but yes for numbers of workers say above 50.

Yes,

[2020-06-08 11:48] lesteve commented on #391
Thanks for your feed-back I suggest we moved to https://github.com/dask/distributed/issues/3857 to discuss this issue as there maybe more people with useful feed-back there.

[2020-06-09 09:15] lesteve commented on #391
So for completeness: after further investigation @lukeconibear's issue was that the interactive job was killed because it was using too many resources.

[2020-06-10 04:10] rmg55 commented on #437
Thanks for taking a look @lesteve. Yep, the dashboard is being served on port 8787 and I am able to port forward it via ssh.

Do you think this is related to dask/distributed#3748?  Looks like it should be resolved though?

Thanks!

[2020-06-10 07:28] lesteve commented on #437
It seems this bug has been fixed in jupyter-server-proxy 1.3 and Dask 2.15.2 so this is not exactly the same bug.

Right now I don't have a clue whether this is Dask-Jobqueue, Distributed, jupyter-server-proxy, Bokeh, some of your cluster network restrictions, or maybe more likely a combination of a few of them. Here are the kind of things I would try to troubleshoot the issue and figure out where

[2020-06-10 19:48] jmarkow opened #440 "Confused by memory reports using SLURMCluster and the dashboard"
**What happened**:

The Dask dashboard appears to mix individual memory limits with the total memory limit when using `SLURMCluster`.

**What you expected to happen**:

I expect that the total memory % in the Dask dashboard would reflect the total memory usage divided by the total memory limit.  Instead, the total memory % appears to be the total memory usage divided by the individual worker's mem

[2020-06-11 03:22] #436 closed

[2020-06-15 12:24] jennalc commented on #438
@lesteve Sorry it took so long to get back to this one. I tried with the master code today and security seems to be passing well. Thanks!

[2020-06-15 13:29] lesteve commented on #438
Great, thanks for letting me know.

[2020-06-15 13:30] #438 closed

[2020-06-15 16:53] lesteve commented on #440
Indeed it seems like a bug in the dashboard, thanks for the report!

I opened https://github.com/dask/distributed/pull/3897 to fix this so closing this one.

[2020-06-15 16:53] #440 closed

[2020-06-15 16:54] jmarkow commented on #440
Awesome, thanks for the fast response!

[2020-06-16 14:06] twrobinson opened #443 "dashboard link that is displayed in the notebook"
Hi,

I am using dask-jobqueue and the dask-labextension through JupyterHub.

After starting a SLURM cluster with jobqueue, `client` or `cluster.dashboard_link` print `http://<ip>:8787/status`. However, as I am through JupyterHub this URL does not work, of course.

If I paste `https://<url-of-server>/proxy/8787/status` into the dask labextension search bar, the dashbboard comes up and is functionin

[2020-06-16 15:18] lesteve commented on #443
Thanks for the report. Could you try the latest dask-jobqueue release namely 0.7.1 to see whether that fixes the issue?

[2020-06-16 16:46] twrobinson commented on #443
Hi, unfortunately I see no difference with 0.7.1.

Full pip list is now:
[code]

[2020-06-16 20:04] lesteve commented on #443
Thanks for the report our doc was misleading and I improved it see https://github.com/dask/dask-jobqueue/blob/master/docs/source/interactive.rst#configuration.

[code]

Closing this one, please reopen if that doesn't fix your problem.

[2020-06-16 20:04] #443 closed

[2020-06-19 19:11] fabiansvara commented on #206
This just cost me 4 hours of debugging since #304 and #230 are similar but completely unhelpful and show up high on Google, with lots of other unrelated noise. Plus with distributed's #3741 it's not easy to figure out what's actually going on. Shouldn't `cluster.scale()` do the waiting for you? At least the docs could be a little bit more helpful.

[2020-06-19 19:33] fabiansvara commented on #206
I don't think this should be closed as long as `cluster.scale()` doesn't wait for the workers to spin up.

This is super hard to debug for someone new to dask, since the first assumption is that the scheduling works differently than expected (which wouldn't be surprising as the documentation is a bit terse).

Currently, there is another closed (!) issue (#304) probably due to the same issue, which

[2020-06-20 08:17] lesteve commented on #206
`client.scale` submit jobs to your job scheduler (SLURM, PBS, etc ...) and indeed does not wait for jobs to start, you can use `client.wait_for_workers` if you want to wait before some (or all) of your jobs actually start running.

You are probably right that this could be made more clear in the documentation. I invite you to open a PR to improve the documentation.

[2020-06-20 18:17] fabiansvara commented on #206
I understand that now, but is that really sensible behavior? The API looks analogous to the standard library's `multiprocessing`, i.e.

[code]

... but that assumption is going to waste you a day, sort of invalidating the whole idea of using dask as a clean wrapper around the shellscript hell of classic job schedulers.

I could see how you might want this behavior if you are starting thousands of

[2020-06-20 19:03] mrocklin commented on #206
Thank you for your interest in the project @fabiansvara .  If you'd like the community to change this behavior then I encourage you to raise a new issue at https://github.com/dask/distributed/issues/new . The scale behavior is shared among all Dask deployment projects (hpc, cloud, kubernetes, yarn) and so isn't a decision that will be made in the dask-jobqueue repository.

It sounds like you've ha

[2020-06-20 19:09] fabiansvara commented on #206
Apologies, I have edited my message to be more neutral and to the point.

[2020-06-21 09:26] lesteve commented on #206
Thanks a lot for editing your mesage! Of course we all get frustrated and we all wish things were simpler and documentation made the caveat we bumped into more obvious but yeah maintainer fatigue is a real thing. On this topic, I really like [Setting expectations for open source participation](https://snarky.ca/setting-expectations-for-open-source-participation/) by Brett Cannon.

About Dask-Jobqu

[2020-06-21 23:52] fabiansvara commented on #206
My use case is pretty simple: Every job (CNN inference) needs to run on a different cluster node, since they need a GPU and each node has exactly one. I know how many SLURM jobs (dask workers) I can request without having to wait. SLURM starts all the jobs within less than a second.

However, when calling `map` right after `scale`, only one worker ever gets any jobs.

As it is currently, doing any

[2020-06-22 00:42] mrocklin commented on #206
It sounds like you either want to use client.wait_for_workers or dask-mpi,
as @lesteve suggested.

On Sun, Jun 21, 2020 at 4:53 PM fabiansvara <notifications@github.com>
wrote:

[2020-06-22 05:35] lesteve commented on #206
You may be interested to look at: https://examples.dask.org/machine-learning/torch-prediction.html. It is with a LocalCluster but easy to translate to a SLURMCluster.

I would say in a typical HPC cluster this is rather unusual but I may be biased by the HPC clusters I am familiar with ... generally you have no idea how long you have to wait for your one job to start (it can depend on how people a

[2020-06-22 06:42] ocaisa commented on #206
I also think dask-mpi is what you want for your use case, the workers will start instantly and you can tweak your SLURM job requirements to give you the distribution you want (1 MPI task per node would mean one worker per node, no need for a `map` step)

[2020-06-22 11:41] fabiansvara commented on #206
If that worked it would make the whole issue moot. According to the work stealing docs:

... depending on how exactly I interpret this sentence, it might explain what's going on. I instantiate the `SLURMCluster` with `extra=['--resources GPU=1']` and call map with `resources={'GPU': 1}`. This is because the GPU nodes also have a lot of CPUs, so they could also be used for running multiple CPU-boun

[2020-06-22 11:55] lesteve commented on #206
This was indeed a limitation but a PR supposed to fix this (https://github.com/dask/distributed/pull/3069) has been merged. It seems like this is in 2.12 so maybe check that you distributed version is recent enough.

If that still does not work for you this could be a problem with the PR or work stealing that does not kick in for some reason in your particular case ... hard to tell ...

And of cou

[2020-06-22 12:09] fabiansvara commented on #206
Hm, I have `2.18.0`. Anything I can do to narrow down what's going on?

[2020-06-22 12:33] lesteve commented on #206
Yeah that was my guess that your version was recent enough.

could you first post a snippet to show how you are creating your cluster and using it. In an ideal world a stand-alone snippet reproducing the problem would be great.

Here are a list of suggestions at this point:
- can you make sure that without resource work-stealing does happen
- do you need to actually use resource? For embarassingly

[2020-06-23 22:27] fabiansvara commented on #206
Finally found some time to experiment with this.

Here's my complete testing code:

[code]

This prints the following:

[code]

(the individual lines are separated by
[code]

... I removed that from the output above for clarity. This seems to be caused be the creation / closing of the cluster in the loop; it doesn't influence the results, which are identical when this is not run in a loop.)

Anywa

[2020-06-24 05:43] lesteve commented on #206
Thanks a lot for doing this! So it looks like work-stealing with resources does happen when cores=1, which is good to confirm.

The case where it does not work is when you have cores=20. I am not an expert on the work stealing logic, but I can only guess that work-stealing does not kick in because the scheduler sees 20 slots on the first node (one slot for each core) with 5 tasks to execute so wor

[2020-06-24 16:53] willirath opened #446 "New Github design shows oldest release as latest?"
The new side bar seems to get the order of releases wrong. It lists the v0.1 as the latest release:

![image](https://user-images.githubusercontent.com/5700886/85598583-03752500-b64c-11ea-8e6a-964edfb31d00.png)

(Not sure if this is something that can be fixed in this repo or if this is a bug with Github.)

[2020-06-24 18:51] mivade commented on #446
That's odd. Clicking on the `+12 releases` link shows things in the right order, so I'm guessing this is an issue with the redesign. I submitted a GitHub support request for this since I'm not sure how else to inform them of this.

[2020-06-25 07:20] willirath commented on #446
I think this is because of the distinction between releases and tags that [Github is making](https://help.github.com/en/github/administering-a-repository/about-releases). And `0.1.1` is the latest tag that also is a proper release.

To fix this, I'll add this step to the release procedure docs.

[2020-06-25 07:24] willirath commented on #446
See #447.

[2020-06-25 10:22] fabiansvara commented on #206
I looked into the documentation but couldn't find out how to create an `SSHCluster` with resources, not sure I can be of any help there. Should I create an issue specifically about work stealing on the distributed tracker?

[2020-06-26 10:40] lesteve commented on #446
Thanks for noticing this!

As a quick fix, I removed the old releases now there are only tags.

I looked at a few Dask projects (distributed, dask, dask-kubernetes) and none of them seem to be using releases, maybe this would be a conversation to have in `dask/community`?

I have to admit I don't really know the the advantages of having Github releases besides looking better in the web UI.

One th

[2020-06-26 10:44] willirath commented on #446
Agreed. I'll switch the PR to a draft to avoid merging before this is clearer.

[2020-06-26 10:48] willirath commented on #446
On this note: While Github releases feel comfortable, they're a big move to vendor lock in. As we don't _need_ them, because we rely on PyPI for distribution anyway, sticking to tags is the way to go for me.

[2020-06-26 11:12] lesteve commented on #446
OK closing this issue then!

[2020-06-26 11:12] #446 closed

[2020-06-27 19:52] andersy005 commented on #437
@rmg55, I recently ran into a similar issue and I tried different bokeh+dask+distributed combination and I couldn't get it to work until I pinned dask, distributed, and bokeh to the following versions:

[code]

[2020-06-27 23:50] fabiansvara opened #448 "Worker startup is very slow and times out (sometimes)"
I've been running into a problem on a SLURM cluster, where if I do `wait_for_workers` after `cluster.scale` the requested number of workers is not reached because workers die due to a timeout error. I was able to work around that by setting `death-timeout: 240` in `jobqueue.yaml`; `allowed-failures: 12` and `worker-ttl: "180s"` in `distributed.yaml`. I am not sure which one of these parameters exa

[2020-06-28 00:11] fabiansvara commented on #448
Ok - I can already answer my own question ;)

The problem here was that `local_directory` was set to the cluster's shared scratch space, which is on GPFS, making it too slow apparently.

[2020-06-28 00:11] #448 closed

[2020-06-28 00:26] mrocklin commented on #448
You may want to read through https://docs.dask.org/en/latest/setup/hpc.html for
some best practices on HPC architectures

On Sat, Jun 27, 2020 at 5:12 PM fabiansvara <notifications@github.com>
wrote:

[2020-06-28 00:27] mrocklin commented on #448
Oh, and thanks for raising an issue on github and following up.  Hopefully
your experience helps others in future web searches.

On Sat, Jun 27, 2020 at 5:26 PM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2020-06-28 18:02] sntgluca commented on #196
Hi @lesteve ,
I apologise, I could not find time to follow up.

So, given the implementation on `dask/distributed`, do you think there's a reasonable implementation, and it would be best to work on the documentation?

[2020-06-29 13:57] rmg55 commented on #437
@andersy005, thanks for the advice. I pinned those versions, and the dashboard/proxy-link are now working with those specific versions!

@lesteve, I was able to port forward the dashboard, and then everything works (JupyterLab extension and the direct link/url - http://localhost:8787/status). However, I was unable to get the proxy link (http://localhost:9999/proxy/8787/status) to work, unless I us

[2020-06-30 15:41] andersy005 commented on #437
Unfortunately, I don't know the culprit yet. I tried different combinations (including the most recent versions `dask/distributed=2.19`, `bokeh=2.1.1`) without success.

Ccing @mrocklin as he may have a better understanding as to why the dashboard doesn't work with the newer bokeh/dask versions.

[2020-06-30 16:17] andersy005 commented on #437
I can confirm that things seem to work just fine when using `distributed.LocalCluster`

However, as soon as you throw `dask_jobqueue.SLURMCluster` into the mix, the dashboard doesn't work

<img width="989" alt="Screen Shot 2020-06-30 at 10 15 04 AM" src="https://user-images.githubusercontent.com/13301940/86150567-cfba5500-baba-11ea-9e93-a1c6326310dd.png">
<img width="1486" alt="Screen Shot 2020-06

[2020-06-30 16:19] mrocklin commented on #437
Try passing `silence_logs=False` to SLURMCluster

[2020-06-30 17:27] andersy005 commented on #437
I did, but didn't see any logs in the notebook:

[code]

I found the following from the jupyterlab logs:

[code]

[2020-06-30 17:50] mrocklin commented on #437
Hrm, then I'm not sure.  Odd networking permissions on that interface?  For example, if that network interface is infiniband or if the cluster has networking rules then probably HTTP isn't supported.

It sounds like this does work with some versions of Dask though, so that seems somewhat unlikely.

[2020-06-30 18:41] lesteve commented on #437
I tried to reproduce and I can reproduce the dashboard 500 but only when I set interface explicitly, I don't know why ...

@andersy005 can you confirm you are seeing the same thing (make sure to comment out the appropriate section in your config if you have something about the notebook and maybe reload the notebook just in case, I don't remember whether the config is reread or not)

It looks like

[2020-07-01 15:51] lesteve commented on #437
I opened a PR in distributed: https://github.com/dask/distributed/pull/3941.

[2020-07-01 15:55] andersy005 commented on #437
@lesteve

I am getting the following

## With interface set to `ibo`

[code]

## With interface set to `None`

[code]

and with the interface set to `None`, the dashboard works as expected.

[2020-07-01 16:12] lesteve commented on #437
A work-around if needed is to specify dashboard_address to get the dashboard server to listen on all the interfaces:
[code]

[2020-07-02 15:36] andersy005 commented on #437
@lesteve, thank you for tracking this down and for the workaround!

It turns out that this leads to an error:

[code]

I had to do it this way:

[code]

and everything seems to be working fine 🎉

[2020-07-02 15:44] lesteve commented on #437
I didn't remember whether that was in 0.7.1 or in master and I thought it was a warning but oh well at least the error was informative enough for you to fix it.

[2020-07-08 17:05] andersy005 commented on #11
This appears to have been addressed:

[code]

However, it appears that **the reported information can be misleading sometimes**. For instance, I am using a system which restricts the number of concurrent jobs to 35. When I submit 40 jobs, `dask_jobqueue` reports that all 40 workers are in `running` state even when some of the jobs are in `pending` state according to `squeue`:

- `dask-jobqueue` re

[2020-07-08 17:08] andersy005 commented on #11
Never mind ;)

I hadn't seen @mrocklin's comment

[code]

[2020-07-08 17:12] andersy005 commented on #11
I am curious... What needs to be done for this issue to be considered "fixed"? I'd happy to work on missing functionality.

[2020-07-08 17:16] mrocklin commented on #11
There is now a convention around plan/requested/observed in the Cluster
class that should be what you are looking for I think.

On Wed, Jul 8, 2020 at 10:12 AM Anderson Banihirwe <notifications@github.com>
wrote:

[2020-07-09 11:39] bhanu-IITD opened #449 "Client not connecting to Cluster on HPC"
Hi,
I am trying to follow the instructions in the [video](https://www.youtube.com/watch?v=FXsgmwpRExM). The HPC uses PBS scheduler and I am able to submit the cluster request. However, when I try to connect the client to cluster, it doesn't happen. Please see the screenshot to understand the problem better.
![dask](https://user-images.githubusercontent.com/60338532/87035607-33552880-c207-11ea-99ce

[2020-07-09 14:29] mrocklin commented on #449
I've moved this issue to the dask-jobqueue package.  People here are generally better about diagnosing issues with HPC systems.

In general, I recommend looking at the logs of your jobs to see if the workers started or not.  Every HPC system is a little bit different and usually it takes a little while to play with settings / accounts / script parameters to get everything running smoothly.

[2020-07-09 14:31] bhanu-IITD commented on #449
Thank you. And yes, the worker jobs are indeed starting. You can also check the qstat parameters in left panel of 1st screenshot. From your video reference, it seemed pretty straight forward but somehow things are not working.

[2020-07-09 14:41] mrocklin commented on #449
I recommend checking the logs of those workers to see if there is some
issue connecting back up to the scheduler.  Maybe you need to use a
different network interface?

Here is an example of things going badly, and steps needed to correct
https://blog.dask.org/2019/08/28/dask-on-summit

On Thu, Jul 9, 2020 at 7:31 AM bhanu-IITD <notifications@github.com> wrote:

[2020-07-09 15:10] bhanu-IITD commented on #449
Hey, Thanks. I found the problem and solution from a [past](https://github.com/dask/dask-jobqueue/issues/216#issuecomment-451999170) issue.

[2020-07-09 15:10] #449 closed

[2020-07-09 15:21] mrocklin commented on #449
Great!  I'm glad to hear it.

On Thu, Jul 9, 2020 at 8:10 AM bhanu-IITD <notifications@github.com> wrote:

[2020-07-16 10:42] bhanu-IITD opened #451 ""distributed.utils - ERROR" after PBS jobs start"
While trying to use PBS scheduler on HPC , I get the "distributed.utils - ERROR" once the requested job starts. It was working previously but now it throws this error :
[code]

Here's what I my request code looks like :
![2020-07-16_11-32](https://user-images.githubusercontent.com/60338532/87661658-9a7e5a00-c77e-11ea-9774-b1b3595d8b52.png)

**Anything else we need to know?**:
The error report in o

[2020-07-16 10:52] bhanu-IITD commented on #451
Seems like there was a wrong entry at "memory=64", replacing that with memory="64GB", resolved the issue.

[2020-07-16 10:52] #451 closed

[2020-07-16 16:27] bhanu-magotra opened #452 "Dask distributed using login node's RAM during script execution"
While running a jupyter notebook on one of the login nodes of HPC,  I am able to use PBSCluster() to request a cluster of around 200 GB of RAM with 20 workers. I am also successfully able to link the the client with cluster.

When I execute my script, which involves working with a netcdf datset of around 140 GB, the workers are running properly but the RAM on the login node gets used up to 97%  of

[2020-07-16 16:32] willirath commented on #452
What exactly is your calculation doing? Dask does not prevent you from filing up memory on the client side.

[2020-07-16 16:44] bhanu-IITD commented on #452
After requesting the cluster and connecting the client , I have to execute the below code which is then followed by some plotting. Initially , I was trying to follow [this](https://stackoverflow.com/questions/62920660/identifying-the-inefficiency-and-bottleneck-in-my-approach-with-dask-and-xarray) approach which was too inefficient. Therefore, I decided to load the required dataset into memory to

[2020-07-16 16:51] willirath commented on #452
Xarray's `.load()` will bring all the data to numpy arrays on the front end.

[2020-07-16 16:53] bhanu-magotra commented on #452
Which is exactly what I want, but on cluster's RAM and not login node's from where I am running the script. Is it possible? Given the fact that I have successfully connected  client to the cluster prior to executing any thing.

[2020-07-16 17:06] andersy005 commented on #452
It sounds like you need to use `.persist()` instead of `.load()`

[code]

[2020-07-16 17:23] bhanu-magotra commented on #452
Thanks, I will try this and report back.

[2020-07-16 18:53] bhanu-magotra commented on #452
Using `.persist()` definitely restricted RAM consumption on login node. But, now I am back to my [first](https://stackoverflow.com/questions/62920660/identifying-the-inefficiency-and-bottleneck-in-my-approach-with-dask-and-xarray) problem.
`.persist()`  is still lazily loading the datasets and hence my outputs are very slow.
So, how do I now load xarray datasets eagerly into **cluster's RAM** ?

[2020-07-16 21:59] andersy005 commented on #452
The xarray dataset/datarray may still show you that it contains dask arrays, however with the `.persist()`call,  your data is now distributed as numpy arrays in your cluster.

One way to confirm this is to inspect the task graph right before and after calling `.persist()`, you will notice that your tasks graph look different:

- before

![Screen Shot 2020-07-16 at 1 17 31 PM](https://user-images.g

[2020-07-17 05:24] bhanu-magotra commented on #452
Ok. Thank you for explaining.

Yes. it seems like I am working with very small chunk size (1x300x300) * 4 bytes) which is creating large number of tasks. Now I have increased the chunksize with 'time':350. I was reading here that a chunk size of 1 GB is good if you have 20 cores with 200 GB RAM. I tried with chunking along time dimension with` 'time':2555` to make it 1 GB chunk. I also tried 'time

[2020-07-17 06:19] willirath commented on #452
Your timings (O(hours) for O(100GB)) don't really look like anything that is related to hardware limits (CPU, memory bandwidth, IO bandwidth).

Looking at the [linked Stackoverflow posts](https://stackoverflow.com/q/62790618/10052956), I noticed

Is this also true here? If so, I'm quite sure that ultimately this is the root of your problems:

1. Xarray's `open_mfdataset` can be quite slow for many

[2020-07-17 06:22] willirath commented on #452
@andersy005 I'm not sure if this is a good place for this discussion, as it's not really about any Jobqueue specifics, but I tend to not move this anywhere else, because it nicely show that scaling out to the big machine is hardly ever the first thing to do.

[2020-07-17 17:02] andersy005 commented on #452
I concur. Feel free to remove the `usage question` label if need be.

[2020-07-27 15:25] lesteve commented on #437
It should be fixed with dask 2.20, do reopen if that's not the case.

[2020-07-27 15:25] #437 closed

[2020-07-27 15:28] lesteve commented on #452
Thanks for the discussion I found it interesting!

I am going to close this one since it seems the discussion has reached its end. Feel free to reopen if needed.

[2020-07-27 15:28] #452 closed

[2020-08-04 08:10] MarieNyst opened #457 "Scale the number of dask workers to available resources on HPC"
When using dask on a HPC, it would be useful to be able to automatically scale up or down the number of dask workers based on how much free resources there are.

A simple use case would be:
I launch my computations, there are 20 free nodes. Dask sees that and starts 100 workers to get those nodes allocated.
1 hour later, a colleague launches something that is now in the queue. Dask sees that and e

[2020-08-04 14:16] ocaisa commented on #457
I would probably see this as more of a policy choice you would need to iron out with your site, it might not be appreciated that dask-jobqueue continuously polls the resource manager (this can make it clunky for everyone else...and how would you deal with multiple Dask users trying to use this feature at once). Rather than have Dask monitor the scheduler workload, you could work together with the

[2020-08-06 12:36] MarieNyst commented on #457
True, though it doesn't need to happen continuously, it could be just a regular ping.

I'm not sure, but wouldn't it work if the new workers were not sent all together at the same time? As in, sending new workers and making sure they started before sending more?

I understand. My issue with this approach is that I have no maximum number of jobs. I would want to have about 600 workers when the clus

[2020-08-14 13:20] Djeutsch opened #458 "PBS scheduling reports error on the generated PBSCluster job scripts"
Hello,

I've been trying to invoke dask in data processing work by asking for more memory using `dask-jobqueue` (**v0.7.1**) on an HPC cluster that uses PBS scheduling. The following are the steps I used based on this [Dask jobqueue Documentation](https://jobqueue.dask.org/en/latest/howitworks.html).

[code]

After running this script I was expected things to work just fine, but I am getting error

[2020-08-14 14:06] ocaisa commented on #458
That's not normal for PBS according to http://docs.adaptivecomputing.com/torque/4-0-2/Content/topics/commands/qsub.htm (but I don't use PBS, so maybe this info is outdated?).

You can always use the `job-extra` kwarg to set unusual/alternative parameters, in this case
[code]
should hopefully do the job.

[2020-08-14 22:49] Djeutsch commented on #458
@ocaisa,  That fixes the error issue but the job submission is not going through as it generates the following message
[code]

[2020-08-14 22:51] Djeutsch commented on #458
@ocaisa,  That fixes the error issue but the job submission is not going through as it generates the following message
[code]

[2020-08-15 05:50] ocaisa commented on #458
I assume that submitting the jobscript by hand results in the same error, so I would compare it to examples you have for your site to understand where the issue is coming from (or ask the admins to take a look at the jobscript). Try manually tweaking the jobscript until you can get it to submit correctly. Once you know what the script should look like, you can figure out how to tweak your cluster

[2020-08-18 03:42] demaheim opened #459 "Make SLURMCluster.scale() to request multiple nodes at once"
Our cluster prefers multiple node requests over single node requests.
The problem is that
- Scaling a SLURMCluster on this system takes long time.
- E.g. SLURMCluster.scale(10) makes 10 single node requests which takes much longer than just requesting 10 nodes at once.

Our current workaround to speedup scaling is to start the cluster via the script
[code]
In this case, the 11 nodes are requested

[2020-08-18 10:38] willirath commented on #459
I don't see an easy path towards fully supported multi-node jobs in Dask jobqueue as it's designed to serve as a common or at least very similar interface to many different batch scheduling systems.

I'm not familiar with many of the supported batch scheduling systems, but none I know has something that is as flexible as the `salloc` or `sbatch` --> `srun` you outline here. So maintaining general

[2020-08-18 10:40] willirath commented on #459
Also, for Dask clusters of static size, [dask-mpi](http://mpi.dask.org/) could be the right solution.

[2020-08-18 11:50] willirath commented on #459
Just tried this. The hard coded `-n 1` https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/slurm.py#L67 stops you from just adding more tasks to the job header.

[2020-08-18 14:41] guillaumeeb commented on #459
Hi @demaheim, see also https://github.com/dask/dask-jobqueue/issues/196. It is about job arrays, but I think it shares your concern,  and give some explenation on why this is not implemented in dask-jobqueue.

TL;DR; the current approach is to find a workaround to avoir complexifying dask-jobqueue code. So if you find one for Slurm, this would be very welcomed!

[2020-08-18 14:42] guillaumeeb commented on #459
Hey @willirath, could you try to use `header_skip` parameter?

[2020-08-24 05:47] demaheim commented on #459
Hi @willirath and @guillaumeeb ,
thanks for explaining why my request is difficult do implement in dask-jobqueue.
I tried using
[code]
but there are still only single node requests:
[code]
Later I will try
- ```python="srun -N 10 -n 10 --exclude=$SCHEDULER python"```
- Consider dask-mpi
- And think about finding a workaround for Slurm without complexifying dask-jobqueue.

[2020-08-24 06:24] willirath commented on #459
I think `header_skip` skips lines that _contain_ the listed strings: <https://github.com/dask/dask-jobqueue/blob/d7afbfe50191a4dca5f07ee506294edebbe05ad5/dask_jobqueue/core.py#L284>

The following could do:
[code]

[2020-08-24 06:28] willirath commented on #459
You can check the job script with
[code]
and make sure the header looks fine.

[2020-08-24 06:54] willirath opened #461 "SLURMCluster: header_skip should not skip user-defined extra header lines"
Currently, with `SLURMCluster`, the user can add arbitrary header lines by adding them to the `job_extra` list. These extra lines [end up in the `job_header` attribute](https://github.com/dask/dask-jobqueue/blob/d7afbfe50191a4dca5f07ee506294edebbe05ad5/dask_jobqueue/slurm.py#L80_L83) right upon initialisation of the cluster.

Before submitting a job, the [`header_skip` list is used to filter all h

[2020-08-24 07:15] demaheim commented on #459
When I use
[code]
it looks good (requesting 9 nodes at once)
[code]
cluster.job_script():
[code]

but when I use numbers > 9, e.g. 10:
[code]
only one node is requested:
[code]
cluster.job_script():
[code]
(sorry, I need to logoff the cluster now, I will try again tomorrow)

[2020-08-24 07:24] willirath commented on #459
This looks like expected (but somewhat buggy, see #461) behaviour: `header_skip=['-n 1', ...]` will remove all lines _containing_ `"-n 1"` including the one for 10 nodes you added with `job_extra`.  Dirty workaround until #461 is fixed would be to add an extra space or in the `job_extra` arg 😞

The Job script with 9 nodes looks promising. But you'll need to use
[code]
to make sure you're really ge

[2020-08-25 11:23] MatthewLennie commented on #122
@guillaumeeb Is this still current? It seems like there is an additional flag in the Worker CLI to trigger life time restarts --lifetime-restart. Even with the additional flag this doesn't seem to work for me.

[2020-08-25 11:50] guillaumeeb commented on #122
I just tested with dask and distributed 2.22.0 and jobqueue 0.7.1, and it works.

You don't want to use this flag in this case, or your jobs will never terminate normally, they will be killed by the job scheduler due to walltime. What you want is your jobs ending before the walltime limit, so only `--lifetime`.

Did you tested this with the code above, or your own code?

[2020-08-25 11:54] guillaumeeb commented on #461
Thanks @willirath for analysing this.

Maybe we could use header_skip during initialization? I don't think we really need to do it every time we generate the job_script... This was probably simpler to do as there is no generic method for the header generation currently, and the job_extra are added in every implementation.

So I propose to add such a method, and put the header_skip before adding jo

[2020-08-25 12:23] guillaumeeb commented on #457
Thanks @MarieNyst for this good question.

I agree with @ocaisa here : overall, this is more a job queueing system tunning, that should not be in dask-jobqueue. Your job queuing system is responsible for the load between user and jobs priority.

For this particular point, there may be something to do in dask-jobqueue: prevent dask-jobqueue to launch too many jobs if they're not starting. This does

[2020-08-25 13:13] guillaumeeb commented on #418
Just tried to reproduce this one, I think this is a distributed problem rather than dask-jobqueue.

Opposite to @willsALMANJ, I'm able to reproduce it with LocalCluster. Just doing:
[code]

Trigger a lot of errors:
[code]

I'm on Dask and distributed 2.2.0.

cc @TomAugspurger @jrbourbeau you may want to move this one to distributed repo.

[2020-08-25 13:37] guillaumeeb commented on #414
Hey @tiagofrepereira2012, I'm not an expert in Sphinx either. But I think this is intented we only display documentation for FooCluster final classes. In the doc, we only point to this classes (see https://github.com/dask/dask-jobqueue/blob/master/docs/source/api.rst).

I'm going to close this issue, but if you think this should be improved and have some proposition about it, feel free to reopen t

[2020-08-25 13:37] #414 closed

[2020-08-25 14:26] demaheim commented on #459
The dirty workaround first looks good:
[code]
leads to
[code]
but
[code]
seems to result in many errors
[code]

[2020-08-25 18:33] raybellwaves opened #462 "Learnings from submitit"
Case across this on Twitter. May be some learnings

https://github.com/facebookincubator/submitit

[2020-08-25 19:06] jrbourbeau commented on #418
Thanks for the ping @guillaumeeb, transferring over to distributed

[2020-08-26 07:29] ocaisa commented on #459
There are a few potential issues that could be triggering this, one is that (to my understanding) there is likely no guarantee from the the launcher (`srun` in this case) that anybody other than the root process can access argc and argv, with MPI you would usually have to distribute these if they were required by other MPI tasks.

The other is that even if they were available, your 9 workers would

[2020-08-31 04:37] demaheim commented on #459
Thank you for all your help! I will try ```dask-mpi``` and check if it serves our needs!

[2020-08-31 08:11] MarieNyst commented on #457
Thank you for your answer.
The solution you propose indeed helps in my situation.

This, I think, would be very useful and solve the issue in any setup.

[2020-09-09 17:38] twoertwein opened #463 "SLURMCluster doesn't seem to adapt the number of workers"
**What happened**:
`SLURMCluster` started but created only one workers even though it is ~~managed by a `Client` with `adapt`~~ supposed to adapt between 1 and 10 jobs.

**What you expected to happen**:
I expected dask to ask SLURM to create one workers, potentially wait for how quickly it finishes, and then create more workers (the graph has four independent parts).

**Minimal Complete Verifiable

[2020-09-09 17:47] ocaisa commented on #463
To give you a quick answer, the kwargs you're after were changed a while ago to `minimum_jobs` and ` maximum_jobs`, see https://github.com/dask/dask-jobqueue/pull/346/files

[2020-09-09 17:53] twoertwein commented on #463
thank you @ocaisa ! I changed that but it still does work as expected. I'll update the example in a second.

[2020-09-11 14:59] guillaumeeb commented on #463
Hi @twoertwein,

I you case, using `minimum` or `minimum_jobs` shouldn't make any difference as you have only one worker process per job looking at your configuration.

I must admit I have trouble understanding your example based on graph construction, maybe you could try to use delayed instead? Something like (this is probably not right):
[code]

I also see that you use `direct_to_workers` kwarg,

[2020-09-11 15:35] twoertwein commented on #463
thank you @guillaumeeb !

as far as I understand `SLURMCluster` `cores` (how many cores per workers are we requesting) and `processes` (how many processes should one workers have) should not limit the number of jobs that may be created. The `n_workers` argument should set the number of workers. I try to avoid specifying `n_workers`  since it should dynamically estimate how many it needs.

I will l

[2020-09-11 16:05] guillaumeeb commented on #463
It would be helpful to visualize how Dask is planning to execute your Graph. As I'm not familiar with the use of Graphs and client.get, it's difficult for me to tell you how to do. Maybe you could store the return of client.get into a variable and try to call `visualize()` on it.

Also, using the Dashboard could give insights : it would give you the execution graph and how the tasks are scheduled.

[2020-09-11 17:10] twoertwein commented on #463
thank you for the debugging pointers! I will look into that this weekend.

I will test `adapt` also with `LocalCluster`, to make sure that SLURM isn't interfering in an unexpected way.

[2020-09-16 03:46] SultanOrazbayev opened #464 "Resource constraint is not respected"

[2020-09-25 08:31] bioinfornatics opened #465 "ValueError: cannot get address of non-running Server"
Dear,

Firstly thanks for your tools, it is very promising.
Currently this piece of code raise `ValueError: cannot get address of non-running Server`

[code]

what goes wrong?
Should I:
1. to provide some extra information about the slurm configuration such as the control machine host ?
2. run `dask-scheduler` command?
3. computing node do not have the same interface, is it the problem ?

Thanks f

[2020-09-25 08:41] bioinfornatics commented on #465
I finally found the problem, hopefully you have many unit test which help to understand hox to use it

[code]

[2020-09-25 08:41] #465 closed

[2020-09-29 15:18] #433 closed

[2020-10-01 19:40] twoertwein commented on #463
`LocalCluster` scales the number of workers up but `SLURMCluster` doesn't seem to do that. Setting `minimum_jobs` (for `SLURMCluster`) to 2 will spawn a second job but the `maximum_jobs` seems to be ignored.

Here is the graph visualization:
https://drive.google.com/file/d/1ZuIqLrYLwG2uAkG7iLsMGbVXzr5opy5a/view?usp=sharing

And here is the updated code:

[code]

[2020-10-03 18:17] twoertwein commented on #463
I was able to narrow down a little bit :)

The memory utilization seems to prevent the adaptive upscaling. In

https://github.com/dask/distributed/blob/a80b867cf40b05aa423a19aea1a077764ffba0f4/distributed/scheduler.py#L5380

`limit` is always really high (constant, in my case 2000000000 - `"memory": "2G"`) while `total` is very small (it is growing, starts with 0, then 24, 48, ...).

For the `Loca

[2020-10-03 20:05] twoertwein commented on #463
@guillaumeeb I think the if-conditions referenced above (in dask/distributed) seems to be wrong? Shouldn't it be
[code]
More importantly, the adaptive scheduler needs to distinguish between creating more workers within a job (in that case it is necessary to check whether there is enough space for those workers) and creating more jobs (in that case we might either have no memory limit or query SLUR

[2020-10-08 14:42] #464 closed

[2020-10-11 11:52] riedel commented on #122
What is the correct way to evict a job from the schedulers point of view? Is SIGTERM enough for a worker to correctly terminate and transfer its memory, after https://github.com/dask/distributed/pull/2844 gets merged?

Does gracefull shutdown mean, that memory gets moved?

I agree that workers ideally terminate one after another, there should be a way to spin up replacements well in time or choose

[2020-10-14 12:35] jennalc opened #469 "New cluster type for IBM Spectrum Conductor"
I have been working on a new JobQueue cluster to integrate with IBM Spectrum Conductor.
https://www.ibm.com/ca-en/marketplace/spark-workload-management

Would love to contribute the cluster to this project.

[2020-10-14 14:20] guillaumeeb commented on #469
Hi @jennalc,

I'm not sure if your link is providing a lot of information on your JobQueue cluster implementation. It mostly talks of Spark an other tooling.

Anyway, if you want to propose a JobQueueCluster implentation with a new Scheduler, feel free to open a PR for it!

I was under the impression that Spectrum Conductor was not exactly like LSF or other queuing system, but I may well be wrong.

[2020-10-14 14:28] jennalc commented on #469
@guillaumeeb - It is not exactly like LSF, but based on similar scheduling technology, though with different interface than LSF.
I saw from the contributing guidelines that there are some test requirements for different schedulers as a docker image. I do not have such an image prepared for Conductor. Would you still accept a PR in this case?

[2020-10-16 20:31] bbockelm opened #470 "Make job submission asynchronous"
I have noticed that execution of commands (e.g., `condor_submit` for the condor backend) appear to be synchronous.  In fact, there's a small note about this in the code itself:

https://github.com/dask/dask-jobqueue/blob/master/dask_jobqueue/core.py#L305

We've started to notice this particularly at very busy batch schedulers.  For example, when dask labextension (https://github.com/dask/dask-labe

[2020-10-16 21:25] mivade commented on #470
Or to not have to change anything else using the `_call` method with something like:

[code]

[2020-10-22 14:35] oshadura commented on #470
@bbockelm I tested both solutions proposed by @mivade in our environment, but I still see some non-responsiveness (I will investigate).

[2020-10-27 09:05] lesteve opened #471 "Work-arounds for CPU time limits where the Dask scheduler lives?"
One of the cluster I have access to has set CPU time limits on the login nodes.

This makes it a lot less convenient to use `dask-jobqueue`:
- IMO the easiest thing to do is to run the Dask scheduler on a login node. This way you don't have to write submission script and can stay in full Python
- the Dask scheduler even if it consumes 5-10% CPU quickly goes over the CPU time limit (30 minutes CPU

[2020-10-27 17:33] stuarteberg commented on #471
One option is to host the scheduler on one of the GPU nodes.  But of course, it would be a waste of a GPU if that node can't participate as a worker, too.

If your non-login nodes are allowed to launch jobs themselves, then I propose the following:

1. Run the scheduler on a GPU node
2. From there, launch a cluster of N-1 workers
3. Create one more worker locally, and add it to the cluster, so the

[2020-10-28 09:29] kathoef commented on #471
Just out of curiosity, do you know how they do that from a technical point of view? Do you know why they do that? Seems very restrictive to me and very much like they don't want interactive work on their system at all.

I was actually thinking that a classical batch task workflow might be more promising here? That is, interactively developing the code on a subset of the problem (probably on one of

[2020-10-28 10:22] riedel commented on #471
This works great from my experience with spark, however, I have been struggling a lot with walltime limits here, particularly if the workers are too long running and/or the even worse the scheduler is killed. In HTCondor, i think, it would help eg. if you have a Parallel universe to ensure that the cluster lives on (our cluster does not support this :( ) , but then if your jobs are too long-runnin

[2020-10-28 10:57] willirath commented on #471
If the time limitation hitting the scheduler cannot be fixed and hence easy resuming of Dask computations remains, there could be solutions using serialized Dask graphs. You can `cloudpickle` Dask graphs (even as part of high-level objects like `xarray.Datasets`) and there is (orphaned?) https://github.com/radix-ai/graphchain which might be helpful here.

[2020-10-29 09:00] lesteve commented on #471
Thanks a lot for the answers:
- @stuarteberg this is interesting. I wish it was easier for the user though ...
- @kathoef my understanding is that they implement their limits via a mix of cgroups and ulimit but I am not entirely sure
- @riedel about "parallel universe" where the Dask scheduler could live as long as needed: I would agree this would be nice. I had some idea for a proof of concept wh

[2020-10-29 14:47] mrocklin commented on #471
Some wacky ideas:

-  Given that your jobs are long and that I'm assuming data movement is low, you could also consider using the dask local (single-machine) scheduler, and build a small extension to it that ran each task in a Jobqueue job.
-  We could look at high availability for the scheduler.  This is on my TODO list, but pretty far down and it's a large effort, but is important to handle at s

[2020-10-29 16:49] jennalc commented on #469
@guillaumeeb - PR has been submitted: https://github.com/dask/dask-jobqueue/pull/472

[2020-11-15 20:05] twoertwein commented on #463
I created a PR for dask-distributed that fixes this issue (and also ensures that there are not more than necessary number of workers). The PR also contains a simpler testcase to reproduce the issue:
https://github.com/dask/distributed/pull/4155/files#diff-413d6f55a708fcd529d5cb0b45208a3a49636e637bbfcada6de0949d37e6de50R483

[2020-11-18 19:17] guillaumeeb commented on #463
Wow, that's great @twoertwein.

Sorry for the lack of follow-up here, but I'm really glad you found the bug!

[2020-11-18 21:55] twoertwein commented on #463
if you have time @guillaumeeb (or anyone else familiar with the affected code), it would be great to get comments on the PR. The PR has been idling around for quite a while (except me occasionally doing: `git pull --rebase upstream master && git push --force`)

[2020-11-22 22:20] maxgalli opened #475 "Can't get results from HTCondorCluster"
Dear developers,

I'm experiencing some problems submitting jobs with ```HTCondorCluster```.

This is the simple example I'm trying to run:
[code]
I would expect to see the progress bar completed and then a list ```[0, 1, 2]``` printed.
What happens is that the jobs **seem** to run: if I run ```condor_q``` I initially see 3 jobs in idle, then they start running until all of them are done. But wher

[2020-11-23 10:33] oshadura commented on #475
Hey @maxgalli, I would suggest you to look into https://jobqueue.dask.org/en/latest/generated/dask_jobqueue.HTCondorCluster.html constructor and tune arguments `extra`, `job_extra` and even `scheduler_options` according your job description file `x.sub` (or to try to at least to get logs and see what could be missing from created job ClassAd).

[2020-11-24 09:49] maxgalli commented on #475
Thanks @oshadura, I tried to run the following:
[code]
and ```dask_job_output.err``` says the following:
[code]

I took a look and it seems similar to this thread (https://github.com/dask/dask-jobqueue/issues/391).

Is there anything in particular I should try to do differently and/or ask to the cluster IT?

Thanks

[2020-11-24 10:03] oshadura commented on #475
@maxgalli it looks like a problem with network, you will need to ask somebody from CERN IT to open ports...

[2020-11-24 17:15] guillaumeeb commented on #463
I can't promise you, but I'll try to take a look at it in the next weeks.

[2020-11-26 15:00] jennalc commented on #222
I also hit this error in some cases when using the ConductorCluster from https://github.com/dask/dask-jobqueue/pull/472 in adaptive mode. Similar to previous commenters, the error does not occur in all cases and happens sporadically.  Re-running the cell typically is successful.

Environment:
[code]

[2020-11-30 10:32] herbtama commented on #238
+1 to this issue - instead of following [aws/aws-parallelcluster#1517 (comment) ](https://github.com/aws/aws-parallelcluster/issues/1517#issuecomment-561775124) for our parallel cluster running in production we have made a local fork of the dask-jobqueue library and commented out [this line](https://github.com/dask/dask-jobqueue/blob/0e03349d11068d816c6890b60cebf5a6edee7139/dask_jobqueue/slurm.py#

[2020-11-30 12:56] lesteve commented on #238
Can you not use the `header_skip` parameter as mentioned in https://github.com/dask/dask-jobqueue/issues/238#issuecomment-629994873

[2020-12-04 16:50] mrocklin opened #477 "Release"
We would like to release after #476 .  This is important for the ongoing scheduler work.  Is this ok with maintainers here?

@jrbourbeau assuming that people here are ok with this, is this something that you could accelerate?

cc also @jakirkham

[2020-12-07 20:42] jakirkham commented on #477
cc @lesteve

[2020-12-08 08:04] #477 closed

[2020-12-09 00:35] lesteve commented on #477
FYI I released 0.7.2 on PyPI.

[2020-12-09 01:41] jakirkham commented on #477
Thanks Loïc! 😄

[2020-12-10 09:33] simone-codeluppi opened #479 "Dask workers are created, htcondor jobs allocated but workers only slowly connected to the dask cluster/scheduler"
Hi
When a start a `cluster` using `dask-jobqueue`:

[code]

**What happened**:
The 100 jobs on condor start almost instantaneously (only my work is running on the cluster)
When I look at the dask `cluster` size it takes a long time (1hr or more) before it reaches 100 workers or sometimes doesn't reach the max at all and the number of condor jobs is scale down to the number of workers reported by t

[2020-12-10 17:45] mivade commented on #479
I just tried this out with my cluster using `dask-jobqueue` 0.7.1 and couldn't reproduce the issue. It does take a little while for the jobs to spin up and workers to connect, but in my case it looks to take less than a minute. I also installed 0.7.2 to confirm that it works as expected. The only other key difference is that I have a newer version of Condor:

[code]

Anecdotally, I have sometimes

[2020-12-12 06:19] simone-codeluppi commented on #479
Thanks for the effort! Really appreciated. I will check if an upgrade of condor is an option for our cluster.

[2020-12-28 09:50] maxgalli commented on #475
It was a setup problem with our batch queuing system, solved here https://cern.service-now.com/service-portal?id=ticket&table=u_request_fulfillment&n=RQF1699933.
I'm thus going to close this.

[2020-12-28 09:50] #475 closed

[2021-01-15 09:12] lesteve commented on #196
That was the kind of work-around I had in mind for job arrays: https://github.com/dask/dask/discussions/7070#discussioncomment-283523.

The known caveats are:
- scaling is weird `.scale(jobs=1)` would actually submit full job-array so you get `length(job-array)` jobs
- adaptive very likely doesn't behave correctly because of the scaling quirk above

Of course there may be unknown caveats ...

[2021-01-15 09:12] #196 closed

[2021-01-15 15:45] ionlights commented on #196
@lesteve I was actually using `.adapt(minimum_jobs=2, maximum_jobs=8)` in my script, and it scaled up with no hiccups. Never had to scale down, so I can't speak to it, but this work-around could be clearly labeled with "use at your own risk, it's minimally supported, but it works". (I'm sure you had this in mind already, just iterating for clarity.)

[2021-01-15 15:59] lesteve commented on #196
With my maintainer had on I would rather be even more conservative and say "use at your own risk, this may explode in your face at any moment" :wink:

[2021-01-20 09:52] lesteve commented on #196
In the development version this is a bit easier to use job arrays thanks to #480, see https://github.com/dask/dask/discussions/7070#discussioncomment-295506

[2021-01-23 14:59] guillaumeeb commented on #122
@riedel sorry for the delay...

Just submitted a merge request to clarify things here and close this issue.

From Dask-jobqueue perspective, just use `--lifetime` option as explained above. This will trigger a gracefull shutdown.

Use `--lifetime-stagger` option.

Hmm, I guess there is no correct answer to this right now. The solution here probably won't work well on worker with a heavy memory loa

[2021-01-23 16:03] guillaumeeb commented on #463
Hey @twoertwein!

I finally took a look at your issue... Hope you're still around. I see you've closed you issue in distributed, that's OK, I think I've got a solution for you.

So I've been playing a little with your example, and here's what I saw in my dashboard when launching your graph example:
![Graphs](https://user-images.githubusercontent.com/17138587/105606660-029ba180-5d9b-11eb-9e58-b17a9

[2021-01-23 16:17] guillaumeeb commented on #463
OK, so the solution using graph is:
[code]

This will identify each task with the same name _test_fun_, and run as you expected!

But I still encourage you to build your graphs with `delayed` 😄.

[2021-01-23 16:19] guillaumeeb commented on #463
I'm closing this issue, feel free to reopen?

[2021-01-23 16:19] #463 closed

[2021-01-23 16:49] twoertwein commented on #463
thank you for your in-depth answer! I will look into moving to `delayed` :) In my real code, I cannot give all tasks the same name since follow-up tasks aggregate only some of the tasks (at least I don't think that is possible in the dict graph since it associated parent tasks by a string. Probably works with `delayed` since I can just pass it a future).

While the PR was fixing my symptoms, it wo

[2021-01-23 17:06] twoertwein commented on #463
quick follow up questions: is `scatter` or `delayed` recommended to distributed data to workers? I have been using scatter but the [best practises](https://docs.dask.org/en/latest/delayed-best-practices.html) also mention `delayed` to push data to workers. I think scatter was recommended in some wanring when I simply put large data in the tuple of the dict graph.

[2021-01-23 20:07] guillaumeeb commented on #463
I think that if delayed manage to do it, you can probably do the same using the tuple (func_name, index) as parent task, but I'd advice against it anyway (see https://docs.dask.org/en/latest/graphs.html: _Working directly with dask graphs is rare, unless you intend to develop new modules with Dask. Even then, dask.delayed is often a better choice_.

The root cause is that dask needs a reference of

[2021-01-23 21:04] guillaumeeb commented on #222
Thanks @jennalc for the update. Are you also using Parquet, or is it unrelated to that?

[2021-01-23 21:09] guillaumeeb commented on #238
Closing this one, I think the `header_skip` options can fix the problem. And it is well documented thanks to @lesteve!

https://jobqueue.dask.org/en/latest/advanced-tips-and-tricks.html#skipping-unrecognised-line-in-submission-script-with-header-skip

[2021-01-23 21:09] #238 closed

[2021-01-23 21:13] twoertwein commented on #463
thank you very much!

[2021-01-23 21:16] guillaumeeb commented on #479
I guess we'll need some output logs of the workers that are taking a long time to spun up. See https://jobqueue.dask.org/en/latest/debug.html#interact-with-your-job-queuing-system.

From my experience with HPC cluster, if  a worker is slow to start, it's because the underlying file system which host the Python install is overwhelmed. But I've never seen start taking longer than a minute or so.

I'

[2021-01-23 21:21] guillaumeeb commented on #475
Hi @maxgalli, I'm glad you find the fix to your problem.

I've got to ask, I'm really curious about what you are doing at CERN with Dask! Did it finally help you to do some science?

[2021-01-23 22:09] guillaumeeb commented on #470
For the terminology, it's on the Jupyterlab UI process (the notebook server) that dask-labextension will run, and not in the Kernel (another process were the code gets executed, e.g. the notebook cells).

So if I understand, the `condor_submit` command is taking time to run, and so it block all Jupyterlab UI through dask-labextension.

An easy solution is stop using jupyterlab-extension for starti

[2021-01-23 22:21] guillaumeeb opened #482 "Fix CI intermitent failures on SGE"
As stated in several places like in https://github.com/dask/dask-jobqueue/pull/466#issuecomment-701529961, SGE CI is regularly failing.

We should try to solve this, help is welcomed!

[2021-01-23 23:06] guillaumeeb commented on #471
On this point, I see two potentials solutions in dask-jobqueue:

- just submit your workload on a node, so that the client and dask scheduler get started there and live a long life. This has already been more or less proposed.
- Push up #390 and #186...

Just out of curiosity, are these Jean-Zay cluster rules?

[2021-01-23 23:09] guillaumeeb commented on #462
Thanks @raybellwaves.

There's a dask-jobqueue comparison in there: https://github.com/facebookincubator/submitit#comparison-with-daskdistributed.

In the end, submitit looks like a Python wrapper to Slurm command, whereas Dask-jobqueue enables Dask usage on a lot of job queueing system, not the same goal I think.

[2021-01-23 23:09] #462 closed

[2021-01-23 23:13] guillaumeeb commented on #459
I think there is a workaround for this with https://github.com/dask/dask-jobqueue/pull/480.

Closing this one.

[2021-01-23 23:13] #459 closed

[2021-01-23 23:17] guillaumeeb commented on #458
Totally agree with @ocaisa. You probably have some qsub option that don't work with your cluster's restrictions. Maybe try to remove the `project="ERTH0834",` part? Or maybe this comes from the resources_spec.

[2021-01-23 23:19] guillaumeeb commented on #457
I'm closing this since we (at least I) don't plan working on preventing to launch too many jobs in queue right now.

[2021-01-23 23:19] #457 closed

[2021-01-24 05:32] andersy005 opened #483 "Enable documentation autobuild (for PRs) on Readthedocs"
Now that Readthedocs provides automatic build of documentation for pull requests: https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html, it would nice to enable this feature for this repo.

Ccing @lesteve, @guillaumeeb who may have administrative access to the dask-jobqueue on Readthedocs.

[2021-01-24 11:58] #373 closed

[2021-01-24 11:58] #122 closed

[2021-01-24 13:26] guillaumeeb commented on #483
I am far from a ReadTheDoc expert, I don't believe ever connecting to it, and this looks confirmed by the fact it did'nt know my email...

Maybe @mrocklin can help us here?

And I think @andersy005 you should have every rights on everything related to dask-jobqueue!

[2021-01-25 08:09] lesteve commented on #483
I don't have the rights on readthedocs either.

According to https://readthedocs.org/projects/dask-jobqueue/ maintainers are @mrocklin @jhamman @TomAugspurger @jrbourbeau. If one of you could add me to the dask-jobqueue maintainers on ReadTheDocs that would be great!

Then I can add @guillaumeeb and @andersy005!

[2021-01-25 08:39] lesteve commented on #471
You guessed it right :wink:. I tried to ask whether CPU time limits on the login nodes could be a bit more generous (2-3 hours) but they were extremely reluctant to do so saying that login nodes are not designed for this kind of workflow :cry:.

This would definitely be progress but sometimes this is not enough, for example all your jobs needs the max walltime of your queue, once your Dask schedul

[2021-01-25 09:05] lesteve opened #484 "Fix SGE timeout in CI"
See https://github.com/dask/dask-jobqueue/pull/466#issuecomment-707606439 (and comments around) for more details about how to debug and possible work-arounds.

I was able to reproduce locally but this is intermittent ...

Another possible thing to do is to figure out what has changed since SGE was running fine (maybe 3 months ago or so) but this could actually take more time than finding a work-ar

[2021-01-25 10:53] guillaumeeb commented on #482
Closing this one has duplicated of #484 which has more details provided by @lesteve.

[2021-01-25 10:53] #482 closed

[2021-01-25 11:05] guillaumeeb commented on #471
Yeah, this is common concern, which is why it's also great to be able to do things like https://jobqueue.dask.org/en/latest/advanced-tips-and-tricks.html#how-to-handle-job-queueing-system-walltime-killing-workers with Dask.

So this is where submitit can be useful. But you'll need a Slurm scheduler for that... (see #462).

In your case, we'll need Dask Workers that can live without a running Sched

[2021-01-25 13:36] TomAugspurger commented on #483
@lesteve I added you on readthedocs.

[2021-01-25 14:43] lesteve commented on #483
Great thanks! I added @andersy005 @guillaumeeb and @willirath as maintainer on ReadTheDocs and enabled building the doc on PRs.

Closing this one, any issues let me know!

[2021-01-25 14:43] #483 closed

[2021-01-25 16:45] bgulowaty opened #485 "Cluster overview is showing cores = nthreads * workers, instead of actual cores"
**What happened**:
Cluster overview is showing misleading number of used cores.

[code]

![2021-01-25_17:26:49](https://user-images.githubusercontent.com/2604929/105734194-aa97a300-5f32-11eb-8e08-eeeecda82ffc.png)

**What you expected to happen**:
When I set extra params of worker by passing `extra`, eg `extra=['--nthreads 2']`, number of cores is misleading, as it shows nthreads (used by workes)

[2021-01-25 19:14] jennalc commented on #222
@guillaumeeb - No, I was not using parquet, but was working with a large CSV.
I had actually done some searching in the distributed repo a few weeks ago and found some reference there from a few years ago that seemed to indicate it is not specific to dask-jobqueue, as as suggested earlier in this issue.
https://github.com/dask/distributed/issues/1930

[2021-01-25 20:21] jrbourbeau commented on #222
Some operations, e.g. `Client.replicate`, assume a non-active cluster and aren't robust to things like workers going away or coming online. It looks like the particular `assert` that's getting triggered here is related to that. FWIW we hope to improve this situation in the future to make these operations more robust

[2021-01-28 11:56] AdamWlodarczyk commented on #431
Hi, I've made some code tweaks for this but since #370 is back to life it is not relevant I think. Or is it?

[2021-01-30 10:02] guillaumeeb commented on #485
Hi @bgulowaty, thanks for posting here, and sorry for the delay.

I see what you'd want in your specific use case, but I think it is too edgy and wouldn't represent everyone's point of view.

`SlurmCluster` in an implementation of `SpecCluster` from dask.distributed, so it must also be consistent with other Clusters implementations. The widget you displayed just represent the Dask Cluster that is

[2021-01-30 10:05] guillaumeeb commented on #431
You're right @AdamWlodarczyk, if we managed to finish #370, it may be used to solve this one, although I'm not completely sure of it... Maybe you can propose a PR if you've got something ready?

[2021-01-30 10:11] guillaumeeb commented on #222
OK, thanks both. Closing this again as it is quite probably linked to a wrong behaviour of some functions when using adaptive clusters.

Not related to Dask-jobqueue specificaly. But I'd say that this is probably very visible with it, as adaptive workers can go in and out very fast in a cluster with some free resources!

[2021-01-30 10:11] #222 closed

[2021-02-01 12:13] AdamWlodarczyk commented on #431
@guillaumeeb OK, I proposed a PR. `htcondor` and `sge` have some problems but I don't think they are related to this PR.

[2021-02-08 07:30] maxgalli commented on #475
Hi @guillaumeeb, sorry for the late reply.
I'm working on rewriting an analysis framework for Higgs to two gamma analysis.
Since it will have to run on (at least) two clusters using HTCondor and SLURM, Dask (+ joblib) looks like the perfect solution to have a common API for both of them. But right now I'm still at an early stage, so I don't have much more information :)

On a wider and more genera

[2021-02-08 19:39] jsignell opened #488 "Move default branch from "master" -> "main""
@jrbourbeau and I are in the process of moving the default branch for this repo from master to main.

 - [x] Changed in GitHub
 - [x] Merged PR to change branch name in code (xref #487)

### What you'll see
Once the name on github is changed (the first box above is Xed, or this issue closed), when you try to `git pull` you'll get

[code]

### What you need to do

First: **head to your fork and ren

[2021-02-08 19:51] guillaumeeb commented on #475
Thanks for the explanation, I hope Dask will answer your need and others at CERN!

[2021-02-09 13:39] lesteve commented on #488
Thanks a lot for working on this! Let me know if there is something you expect me to do, e.g. follow https://github.com/github/renaming#renaming-existing-branches to do the `master` -> `main` renaming via the Github web UI.

[2021-02-10 07:13] lesteve commented on #488
I renamed the default branch through the web UI and merged #487.

cc @dask/dask-jobqueue for more visibility about the `master` -> `main` renaming.

Thanks @jsignell!

[2021-02-10 07:13] #488 closed

[2021-02-10 17:12] jsignell commented on #488
Thanks @lesteve!

[2021-02-21 04:49] WillemMarais opened #489 "Indefinite wait time with SLURMCluster and client.submit(..., resources={'MEMORY': int(1024**3)})"
When I execute the following code the last `client.submit` blocks indefinitely:
[code]
When I replace `resources={'MEMORY': int(1024**3)}` with `resources={}` the code behave as expected and `total.result()` returns the number 4. Based on the [`SLURM Deployment` example](https://jobqueue.dask.org/en/latest/examples.html#slurm-deployment-providing-additional-arguments-to-the-dask-workers) I am unde

[2021-02-21 05:39] andersy005 commented on #489
@WillemMarais, If I understand your code snippet correctly, you want your tasks to run on workers that meet certain constraints. Your issue has to do with the fact you are using resource constraints: `resources={'MEMORY': int(1024**3)}` in `client.submit()` and you haven't defined this in the `SLURMCluster`. As a result, from dask scheduler's perspective, there's no worker in your cluster that mee

[2021-03-01 14:46] lesteve commented on #489
@andersy005's answer seems right to me, I am going to close this one. @WillemMarais feel free to comment if that does not fix your original problem.

[2021-03-01 14:46] #489 closed

[2021-03-04 03:23] nsmith- commented on #222
I ran into this also with my cluster implementation (mostly HTCondorCluster but using directly the htcondor bindings and implementing async) and am wondering if the root cause of this may also explain why I saw some cases where the cluster lost a future and had to recompute rather large chunks of the task graph. Is it possible the adaptive deployment is somehow force closing the workers before the

[2021-03-05 06:01] davidmonro opened #490 "Add possibility of overriding the scheduler address the workers see?"
Hi,

we are trying to do something slightly odd; we want to have the notebook and scheduler run on a node inside our openstack cluster, and the workers run on the our PBS cluster, which is not inside openstack.

The openstack nodes do have floating public IPs assigned, but that IP address is not visible on any of the interfaces of the node (there's effectively a reverse NAT going on between the wo

[2021-03-05 07:43] davidmonro commented on #490
Oh, and just to complicate things slightly, we'd want to maintain the port number chosen by the scheduler, and just override the actual IP.

[2021-03-09 21:47] Rodot- opened #491 "Provide a maximum number of simultaneous workers for SLURMCluster"
When using SLURMCluster and using adaptive deployments, there's no way currently to tell the scheduler to restrict the number of simultaneous workers.  This is an issue since some accounts submitting to SLURM may be limited in the total number of simultaneous jobs that may be submitted to the job queue.

[2021-03-09 22:01] jrbourbeau commented on #491
Thanks @Rodot- -- I'm transferring this issue over to dask-jobqueue as it seems specific to that project

[2021-03-09 22:22] andersy005 commented on #491
@Rodot-,

Let's assume that your system has a limit of 36 concurrent running jobs per user, wouldn't the following achieve what you are looking for?

[code]

[2021-03-10 14:19] Rodot- commented on #491
@andersy005

The problem is that I might need more *total* jobs than that.

I'll give the example for my case.  I have 100,000 functions I would like to evaluate over a grid of parameters.  Each function takes 12 minutes to evaluate and runs on a single core.  Say each node in my cluster has 20 cores and a maximum of 50 jobs at a time in the queue.  So I make a collection of workers with 20 cores

[2021-03-10 14:36] Rodot- commented on #491
Ah, I see, I found it looking through the source code: https://github.com/dask/dask-jobqueue/blob/main/dask_jobqueue/core.py

Thanks for the help!

[2021-03-10 18:15] Rodot- commented on #491
Sorry, it looks like my issue is not resolved, I'll provide a code example to demonstrate what I mean.  I misunderstood the difference between `minimum`/`maximum` and `minimum_jobs`/`maximum_jobs`, the issue is the same.

[code]

This code will not complete all 100000 function calls.  The workers will reach their lifetime then die, and adapt will not respawn them.  I've tried playing around with `

[2021-03-10 18:15] #491 closed

[2021-03-10 20:51] guillaumeeb commented on #491
You might find this part of the doc relevant too:

https://jobqueue.dask.org/en/latest/advanced-tips-and-tricks.html#how-to-handle-job-queueing-system-walltime-killing-workers

[2021-03-18 16:36] guillaumeeb commented on #490
Hi @davidmonro,

Sorry for the delay...

I'm not sure I understand your issue. From what I get, you're trying to do something impossible.
If the Scheduler cannot bind to an IP on the Openstack node to be visible from the workers, Dask can't work.

Maybe you want to launch the Scheduler on the PBS cluster too? The IP from the PBS cluster can be reached from the notebook inside Openstack?

What IP a

[2021-03-19 02:07] davidmonro commented on #490
Hi,

the workers can connect to the node running the notebook and scheduler, but using a different IP address than the one visible inside the node.

(At least on our implementation, inside an openstack project all the nodes get allocated an internal IP; you can allocate external "floating" IPs to them as well, which things outside openstack can connect to, but on the inside, you see the traffic as

[2021-03-23 07:48] lesteve commented on #490
I am not quite sure this covers your use case but maybe you can try `PBSCluster(..., scheduler_options({'host': 'your-host-ip-here'})` ...

[2021-03-23 17:27] guillaumeeb commented on #490
Yes, you're right... Complicated situation.

If the solution proposed by @lesteve doesn't work, one option would be to override the Job classes of your scheduler to give your own scheduler address. https://github.com/dask/dask-jobqueue/blob/main/dask_jobqueue/core.py#L86.
https://github.com/dask/dask-jobqueue/blob/main/dask_jobqueue/pbs.py#L37

Else, propose some PR to add an argument to the PBS j

[2021-03-26 03:16] davidmonro commented on #490
Sorry it took me a couple of days to get back to you. @lesteve solution doesn't work because it causes the scheduler to try and bind to the address I give it, which isn't possible since that IP doesn't appear on any interface belonging to the node (I get an exception OSError: [Errno 99] Cannot assign requested address which is exactly what I would expect).

I'll look at adding an argument to the c

[2021-03-26 15:35] simone-codeluppi commented on #479
I looked at many session of logs but nothing really stand out or error reported.
I still think that the process crush because of communication issues between workers and schedules but still no idea if it is a specific issue of our setup. I have being trying to figure this out but nothing so far.

[2021-03-30 05:13] #479 closed

[2021-03-31 05:34] simone-codeluppi opened #493 "Lost connection to scheduler process on login node (HTCondor)"
**What happened**:

Hi

I am processing 800-1000 3D microscopy images using `dask/dask-jobqueue` on an `htcondor` managed cluster. Each 3D image is processed in parallel (embarrassingly parallel application using mapping functions and gathering futures). Each image is processed in a separated `job` managed by a `worker`. The min and max number of `jobs/workers` is regulated by adaptive scaling (mi

[2021-03-31 08:48] jacobtomlinson commented on #493
The problem you mention with the scheduler losing connection may be an environmental issue in your HPC, but other than that I think this issue is more around long running tasks in distributed rather than deployment issues in dask-jobqueue.

I'm going to move it to another repo to get more visibility on it.

I think if you could share the logs from the scheduler and workers along with the task log

[2021-04-01 08:25] #427 closed

[2021-04-05 19:58] schmidt73 opened #494 "LSFCluster breaks when using spaces in job submission name."
**What happened**:

I created a job where I wanted to request 8GB on each worker node, but no matter what I tried, the memory was always set to 2GB (the cluster infrastructures default). This resulted in some very confusing behavior since the workers kept crashing with LSF_MEM_LIMIT errors.

**What you expected to happen**:

I expected the jobs to be instantiated with 8GB of memory since I specifi

[2021-04-05 20:04] schmidt73 commented on #494
I fixed the bug by looking at the job submission string and running it manually. I tried removing several BSUB flags and found that it worked after removing the '-P' flag from the submission string. The issue was that there were unescaped spaces in the submission string, which broke bsub, causing it resort to default parameters (2GB of memory in my case).

Below I show how only 2GBs of memory was

[2021-04-08 17:07] hristog commented on #494
Hi @schmidt73, I've created https://github.com/dask/dask-jobqueue/pull/495 to address this issue (essentially, implementing your proposal for enclosing the project name in quotes).

It hasn't been reviewed by the maintainers yet, but it can be tested locally via, e.g., `pip install -U git+https://github.com/hristog/dask-jobqueue.git@494-job-name-spaces` (if you do end up trying it out, please, tak

[2021-04-21 18:28] shaohao99 commented on #196
@guillaumeeb  For this comment,
[code]
Do you use Slurm or other job schedulers? If it is Slurm, could you please tell me how to implement that? Thank you.

We use Slurm on our cluster and would want to implement this: N concurrent individual jobs and M concurrent jobs in all job arrays (e.g. m job arrays with n jobs in each and M=n*m), and M is much larger than N. I have read the Slurm documentat

[2021-04-25 13:58] theinem commented on #389
Did you find the solution?

[2021-05-02 09:50] #494 closed

[2021-05-02 09:51] guillaumeeb commented on #494
Sorry for the delay reviewing this, the PR is in!

[2021-05-02 09:54] guillaumeeb commented on #196
No, we are currently using PBS Pro. And since a recent update, we cannot do that anymore. We just have now a limit of 100,000 jobs in queue, be it standard job (which is huge) or jobs in array. So same limitation you seem to have.

I cannot help with Slurm, but surely you can find some channel to ask Slurm developers? Maybe on github https://github.com/SchedMD/slurm?

[2021-05-02 09:58] guillaumeeb commented on #479
One thing you could try is to increase the TCP communication timeouts in distributed.yaml:
[code]

[2021-05-02 10:03] guillaumeeb commented on #222
Adaptive cluster is a tricky set-up. There might still be some edge cases where it fails closing properly things. But I think you'd better ask this question on distributed issue tracker, but non before having some code that reproduce things a bit ;). I know, this is sometimes almost impossible...

[2021-05-02 18:42] hristog commented on #494
Hi, @guillaumeeb - thanks for confirming!

[2021-05-11 02:11] riedel opened #496 "protocol should default to tls if security is set"
if there is nothing that speaks against that I would file a PR for this.

Currently you will get an runtime error:
`RuntimeError: encryption required by Dask configuration, refusing communication from/to 'tcp://'`

(Actually I then accidentially set tls via the scheduler options which made things worse: the workers silently failed to connect)

[2021-05-11 19:49] bollig opened #497 "Allow `--mem=0` for unlimited memory on SLURM."
https://github.com/dask/dask-jobqueue/blob/1f9ae1ecc79a5b76930e56c8801f3b8ace659877/dask_jobqueue/slurm.py#L108

For example:
[code]

This removes the requirement for SLURM nodes to be configured with RealMemory specified.

[2021-05-13 02:08] AlecThomson commented on #20
Hey all, I'm just jumping on this thread, as I seem to be having a similar problem.

In my specific case I only get worker death using `cluster.adapt` and when the `processes` kwarg in `SLURMCluster` is > 1. I've put some details in a SO [post](https://stackoverflow.com/questions/67326553/dask-jobqueue-why-does-using-processes-result-in-cancelled-jobs/67328294?noredirect=1#comment119067830_6732829

[2021-05-15 09:02] guillaumeeb commented on #496
I've never looked into Security into Dask, but what you propose makes sense, especially if encryption option is set in security object.

If it's simple enough yes I guess, I don't know if there are other solutions to obtain certificates when IPs are kind of random, or at least can vary on a high range.

[2021-05-18 05:50] AlecThomson opened #498 "Different configs result in worker death"
**What happened**:
(Reposting from [SO](https://stackoverflow.com/questions/67326553/dask-jobqueue-why-does-using-processes-result-in-cancelled-jobs/67328294?noredirect=1#comment119067830_67328294))

I'm using Dask Jobequeue on a Slurm supercomputer (I'll note that this is also a Cray machine). My workload includes a mix of threaded (i.e. numpy) and python workloads, so I think a balance of thread

[2021-05-19 10:28] AlecThomson opened #499 "Allow for arbitrary path to configuration files"
Hi there!

Currently, the `jobqueue.yaml` file must be placed in `~/.config/dask/` or in the directory specified by `DASK_ROOT_CONFIG` environment variable. It'd be great if a config file could be passed in via a kwarg in the cluster definition, e.g.
[code]

As an example use case, I'm building a pipeline which I'd like to make as portable as possible. I think it'd be easier to package a default `

[2021-05-20 00:53] andersy005 commented on #371
@mrocklin, could you point me to the setup you used on Cheyenne/Casper? I've been trying to launch a dask cluster with ucx protocol for communication. All my attempts have failed

Running the following

[code]

Results in a timeout error.

<details>

[code]

</details>

I tried launching the scheduler from the command line, and I ran into a different error:

<details>

[code]

</details>

Am I mak

[2021-05-20 14:56] quasiben commented on #371
@andersy005 can you post the version of ucx / ucx-py and what ifconfig returns on  one of the compute nodes?

[2021-05-20 17:05] andersy005 commented on #371
@quasiben,

Here are the versions I am using

[code]

Here's the ifconfig output

<details>

[code]

</details>

I noticed that in my previously failed attempt, I was on the login node. I switched to a compute node, and launching the scheduler from the command line appears to be **working**. One thing to note here is that scheduler's IP address that ends up being used here is the Public IP address

[2021-05-24 15:09] jacobtomlinson commented on #499
This is a pretty big departure from how we generally do config across Dask today. Adding arguments like this would kinda invalidate the [documentation for the Dask config system](https://docs.dask.org/en/latest/configuration.html). The Dask config is loaded from many places across the system and merged together into a single source which can be queried using a dot notation.

Perhaps for your use c

[2021-05-24 15:16] jacobtomlinson commented on #496
We did this in dask/dask-cloudprovider#222 for the cloud VM based cluster managers.

It took a little work to remove some of the hard coded assumptions we had made around protocol and there was a little effort to handle the certificate generation correctly. But now by default certificates are generated by default and updated into the Dask config dynamically. In `dask-cloudprovider` we serlialize a

[2021-05-24 15:19] jacobtomlinson commented on #498
This seems to have an answer on SO so I'm going to close this out here.

[2021-05-24 23:36] AlecThomson commented on #498
Hi @jacobtomlinson - sorry for not being more transparent, I recreated this question here even with that answer in place. I don't think the current answer addresses the problem, which lead me to repost here. The suggestion on SO is that it is a Slurm issue. However, through my testing I've found that the jobs are not cancelled to due Slurm, and that the resource requests remain the same. Rather, i

[2021-05-24 23:37] AlecThomson commented on #499
That looks like that'll do exactly what I need. Thanks!

[2021-05-25 09:01] #499 closed

[2021-05-25 09:05] jacobtomlinson commented on #499
@AlecThomson you might also be interested in [dask-ctl](https://dask-ctl.readthedocs.io) which is an incubator project where I am trying to solve some of the problems around creating, managing and deleting Dask clusters.

Specifically, the [section on cluster specs](https://dask-ctl.readthedocs.io/en/latest/spec.html) where you can define a cluster entirely in a YAML file and then create it in Pyt

[2021-05-28 15:00] guillaumeeb commented on #371
I'm glad @andersy005 that you are trying to test this. Looks like there is some more testing and a good documentation effort to make all this work.

Yes it is, so we should be OK on this part.

I think this is what we want!

[2021-05-28 15:13] ocaisa commented on #371
I should add here that we also tested this a few months ago and found it to give no performance benefit (at least in our use case). We also found that it kills resilience, though this may have since changed.

[2021-06-05 13:12] guillaumeeb commented on #498
Hi @AlecThomson,

Sorry for the delay. This seems a complicated issue, the problem is probably coming from a mix of how Slurm is setup on your system, adaptive scaling, dask-jobqueue, and your workflow.

First, simple question: do you really need adaptive scaling? This is a great feature, but it introduces a more complex way of managing resources, your workers (and jobs) are probably stopped and r

[2021-06-05 13:26] guillaumeeb commented on #496
@riedel, feel free to propose a PR for this!

[2021-06-09 06:56] AlecThomson commented on #498
Hi @guillaumeeb,

Thanks very much for following up!

I would very much like to make use of the features, if possible. First, I'm on a highly-subscribed system, so its possible jobs could be sitting in the queue for some time. My understanding is that using the `lifetime` and `liftime-stagger`, in combination with adaptive scaling, is a neat workaround for preventing timeouts in the queue. Second,

[2021-06-10 13:29] 183amir opened #500 "Why is the walltime is set by default?"
I was wondering why the default walltime for workers is set to 30 minutes instead of None?

For example, see https://github.com/dask/dask-jobqueue/blob/1f9ae1ecc79a5b76930e56c8801f3b8ace659877/dask_jobqueue/jobqueue.yaml#L71

I kept having failed jobs for 2 days until I realized that it's actually this library is setting a hard limit for my jobs, why?
This was very hard to debug among all the othe

[2021-06-11 13:35] jacobtomlinson commented on #500
Most Dask cluster managers intend to get folks up and running as quickly as possible without insisting on lots of things being configured by the user. Most (if not all) HPC systems require walltime to be configured, so setting a sensible default like `30 minutes` is pretty reasonable.

I would also expect that most HPC systems show that a job was killed by it reaching the walltime.

I would be tem

[2021-06-15 09:25] guillaumeeb commented on #500
Historically, I'd say this is because we wanted interactive use and job that can run fast and not stay in queue too long. Using a small walltime and limited resources by job often help with jobs being executed. I personally often use a walltime of 1 hour.

Maybe yes, in this case this was not to made them aware, but as @jacobtomlinson to have a sensible default.

I'd say no, in some batch scheduli

[2021-06-15 09:51] guillaumeeb commented on #498
I'm not sure what you say by timeout in the queue. `lifetime `is for preventing reaching walltime when a job is run. A use case of Adaptive in combination to this is helping you for long running computations, especially when you're not sure of how many resources you'll have. But be careful, this is also really tricky to get right depending on your workflow.

This I think is the principal interest

[2021-06-15 19:24] 183amir commented on #500
In our HPC, the queues have a maximum time set by default. There is no need to set walltime.
I imagine the admin users of other HPCs make sure that jobs don't run indefinitely.
If an HPC system requires the walltime to be set AND the default walltime is None, the users will figure this out by the first time using this library.

Yes, but the whole idea of using dask is not to deal with and learn th

[2021-06-15 19:49] andersy005 commented on #500
In my experience, shorter walltimes (e.g. 30 minutes) allow a job to start more quickly than if the
maximum walltime is always requested.

[2021-06-16 09:11] 183amir commented on #500
maximum walltime is always requested.

Would you know why? Could you please test that on your grid objectively or ask your grid admin if that's actually true? That does not make sense to me. Usually, the fewer requirements that you put on your job will allow your job to be matched with a wider selection of machines available in the grid.

[2021-06-16 09:31] ocaisa commented on #500
I think you just need to consider how a queueing system works. It's a bit like tables in a restaurant, tables are reserved at particular times but sometimes people finish their meals early so the table is free until the next reservation arrives: if you willing to have a short time to eat you can fit into the empty slot and skip the queue.

[2021-06-16 09:35] ocaisa commented on #500
If you want to understand more about job schedulers (queueing systems) you can take a look at https://carpentries-incubator.github.io/hpc-intro/13-scheduler/index.html

[2021-06-16 09:44] jacobtomlinson commented on #500
It is also worth considering that some job schedulers have fixed points in the future where a high priority job has been allocated. In my experience of running weather and climate models on HPC systems there are hourly, daily, monthly, etc jobs that are already scheduled into the system.

So if you can submit short jobs they may fit into gaps that long jobs will not.

[2021-06-16 12:35] 183amir commented on #500
Would you agree to a change similar to https://github.com/dask/dask-jobqueue/pull/501 ? Because right now it's not possible to set walltime as None without changing the configs.

[2021-06-23 19:32] guillaumeeb commented on #500
So in https://github.com/dask/dask-jobqueue/pull/501#issuecomment-865959711 we converge towards an agreed solution.

@andersy005 @jacobtomlinson @lesteve does it sounds good to you to change the default walltime in the config file and set it to null?

This should be accompanied by a indication somewhere in the documentation saying that this will be required in most setup (this might break things f

[2021-06-25 14:53] AlexanderVanEck opened #502 "Add SlurmRESTJob to connect SLURMCluster to a remote Slurm cluster"
Hello 👋  Thank you for considering this feature request :) I have been looking over dask-jobqueue (together with prefect) to allocate resources on a Slurm cluster I have access to. dask-jobqueue seems exactly what we'd need for this, thank you for maintaining it 🙇

### Context

In the case where Slurm and a python process (script or notebook) are not running on the same host SlurmCluster will not

[2021-06-28 10:35] jacobtomlinson commented on #500
I am apprehensive about making a change like this to support a minority of users. If something is required by most users then it should have a sensible default, as we do today.

[2021-06-28 10:37] jacobtomlinson commented on #502
This proposal sounds totally reasonable to me. Do you have any interest in raising a PR?

[2021-06-28 10:59] AlexanderVanEck commented on #502
Very much! I'm only waiting on the infrastructure that I have access to to enable the SLURM REST API, so I can test it.

Would you have time for a review sometime this week/next week @jacobtomlinson?

[2021-06-28 11:03] jacobtomlinson commented on #502
Happy to review but I think it best for one of the core maintainers of this repo (@guillaumeeb, @lesteve) to do the final merge.

[2021-06-28 13:38] mivade commented on #500
I think there are two issues here:

1. One person's sensible default is not necessarily the same as another's
2. A sensible default should be well documented

On point 1, I don't think there's any magical number that can be chosen as the "most sensible" default, so keeping as is (to not interfere with existing users) seems reasonable. One point 2, I honestly didn't even know that there was a defau

[2021-06-28 14:51] jacobtomlinson commented on #500
I'm definitely in favour of documenting it.

I am also in favour of logging output to the user when we create cluster managers for them. In `dask-cloudprovider` we log some information about the cluster object when it gets instantiated and that information is also available at `cluster.get_logs()`. We log things like VM type, docker image, region, etc. I think other cluster managers should start i

[2021-07-03 09:50] guillaumeeb commented on #502
This sounds also totally reasonable to me, as it keeps the general concept of dask-jobqueue and should be pretty readable by the look of your snippet!

This is really nice to have a REST API for submitting job, Slurm is definitely a nice job scheduler.

So waiting for your PR 👍 !

[2021-07-03 09:56] guillaumeeb commented on #500
OK, what you say makes complete sense!

So to fix this issues, we should both :
* update documentation to inform about the default setting (and explaining it a bit),
* log some output with the jobqueue cluster main settings by implementing the `_log` method of the Cluster object.

[2021-07-06 10:07] guillaumeeb opened #505 "Release a 0.7.3 version of dask-jobqueue"
I know there have only been a few changes since 0.7.2, but I'd like to issue a new release for two main reasons:

- https://github.com/dask/dask-jobqueue/pull/503, our Dask users have their logs getting polluted a lot since june Dask release, this seems to be really uncomfortable for developing and debugging things.
- I think it will make this project more alive to have some regular release, last

[2021-07-06 11:00] lesteve commented on #505
I am fine with doing a 0.7.3 soon (maybe without waiting for #502). Thanks for pushing this forward!

[2021-07-06 11:06] lesteve commented on #505
By the way, ideas to make this project more alive (as you said) would be more than welcome! Maybe organising small development sprints from time to time?

Personally I have been busy with other things recently so I did not have time to do much related to Dask ...

[2021-07-06 11:16] lesteve commented on #502
Just curious, your use case is to create a `SlumRemoteCluster` on a host
- where Slurm is not installed (for example `sbatch` does not exist) but you have access to the Slurm REST API endpoint
- which is in the same network as the Slurm cluster (I don't know the exact technical term but what I mean is that the Dask scheduler on this host need to communicate over HTTP to the Dask workers on your co

[2021-07-06 11:58] AlexanderVanEck commented on #502
@lesteve thank you for responding 🙇‍♂️ I've been poking around dask-jobqueue for a few days now and am very happy to see it's been very well maintained. Thank you for this.

Yes, that would be correct.

I wouldn't know how to determine if this is a common situation. However I would argue that since SLURM has introduced an REST API to be able to remotely start jobs there must be some users.

The us

[2021-07-06 12:21] lesteve commented on #502
OK running the Dask scheduler **inside a docker container** (on a login node I assume) is a use case that makes sense. I did not think of this, thanks!

For security reasons I would think that cluster sys-admins would not allow connecting to the Slurm REST API endpoint from the outside, but maybe these kind of security constraints are only in place for "big" clusters.

[2021-07-06 12:53] AlexanderVanEck commented on #502
Yes - or at least somewhere where it can send/receive calls from the SLURM REST API. I would say "inside" the cluster.

[2021-07-06 22:37] andersy005 commented on #505
👍🏽 So looking forward to this... Would this be at a recurring time e.g. once a month or once a quarter depending on people's availability?

[2021-07-12 19:41] guillaumeeb commented on #505
We're all busy with too many things... But I could try to book half a day once a quarter!

[2021-07-18 13:32] wshanks commented on #505
Just a release with #503 and #506 would be really great for me. The warnings are frequent enough to cause performance issues with my workloads.

[2021-07-19 09:42] areichmuth opened #508 "dask_jobqueue SLURMCluster: job_extra does not include option in SBATCH"
**What happened**:
I try to get dask running with jobscheduler on a SLURM HPC. Our HPC does not take `--mem` but instead `--mem-per-cpu`. For this I called following dask_jobscheduler:
[code]

**What you expected to happen**:
The `header_skip` did correctly remove the memory from my sbatch call. Unfortunately the `--mem-per-cpu` is not correctly included.

**Minimal Complete Verifiable Example**:

[2021-07-19 09:55] areichmuth commented on #508
Found the error but it might be a bug.
If I do not use the `header_skip` and leave memory untouched it correctly includes `--mem-per-cpu`. This results in the following:
[code]
Our HPC can not resolve this as two different memory options are included. How can I exclude the default memory statement and give this demanded `--mem-per-cpu` option?

Thanks
Anne

[2021-07-22 05:27] lesteve opened #509 "Test failure on main with dask >= 2021.4"
[code]

This seems like the memory is in GiB rather than GB, maybe a change in dask/distributed?
- it passes on the CI (dask 2021.3 and distributed 2021.3 see [this](https://github.com/dask/dask-jobqueue/runs/3130790721#step:5:47)) which I can reproduce locally. Side-comment: why are we using dask 2021.3? Probably because we test with python 3.6.
- it fails with dask 2021.4 and distributed 2021.4

[2021-07-22 06:05] lesteve commented on #509
Looks like this is a change of behaviour of `dask.utils.format_bytes`:

dask 2021-03:
[code]

dask 2021-07:
[code]

All in all not a big problem, I'll update the tests to use `dask.utils.format_bytes` rather than a hard-coded value. This way the tests will always work irrespective of the dask version.

[2021-07-22 06:24] lesteve opened #510 "Noisy wall of "Perhaps you already have a cluster running?" warnings when running pytest"
This is annoying because you need to scroll up a lot to look at the actual useful output. There is probably a way either to catch these warnings with pytest or to ignore them at the end of the report.

[code]

Part of the output at the end of the run:
[code]

[2021-07-22 06:57] #509 closed

[2021-07-22 07:03] lesteve commented on #505
I have uploaded released 0.7.3 on PyPI: https://pypi.org/project/dask-jobqueue/0.7.3/. Any problems let me know!

I think it should be picked up automatically at one point in conda-forge.

[2021-07-22 10:12] lesteve opened #512 "Doc build is failing"
Started failing two weeks ago: https://readthedocs.org/projects/dask-jobqueue/builds/14170262/

Very likely a Sphinx change ...

[code]

[2021-07-22 10:24] ocaisa commented on #512
Yeah, that is deprecated for a while:
https://github.com/sphinx-doc/sphinx/issues/7747#issuecomment-636023612

[2021-07-22 13:12] mrocklin commented on #510
I think that @fjetter is solving this in
https://github.com/dask/distributed/pull/4928

On Thu, Jul 22, 2021 at 1:24 AM Loïc Estève ***@***.***>
wrote:

[2021-07-22 13:29] #512 closed

[2021-07-22 15:30] lesteve commented on #510
Ah nice, thanks for letting me know!

I guess we can live with it a bit more and wait for a proper solution in distributed then!

[2021-07-22 15:31] lesteve commented on #505
0.7.3 is available in conda-forge:
[code]

[2021-07-22 15:31] #505 closed

[2021-07-23 10:27] fjetter commented on #510
If it becomes unbearable, a `-Wignore:Port` is a straight forward way to ignore this warning until this is fixed

[2021-09-02 12:38] guillaumeeb commented on #508
Hi @areichmuth, sorry for the delay.

I think the problem comes from how the `header_skip` kwarg is used:
https://github.com/dask/dask-jobqueue/blob/main/dask_jobqueue/core.py#L286

It removes every line from the header containing your text.

Maybe you should try with `header_skip=['--mem=']`?

[2021-09-03 14:55] guillaumeeb commented on #497
Hi @bollig, sorry for the delay, could you propose a PR to solve this issue?

[2021-09-03 16:18] bollig commented on #497
Actually, this is a valid workaround at least until SLURM memory tracking is enabled:

[code]

[2021-09-03 21:01] guillaumeeb commented on #497
Thanks, so I'm closing this issue since you've got a solution.

Don't hesitate to propose a fix or even a doc update for AWS !

[2021-09-03 21:01] #497 closed

[2021-09-03 21:04] #485 closed

[2021-09-03 21:31] guillaumeeb commented on #469
Closing this as discussed in the related PR.

[2021-09-03 21:31] #469 closed

[2021-09-03 21:37] guillaumeeb commented on #458
Closing as stalled. @Djeutsch feel free to reopen if  you've got something to add.

[2021-09-03 21:37] #458 closed

[2021-09-03 22:08] guillaumeeb commented on #417
It is true that lifetime parameters are important to dask-jobqueue. They could be added for this reason. But maybe we should define some policy, either:
* Remove all kwargs that are not related to queuing system. All worker kwargs rely on extra.
* Remove all kwargs not related to queuing system, and use a wildcard **kwargs that we propagate.
* Add worker kwargs we believe are important for dask-jo

[2021-09-04 06:08] guillaumeeb commented on #376
I propose to close this issue as initial problem was solved, and there is no more activity.

[2021-09-07 11:20] guillaumeeb opened #516 "CI workflow docker-images-build is failing"
It looks like the periodic docker images build introduced in https://github.com/dask/dask-jobqueue/pull/455 has been failing for some times.

Error is:
[code]

Maybe there is a problem in the access token to daskdev on dockerhub?

cc @jacobtomlinson @andersy005 who worked on that.

[2021-09-07 11:40] guillaumeeb commented on #424
This has been done with https://github.com/dask/dask-jobqueue/pull/455 and maybe other. So I'm gonna close this issue.

[2021-09-07 11:40] #424 closed

[2021-09-07 13:25] andersy005 commented on #516
I don't have access to the dockerhub account and GitHub repo settings but my hunch is that this has to do with the dockerhub credentials... @jacobtomlinson may be able to confirm whether the daskdev dockerhub account credentials were updated lately....

[2021-09-07 14:01] #484 closed

[2021-09-07 14:05] guillaumeeb commented on #510
I'm closing this one as a fix should be soon available in distributed, we can live with it for now.

[2021-09-07 14:05] #510 closed

[2021-09-07 14:24] jacobtomlinson commented on #516
Docker Hub changed its free account rules a while back so that an org can only contain 3 people. We discovered this when we tried adding @jrbourbeau recently. During that exploration I accidentally removed the `daskdev` user from the org and am unable to add it back in. I had assumed it was a dummy account that I had created and wasn't being used. Sorry!

@guillaumeeb and @lesteve are still member

[2021-09-07 19:18] guillaumeeb commented on #516
Thanks for the explanation @jacobtomlinson. So Ï updated secrets following the guide here: https://docs.github.com/en/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-a-repository. And it's back to green!

If you ever need to delete our membership to daskdev, please ask, but I guess that as we have been added a while back, it's OK?

Also, just for the record, there seem to be a b

[2021-09-07 19:18] #516 closed

[2021-09-07 19:32] guillaumeeb commented on #508
I'm also closing as duplicated of https://github.com/dask/dask-jobqueue/issues/461. We'll see in the other thread if we need to fix it or not.

@areichmuth if you could still report back if my suggestion above is a correct workaround for your problem it would be nice.

[2021-09-07 19:32] #508 closed

[2021-09-08 16:07] PhML opened #517 "Python entry is missing in config file"
I don’t know if it is on purpose or not but `python` argument can’t be set from config file (if not provided at cluster initialization, it is set to `sys.executable`).

My use case is that I run dask in a singularity container on a PBS cluster so it can’t rely on `sys.executable`.

[2021-09-09 09:58] guillaumeeb commented on #517
Hi @PhML, thanks for the issue.

I don't think it is on purpose, it's true that it's one of the few (the only one? Didn't really check) argument that is not available in config file.

I'm not sure how it impacts your use case, but any PR making it easier to run dask-jobqueue in Singularity container would be welcomed! Are you interested in proposing something?

At least, could you described more p

[2021-09-09 10:18] arndt-k opened #518 "cluster.adapt() and persist not working together"
**What happened**:
I am trying to run an adaptive Slurm Cluster on HPC. However the workers reaching the --lifetime do not get shut down, instead getting killed by Slurm at walltime, leading to the eventual program failure. In the MVE I was able to link this to dask persist, I have found no such link in my real code which does not include persist, but fails in the same way.
Is this expected behavi

[2021-09-12 00:54] riedel opened #520 "In memory security contexts are not supported"
See https://github.com/dask/distributed/blob/3754a6694f72207b69aaf661445aecf18fb5f0cb/distributed/security.py#L211

i.e. one cannot use Security.temporary() to create a cluster

distrinuted allows using in memory keys where the content is in memory. It does so by checking if the value is multiline.

the expansion to the extra arguments does not support this:
https://github.com/dask/dask-jobqueue/b

[2021-09-12 00:56] riedel commented on #520
Just tracking this because I will need to fix this in #519 to work on #496

[2021-09-12 01:09] riedel commented on #520
I guess the main challenge will be handling the temporary files as they need to survive until the cluster is closed. Maybe also writing the whole cert into the arg works...

[2021-09-12 12:57] riedel opened #521 "pytest -E option does not do what it says"
```  -E NAME               only run tests matching the environment NAME.```

instead also all unmarked tests are run.

[2021-09-15 16:37] riedel commented on #496
#520 now fixes this, however the PR is not as minimal as I wanted.

[2021-09-23 09:52] areichmuth commented on #508
@guillaumeeb thank you for this hint. It is giving the correct options. Could you maybe please update this site as I got it from there. https://jobqueue.dask.org/en/latest/advanced-tips-and-tricks.html
This helps maybe many unexperienced user as me.

[2021-09-24 17:05] riedel commented on #323
One could easily have both and add a [deprecation warning](https://docs.python.org/3/library/exceptions.html#DeprecationWarning), so I would argue that there could be coexisting until a major bump.

[2021-10-06 07:49] riedel commented on #521
to explain a bit more: the side effect is that common tests are run locally on the CI of the different cluster managers. There seems to be no real benefit from that other than it's slow

[2021-10-08 09:18] riedel commented on #496
I commented on why I did this in #520, because one could actually close this issue by only supporting file certificates in the first place. TL;DR: I think using `dask.config.set` alternatively could have an bigger impact than creating some tempfiles.

[2021-10-09 15:21] guillaumeeb commented on #508
@areichmuth would you be interested on proposing this documentation update?

[2021-10-09 15:36] guillaumeeb commented on #518
Thanks @Wacken0013 for the detailed issue, and sorry not to get back at you earlier.

I did not have the time to try your example yet to figure out what may be going wrong.

At first glance it looks like your worker fails to send the data it is owning before shutting down, which prevents the process to stop. And I confirm this is not the expected behavior.

First of all, I see the versions of Dask

[2021-10-20 20:25] riedel opened #525 "Create temporary security context by default if security is set to True"
Inspired by dask/dask-cloudprovider#222, it very convenient if tls certificates can be generated using dask's built-in ``Security.temporary()`` if  ``Security=True``

Currently blocked by #520

[2021-10-29 14:03] riedel opened #528 "distributed.utils.tmpfile used in core.py to create the jobscript is deprecated"
See:
https://github.com/dask/distributed/blob/11c41b525267cc144caa8d077b84a0939fecae97/distributed/utils.py#L1417-L1427

Imported here:
https://github.com/dask/dask-jobqueue/blob/9944654374a4e06d3a3289069d2ec0a61ae96162/dask_jobqueue/core.py#L20

Used here:
https://github.com/dask/dask-jobqueue/blob/9944654374a4e06d3a3289069d2ec0a61ae96162/dask_jobqueue/core.py#L303

[2021-10-30 07:52] riedel commented on #528
Saw that now I was looking at the wrong input. Sorry.

[2021-10-30 08:21] riedel commented on #528
Now I was really confused about myself because I actually put the replacement in the title and thought that it was actually already replaced. I will create a quick PR.

[2021-10-30 20:38] riedel opened #530 "test fail with distributed/dask 2.19 (minimum requirement)"
[code]

[code]

[2021-10-31 07:52] riedel commented on #520
I was actually thinking this also the whole time until you reminded me of `/tmp`. I started digging into the code to find where this assumption is actually encoded. It seems that HTCondor is explicit about this:
https://github.com/dask/dask-jobqueue/blob/26fd3ae8e8c18d26f5e203f2c7f1a1be91e113d4/dask_jobqueue/htcondor.py#L236

However, when setting up the new CI I think I completely ignored this:
h

[2021-10-31 16:27] riedel commented on #520
I confirmed that actually file based certificates also won't work on the HTCondor and slurm CI: #532 . Now the price question: is this a bug of the ci or the code. It should be at least document that one has to be smart enough to put the certificates in some accessible place. On the other hand: how would code fixing this issue know where this is...

[2021-10-31 16:35] riedel commented on #411
I think this is mostly closed. One should maybe add more tests (but this is sth that always can be done), but I think this does not justify keeping the issue open.

[2021-10-31 16:35] #411 closed

[2021-11-01 15:53] #530 closed

[2021-11-01 15:56] #528 closed

[2021-11-07 14:22] riedel opened #534 "Add pytest xfails for known issue in CI"
E.g. #520 could be easily tested even before a fix is merged.

[2021-11-07 14:26] riedel commented on #534
Please comment on this if this is desirable. I added some code in #533 that also can be used to xfail only for a single Cluster type if iterating over multiple as a proposal: https://github.com/dask/dask-jobqueue/blob/827a687cb47380c49599302338b22cf68d8b4d1d/dask_jobqueue/tests/test_jobqueue_core.py#L353

[2021-11-07 14:30] riedel opened #535 "HTCondor and slurm CIs have no shared filesystem"
This why one cannot e.g. test security contexts. This actually could be even desirable as jobqueue probably does not even need one. However, in this case the security context code needs to be rewritten (found nothing else depending on this).

This is a bit paradox due to this line:
https://github.com/dask/dask-jobqueue/blob/8264b8cd6fa028f35665a554c5fea4be34a97781/dask_jobqueue/htcondor.py#L236

[2021-11-07 14:32] riedel commented on #535
See the effect of this e.g. in https://github.com/dask/dask-jobqueue/pull/532/checks

[2021-11-21 21:18] guillaumeeb commented on #520
Sorry for the delay @riedel, and as always thanks for your investments in dask-jobqueue!

I'd said neither.

I think all dask-jobqueue Cluster can work without any shared file system in some specific setups. Some CI environments show this. It should remain the same.

The code for generating a temporary file should just try to do it in the user folder, and be explicit (with some logging?) that the

[2021-11-21 21:58] guillaumeeb commented on #535
I totally agree with that sentence.

I think we can just specify that it will work only with a shared file system.

We should remove the line if not true. Maybe it was at first?

[2021-11-21 21:59] guillaumeeb commented on #534
I find it useful, especially with #533!

[2021-11-23 00:01] riedel commented on #535
Does it make sense to actually specify a directory for shared files and make $HOME the default.  If one knows that a file is outside a shared filesystem there is probably a way to transfer those files for all schedulers (`sbcast` for slurm or `transfer_input_files=` for htcondor). I wonder if there are more use cases than the security context

(If you wonder by now, why all the fuzz: I really want

[2021-11-24 21:58] guillaumeeb commented on #535
I think so,if this can be overrided easily.

I'm just wondering if this should be $HOME or the current working directory (on HPC system, you generally launch script from a shared file system).

[2021-11-24 21:58] #535 closed

[2021-11-27 19:02] riedel commented on #518
Stupid question: I also had a lot of trouble with adapt, so I would love to add a (failing) test to the github CI to document this. Can the minimal example (with ```pytest.mark.xfail```) be rewritten without using numpy and made a PR (because this would require extra dependencies) using normal arrays? Would be great to have a test that requires migration.

[2021-12-03 23:15] riedel opened #539 "Make CIs obey environment.yaml"
Actually ` environment.yaml` is installed outside the actual docker images and mostly even does not make sense.

- [ ] use the yaml file inside the dockerfile for building the CI images
- [ ] no need to install dependencies outside the docker for cluster CIs
- [x] use pip versions of dask and distributed since the conda versions are outdated
- [x] make htcondor use conda

At the moment one needs t

[2021-12-04 11:19] #520 closed

[2021-12-04 11:19] #534 closed

[2021-12-04 14:24] riedel opened #540 "HTCondor images are not updated by CI"
Just noticed by accident: https://hub.docker.com/r/daskdev/dask-jobqueue/tags

and

https://github.com/dask/dask-jobqueue/blob/6ce5a6c1f4811ada288168ab2868a7a22b0c3afc/.github/workflows/build-docker-images.yaml#L16

should probably work after #441 was merged.

However, I am a bit scared because I locally had some trouble with the current built (but could be related to my docker set-up.

[2021-12-04 15:56] #525 closed

[2021-12-05 10:15] riedel opened #541 "Push python ci dependency to python=3.7"
as dask dropped support for 3.6 in dask/dask#7006

https://github.com/dask/dask-jobqueue/blob/4980e746e9be15e5fe6736b6c496b8faea737fd7/ci/environment.yml#L6

actually fixing #539 could help making all CI compatible as well

The actual problem is that one might acutally pull in a newer click dependency which triggers this bug dask/dask#7658 which is only fixed in newer dask versions

[2021-12-13 16:24] guillaumeeb commented on #539
I agree that we should aim to use only one conda/pip build and one environment.yaml, same for inside and outside docker images. So we probably can simplify things!

I'm not sure if we should build it outside or inside the Docker image. I agree that I don't see a lot of sense at first in building conda env outside the image, except it can be updated without touching the images, maybe?

So it allows

[2021-12-13 16:24] guillaumeeb commented on #541
👍 for dropping Python 3.6.

[2021-12-13 16:30] guillaumeeb commented on #540
Feel free to propose a PR to add it, and maybe we'll see if it works with this PR? Or it will be tested afterwards?

[2022-01-31 10:30] alisterburt opened #543 "Proposal: `NamedCluster`"
Hi! First, huge thanks for the work in this repo - it has made working on clusters so easy.

Currently, I must know in advance which type of cluster a user will be running on to decide which `Cluster` object (slurm/sge etc) to instantiate, the appropriate values are then filled from the config file.

Would you consider a PR adding a `NamedCluster` class? The idea is quite simple

- add a `jobqueue

[2022-01-31 11:25] guillaumeeb commented on #543
Hi @alisterburt,

Thanks, this is always good to have such feedback 😄

Considering your proposal, this sounds good to me! We should probably discuss the details a bit.

I think we should try if going this way to keep the config file consistent. Perhaps we could just add new entries at the same level as pbs, slurm, etc. ? Those would be kind of default configs or templates. Also, I think we should

[2022-01-31 11:28] alisterburt commented on #543
Thank you for the quick turnaround on feedback!

I'll put together a PR with an implementation using your proposed config structure 🙂

[2022-01-31 12:26] jacobtomlinson commented on #543
This proposal sounds really interesting, it's great to hear folks asking for this.

I just want to weigh in and say this is exactly the kind of thing we are trying to solve with [dask-ctl](https://dask-ctl.readthedocs.io/en/latest/spec.html) and we already have a similar feature over there. For any cluster manager that supports `dask-ctl` you can create a YAML spec file and create the cluster from

[2022-01-31 12:30] alisterburt commented on #543
@jacobtomlinson thanks for your input!

If there's an ongoing dask project which aims to support the same functionality that's clearly the better option, I'll take a look at `dask-ctl` now and look into adding support here

[2022-01-31 12:39] alisterburt commented on #543
@jacobtomlinson `dask-ctl` is exactly what I was looking for and I *love* that it means I'm not limited to only HPC environments. If @guillaumeeb agrees I will push on and attempt to add `dask-ctl` support to `dask-jobqueue`

If I run into issues am I okay to ping you @jacobtomlinson ? This is deeper than I've previously been in the dask internals 🙃

[2022-01-31 13:28] jacobtomlinson commented on #543
@alisterburt awesome! Yep happy to help.

I suspect adding support here will be non-trivial due to a lack of metadata storage in HPC scheduling systems. A good area to focus might be to bring the `daskctl create` functionality to Python with a goal to support the functionality you outlined above. Perhaps save discovery for later.

[2022-01-31 13:55] jacobtomlinson commented on #543
Actually after re-reading the OP here and looking at `dask-ctl` I think much of the above use case is already satisfied.

[code]

[code]

The main difference here being that `dask-ctl` expects you to provide a path to a YAML file instead of loading from the Dask config.

Exploring supporting the rest of the `dask-ctl` feature set would be really nice to have here, but not necessary to satisfy this

[2022-01-31 14:04] jacobtomlinson opened #544 "Add support for dask-ctl"
As mentioned in #543 it would be really nice for `dask-jobqueue` to support `dask-ctl` for convenient cluster management. However from what I understand about HPC scheduling systems this may not be a trivial task.

Dask Control aims to allow users to create/list/scale/delete Dask clusters via the CLI and a Python API. Support for `dask-ctl` is implements on a per-cluster manager basis with the fol

[2022-01-31 14:22] alisterburt commented on #518
some info, I used

[code]

in `SLURMCluster` to avoid workers being killed at walltime

[2022-01-31 14:22] alisterburt commented on #544
Apologies in advance for naive questions, is a `ClusterManager` a `dask-ctl` concept or a more general `dask` concept?

On every HPC system I've used the head node and compute nodes have access to at least one shared filesystem, my brain naively jumped to storing the state of each cluster in text files there. Can you see obvious reasons this wouldn't work?

One potential limitation is that cluster

[2022-01-31 16:04] jacobtomlinson commented on #544
Yeah `distributed.deploy.Cluster` is an interface that we use all over Dask. The `SLURMCluster`, `PBSCluster`, etc classes in this project subclass `Cluster`. We also use it for Kubernetes, Cloud, Hadoop, Local, etc so that users can move between backends with some consistency.

I think we would need to think about moving the scheduler off the head node and into a job in the cluster, but I might b

[2022-01-31 19:07] alisterburt commented on #544
Gotcha, appreciate the explanation! - my confusion was about whether `Cluster` and `ClusterManager` were actually the same thing which is now clear 🙂

We would need to get the ID of each scheduler somehow.

This one could maybe be automatically encoded in the job name?

How would we find these? Perhaps in the metadata file?

If we find a way to hook into the filesystem, something as simple as text

[2022-02-01 10:09] jacobtomlinson commented on #544
It is typical on HPC to use the `--scheduler-file` flag when starting a cluster, I wonder if we could repurpose this somehow?

We would have to check if all HPC schedulers support this but when we list the running jobs it is likely we would have the command that was invoked to start the scheduler. So if things like the ID and config path were passed to the scheduler as arguments we could parse tho

[2022-02-18 14:00] lesteve commented on #541
FYI I started #545 but there seems to be CI genuine errors ...

[2022-02-21 19:32] TomMaullin opened #551 "Handshake timeout error on SGE cluster"
[code]
(Source: [https://github.com/TomMaullin/BLM/tree/dask_update](https://github.com/TomMaullin/BLM/tree/dask_update))

**What happened**: I ran the above code (with the `FILEPATH` replaced appropriately) on the head node of an SGE cluster using `python blm_cluster.py &` (where `blm_cluster` contains the above code). First, it gave me 1 worker and the setup computation seemed to run correctly,

[2022-02-24 06:10] #541 closed

[2022-02-24 06:37] lesteve opened #547 "CI errors after dropping Python 3.6"
- worker memory limit is slightly different than requested https://github.com/dask/dask-jobqueue/runs/5314879710?check_suite_focus=true#step:8:323. It does not seem related to a MB vs MiB thing since it is not the right factor
- Weird errors e.g https://github.com/dask/dask-jobqueue/runs/5314879645?check_suite_focus=true#step:8:630, maybe just a timeout thing. Note do not happen in SLURM but in SG

[2022-02-27 18:30] riedel commented on #547
One problem with HTCondor could be that actually no images are prebuild (#540), so updating things in the CI can be of limited impact. Further I will need to actually pull in the dependencies specified (#539).

Hopefully after a week of vacation and a stressful next week I can work on getting the HTCondor build working. Thanks for actually taking the step to update python.

Fun fact: actually afte

[2022-02-28 11:24] etejedor opened #548 "Configure Dask workers to contact scheduler on a specific address"
At CERN we have a Jupyter notebook service that we are now integrating with HTCondor resources, and we would like to use those resources via Dask.

The setup is the following: users log in to the notebook service and get a user session, which runs in a Docker container. Inside their session, users should be able to create a Dask HTCondorCluster to deploy Dask workers on our HTCondor pool. The prob

[2022-03-02 10:05] jacobtomlinson commented on #548
I'm not sure I fully understand this. What kind of errors are you seeing when you try and do this?

We added `external_address` to handle situations where the client and workers are on different networks and the client needs to connect via some other address, such as through a load balancer or externally assigned IP. This should be exactly the same for a Docker scenario where the workers use the D

[2022-03-02 17:06] jacobtomlinson commented on #548
Ah I see. `external_address` is for when the client connects on a different address to the workers, which is useful for situations where the scheduler and workers are in one network and the client is in another. Dask Jobqueue doesn't run the scheduler as a remote job like most other cluster managers, it runs it wherever you invoke the `Cluster` (xref #186).

It sounds like you need some way to exp

[2022-03-07 13:06] lesteve commented on #548
Maybe related to #490 I don't fully recall the details I have to admit ...

There is the `scheduler_options` parameter that may help, e.g. as in https://github.com/dask/dask-jobqueue/issues/490#issuecomment-804692781. I have to admit I don't know whether this is similar to `SpecCluster.external_address`.

Full disclosure: I don't have too much time to devote to Dask-related things unfortunately th

[2022-03-07 14:57] etejedor commented on #548
Yes, it's not the same setup as what I described, but we are both asking for the same functionality.

Using `scheduler_options={"host": ip}` doesn't help because the scheduler will still bind to the same address that is used by the workers to connect to the scheduler, and what we need is to decouple those two.

If there was a way to run the scheduler as a remote job, then both the scheduler and th

[2022-03-07 20:29] guillaumeeb commented on #548
Hi everyone, sorry it took me a while to look more deeply into this.

There are several ways to solve this, you've already listed two:

- New constructor argument to SpecCluster, something close to the line of @oshadura's patch. But I would only modify `spec.py` file. Definitly there would be something to change here: https://github.com/dask/distributed/blob/main/distributed/deploy/spec.py#L345.
-

[2022-03-09 12:29] etejedor commented on #548
Thank you for the explanations @guillaumeeb , my replies below.

If we only modify `spec.py`, this means the user will need to define their own subclass of `Scheduler` that accepts this new `XXX_address` parameter, and provide that class as the `scheduler_cls` argument of the cluster constructor. Is this correct?

We'd be also interested in that possibility, not strictly to solve the problem I rep

[2022-03-14 13:03] guillaumeeb commented on #548
I'm not sure of this, please do propose a PR (if not already done) so this can be discussed, never any objection on proposing a PR!!

I was under the impression that something really close to https://github.com/dask/distributed/pull/2963 could be done, only modifying `ProcessInterface` or `SpecCluster` constructor, and changing something here https://github.com/dask/distributed/blob/main/distribut

[2022-03-15 15:17] etejedor commented on #548
PR is up! https://github.com/dask/distributed/pull/5944

I see, thanks. But even if I stored the address of the scheduler somewhere and I use it to reconnect with a fresh client, what I guess is not supported is to reconnect to some ongoing computation? E.g. I run `client.submit`, then the client dies but the job is still running on the cluster side; there's no way I can recreate the future result

[2022-03-30 18:14] guillaumeeb commented on #548
That is an excellent question. If the future object on client side is lost, I don't know what references keeps the Scheduler... Maybe this question could be asked on Discourse.

I'm looking at your PR right now.

[2022-04-01 16:42] rsignell-usgs opened #549 "Latest click broke dask-jobqueue"
did `mamba install click=8.0.4` to get it working again.

[2022-04-01 17:12] andersy005 commented on #549
i believe the issue was actually coming from `distributed` and it appears to have been fixed https://github.com/dask/distributed/issues/6013 and https://github.com/dask/distributed/pull/6018

[2022-04-01 17:17] andersy005 commented on #549
have tried upgrade `distributed` to the latest version `2022.04.0`?

[2022-04-01 17:50] rsignell-usgs commented on #549
No, because I rely on conda-forge!
https://anaconda.org/conda-forge/distributed

[2022-04-01 17:58] jakirkham commented on #549
Then you are in luck as we just merged an update ( https://github.com/conda-forge/distributed-feedstock/pull/202 ). Will take a bit to mirror to CDN

[2022-04-01 18:45] #549 closed

[2022-04-01 20:39] jakirkham commented on #549
(should add it is also on CDN now 🙂)

[2022-04-08 13:02] jwiemer112 opened #550 "Completely Silence Slurm logs"
Hello there,

I use `dask_jobqueue.SLURMClusteris` to simulate year-simulations. I always get a shitlaod of  logs in the slurm_logs folder.
Is there a handy way to completely silence these logs?

The parameter `silence_logs` is default on `error` in `JobQueueCluster(SpecCluster)`.

Greetz
Jan

[2022-04-08 19:45] guillaumeeb commented on #550
Hi @jwiemer112,

If you're talking about the logs of the worker emitted through Python `logging` module, you should look at https://docs.dask.org/en/latest/how-to/debug.html#logs.

`silence_logs` parameter is only affecting the Scheduler started into your Python process building the `SlurmCluster` object.

Hope this helps!

[2022-04-09 12:47] jwiemer112 commented on #550
Thanks for your response. In my `jobqueue.yaml` is no logging section. But I will play around with logging a bit and try to figure it out. :)

[2022-04-11 11:15] guillaumeeb commented on #550
Actually, as long as you're putting Yaml files in ~/.config/dask/, the name doesn't matter. You can put one `jobqueue.yaml`, and one `distributed.yaml` file, or everything in the first one. And in these config files, you put whatever Dask configuration you want to put.

See https://docs.dask.org/en/latest/configuration.html#yaml-files.

[2022-04-11 11:23] jwiemer112 commented on #550
Thanks for your help and all the information.

[2022-04-11 11:23] #550 closed

[2022-04-11 12:46] guillaumeeb commented on #551
OK, first with @TomMaullin problem:

It is a bit weird that everything is OK with one hundred workers, and it fails when falling back to only one. Are you sure the error is appearing only after the scale down is called? If yes, this might be a problem of future objects still on distributed memory (and rebalancing)? Or maybe the last function call is trying to get some big data to or from the Sched

[2022-04-14 13:10] guillaumeeb commented on #551
@desh2608:

- First, on the workers that are failing, do you see the same error message as @TomMaullin?
- On the Scheduler logs, what are you seeing?
- This might mean that your workers are slow to start, two points to look at:
  - On which file system is you Python environment installed? Is it fast?
  - Do you use the local-directory kwarg to put Workers' local working dir to a local storage like

[2022-04-24 17:03] riedel commented on #471
Related issue (just stumbled across it): https://github.com/dask/distributed/issues/1072

[2022-05-06 13:16] poplarShift commented on #502
Has there been any progress here?

this is exactly my use case (except with a Singularity container, but it still means I don't have the sbatch binary directly available).

[2022-05-06 13:42] willirath commented on #502
This could be of interest as well: https://gist.github.com/willirath/2176a9fa792577b269cb393995f43dda

It's ssh'ing back to the host system where srun etc are available.

[2022-05-09 16:43] guillaumeeb commented on #502
Unfortunately the associated PR has gone stale... But there was some work on it, so if anyone want to keep going it would be nice!

[2022-05-28 03:46] mronda opened #552 "io_loop error when running Dask Actors on SGECluster"
**What happened**:
Getting an error when trying to submit an Actor to a client started with an `SGECluster` cluster.

Using example code found [here](https://distributed.dask.org/en/stable/actors.html#:~:text=Actors%20enable%20stateful%20computations%20within,methods%20on%20that%20remote%20object.). Works fine with a `LocalCluster` . I get an `io_loop` error when running with an `SGECluster`.

Err

[2022-05-30 10:36] jacobtomlinson commented on #552
@graingert @fjetter could this be related to the upstream ioloop work in distributed?

[2022-05-30 10:48] graingert commented on #552
the issue is the `_io_loop` `@property` is raising an `AttributeError` causing attribute lookup to fallback to `Actor.__getattr__`

https://github.com/dask/distributed/blob/5feb17151cdf660a3443abf8596444a9f51dc575/distributed/actor.py#L122-L128

[2022-05-30 10:58] graingert commented on #552
@jacobtomlinson can you find out what the `counter._worker`, `counter._client`, `counter._worker.io_loop`, `counter._client.io_loop` both on the client side and the worker side?

[2022-05-30 12:35] jacobtomlinson commented on #552
@graingert thanks for responding here. I think some of your sentence got cut off in your last comment and I'm not sure what you're asking.

[2022-05-30 13:17] graingert commented on #552
@jacobtomlinson fixed

[2022-05-30 15:25] mronda commented on #552
Hi @jacobtomlinson @graingert , I checked for those attributes on `counter` and they do not get set:

[code]

Checking on client side, `client.io_loop` is set to `zmq.eventloop.ioloop.ZMQIOLoop`.

Let me know where else I can check

[2022-05-30 15:28] graingert commented on #552
I think https://github.com/dask/distributed/blob/5feb17151cdf660a3443abf8596444a9f51dc575/distributed/actor.py#L108 is getting hit here?

[2022-05-30 15:31] mronda commented on #552
Looks like it ! `LocalCluster` also sets `worker` attributes to `None`

[2022-05-30 15:36] mronda commented on #552
@graingert , interesting, `get_client()` does not work when I stand up an `SGECluster`, but it does for `LocalCluster` . Do I need to run this within a context manager?

[2022-05-30 16:00] graingert commented on #552
What happens if you run the example from

https://distributed.dask.org/en/stable/api.html#distributed.get_worker

[code]

[2022-05-30 16:14] mronda commented on #552
@graingert I get this :

`TypeError: Data serialized with error but only able to deserialize data with ['pickle', 'dask']`

[2022-05-30 16:17] mronda commented on #552
Forget the message above. I do get an address back

[2022-05-30 16:40] mronda commented on #552
@graingert  I think I fixed it! I had set `set_as_default=False` when starting my Client. I set that to True and now it does set `Actor._client.io_loop` . Thanks for the help ! You pointed me to some code that allowed me to debug that further

[2022-05-30 22:42] #552 closed

[2022-06-30 17:00] rsignell-usgs opened #555 "Last release is July 2021. Would be great to get a new one!"
I tried to use the `shared_temp_directory` argument in `SLURMCluster` and was surprised when it didn't work.
I then realized that the version I installed with conda-forge is from July 2021!

Would be great to get a new release!

[2022-07-07 19:37] rsignell-usgs commented on #555
@jacobtomlinson ?

[2022-07-10 15:11] guillaumeeb commented on #555
Hi @rsignell-usgs, to be honest, as we did not do much thing in dask-jobqueue the past year, I wasn't thinking there was a need for a new release. But you just cited at least one feature not in a official release.

So I can try to perform a new minor release soon for this (and check a bit in what state we are). No promise though, as I'm on long term holiday 😉.

But maybe at one point this will all

[2022-07-10 16:06] guillaumeeb commented on #548
Closing this one as an option has been added to distributed directly. @etejedor feel free to reopen if I missed something.

[2022-07-10 16:06] #548 closed

[2022-07-11 19:21] rsignell-usgs commented on #555
Thanks @guillaumeeb!   And I worked in Europe for a few years, I miss those long term holidays!

[2022-07-13 12:54] tensionhead opened #557 "FutureWarning: tmpfile is deprecated"
**What happened**:

Plain import produces multi-line `FutureWarning` with newest dask and dask_jobqueue version. Multiple calls (e.g. for unit testing) pollute the terminal output with many of those.

**What you expected to happen**:

No `FutureWarning`

**Minimal Complete Verifiable Example**:

[code]
**Anything else we need to know?**:

Happens on all tested platforms (various *nix, Mac OS)

**E

[2022-07-13 21:22] jacobtomlinson commented on #555
@guillaumeeb I would be happy to handle a release here, but I'm not up to speed with the current state of `main`. Are things in a good state to release? If so I can take this on.

[2022-07-13 21:27] jrbourbeau commented on #557
Thanks for opening up an issue @tensionhead. It looks like this was already fixed in https://github.com/dask/dask-jobqueue/pull/529, but hasn't been released yet. There's a discussion around releasing over in https://github.com/dask/dask-jobqueue/issues/555. Closing as the appropriate changes have already been made in `main`

[2022-07-13 21:27] #557 closed

[2022-07-13 21:42] guillaumeeb commented on #555
@jacobtomlinson there are not much changes here, I believe main is quite stable. I'm trying to release tonight. As I've not done that for a long time, and after tonight I won't have the availability, I leave it to you if I don't make it.

[2022-07-13 21:45] #555 closed

[2022-07-13 21:48] jacobtomlinson commented on #555
Ok great. I'm happy to keep an eye on the tracker if there are any issues raised after the release.

[2022-07-13 22:01] guillaumeeb commented on #555
Release done on Pypi, waiting for conda forge!

[2022-07-13 22:58] jacobtomlinson commented on #555
Thanks @guillaumeeb

[2022-07-14 06:50] guillaumeeb commented on #555
And finaly on conda-forge, I fell asleep before the conda-bot triggers the PR 😄

[2022-07-18 17:54] ikabadzhov opened #559 "Replace --nprocs by --nworkers in the generated job script"
When I want to create a SLURM cluster and specify `process = X ` in the constructor, by looking at the job script, I see that the command that is run has a flag `--nprocs X`.

That currently does not error. However, referring to https://docs.dask.org/en/stable/deploying-ssh.html#cmdoption-dask-ssh-nworkers `--nprocs` is deprecated.

I tried to pass as an `extra = ['--nworkers X']`, but then from a

[2022-07-19 17:08] guillaumeeb commented on #559
Hi @ikabadzhov,

Thanks for opening this issue. This is a bit more general than SlurmCluster and affects every implementation. I actually thought I had opened an issue for this already, which is not the case.

This comes from https://github.com/dask/distributed/pull/5641.

So we should update dask-jobqueue to take this into account.

[2022-07-19 17:12] guillaumeeb commented on #559
I modified the title of the issue to reflect what should be done. And maybe we should handle the previous kwarg for old Dask version, but I don't think this is really needed.

[2022-07-19 18:42] ikabadzhov commented on #559
I took a closer look. I will give it a try now.

[2022-07-24 17:09] guillaumeeb opened #561 "Drop Python 3.7"
Since https://distributed.dask.org/en/stable/changelog.html#v2022-02-0 distributed version, Python 3.7 support was dropped, but we're still using it.

I think a first step to fix our CI problems would be to drop Python 3.7 support. This is also mentionned here: https://github.com/dask/dask-jobqueue/pull/545.

[2022-07-25 14:07] jolange commented on #393
I would be happy to help fixing this. @matyasselmeci , @lesteve Do you really think we need a temporary wrapper script here?
In #556 I simply prepended commands to the command template, resulting in something like this in the submit file:
[code]
This is less readable, but I think it's ok, because the number of commands should not be too large in most cases.
On the other hand, a temporary wrapper s

[2022-07-25 14:15] guillaumeeb commented on #393
So this came up again in #556.

My opinion is that we should make HTCondorCluster closer to other Cluster implementations, and so have an env_extra that does the same. If it is through an temporary script that's okay. But I'm open to other proposals as I really don't know HTCondor.

cc @riedel @jolange

[2022-07-25 14:51] jolange commented on #393
I would disagree; a wrapper script to me is a separate file -- but let's not focus on semantics here ;-)

Probably for many cases, yes. But here I am not so sure that it is true, because with the in-lining solution you at least have everything self-contained in the submit file and thus in the output of `condor_q -l` or `condor_history -l`. So if users complain to their HTCondor admins, they can ch

[2022-07-25 15:06] guillaumeeb commented on #393
In all other Cluster implementations, we use temporary scripts. It's true that this probably makes it difficult for cluster admin to debug things, but anyway they'd probably need to be a bit familiar with Dask.

One of the first thing to debug dask-jobqueue is to print the job that gets submitted from your main Python script or notebook. And if needed submit it by hand.

[2022-07-26 07:46] jolange commented on #393
Alright, since you seem to agree to prefer the temporary-wrapper-script solution, I thought a bit about how to realize this. The problem I encounter now is that I can't make that file really temporary in the sense "create wrapper script file; run submit command; delete wrapper script file", because of this ([docs](https://htcondor.readthedocs.io/en/latest/users-manual/file-transfer.html))

That's

[2022-07-26 08:45] jacobtomlinson commented on #393
I'm not entirely familiar with the contents of the temporary script but if it contains nothing sensitive it could just be written to `/tmp` and not cleaned up. We could just rely on the operating system to handle that cleanup. That way it would be much more likely to still exist when HTConder gets around to transferring it.

[2022-07-26 09:54] guillaumeeb commented on #393
I haven't a strong preference between the two solutions. If using a temporary script is more complex to handle, then we might want to stay wth inlined content at first.

I'm also OK with @jacobtomlinson suggestion.

I'm not sure when other temporary scripts (and so the HTCondor submit file) are really deleted, see the code here: https://github.com/dask/dask-jobqueue/blob/main/dask_jobqueue/core.py

[2022-07-26 11:11] jolange commented on #393
That might be a solution for many setups, although knowingly cluttering `/tmp` is not the nicest thing. But for our setup this does not work at all, because the schedds run on separate hosts and not on the submit machines themselves. So the location from which to transfer has to be mounted on the schedd host. That's true e.g. for our home directories (AFS), but obviously not for `/tmp`.
(I am curr

[2022-07-26 11:13] jacobtomlinson commented on #393
Heh `/tmp` is there to be cluttered 😆 .

Ah that's a shame.

[2022-07-26 11:15] jolange commented on #393
:laughing:

So by now I would prefer the in-lining solution to an extra temporary script. But maybe someone else has a good idea how to realize this.

[2022-07-26 11:18] guillaumeeb commented on #393
I'd say go for the in-lining solution for the moment!

[2022-07-26 13:38] jolange commented on #393
Ok, I made a proposal in #563. I'd suggest start the renaming (#323) after we agreed on the implementation and merged it. (I can also do that if you like.)

[2022-07-26 15:06] riedel commented on #393
Could we issue a warning if we detect sth like `X=1` without an export statement? I think it would be a defacto change?

[2022-07-26 15:48] krpandit opened #564 "SLURM workers not getting queued"
**What happened**:
workers are not submitted to SLURM

**What you expected to happen**:
workers get queued up SLURM

**Minimal Complete Verifiable Example**:

[code]
No jobs are queued in SLURM
Check running python command from `cluster.jobscript`
[code]

**Anything else we need to know?**:
revert click back to 8.0.2 (py39hf3d152e_0, conda-forge) fixed the issue

**Environment**:
dask-jobqueue

[2022-07-26 16:02] jolange commented on #393
Yes, that could really be the case, unfortunately. (Altough I would consider those cases "wrong" from the beginning, but it could be a breaking change in these probably rare cases...)

But issuing a warning would also affect valid uses without "export" like `MYDIR=/tmp; cd $MYDIR; ...`.
And this is potentially hard to differentiate from other occurences of `=` like arguments (`some_command --varia

[2022-07-26 16:47] guillaumeeb commented on #564
Thanks @willirath for the quick answer!

@krpandit I'm going to close this issue as this had been fixed upstream in distributed.

Feel free to comment or reopen if you think this doesnot solve your problem.

[2022-07-26 16:47] #564 closed

[2022-07-26 16:54] guillaumeeb commented on #393
I'm under the impression we are about to do some important changes, which will probably mean a major version update.

So I would say the warning is not mandatory here, But maybe we should add a documentation about the change somewhere, maybe here: https://jobqueue.dask.org/en/latest/examples.html.

[2022-07-28 19:08] guillaumeeb opened #566 "Check if CI really don't build Docker image if not needed"
Since https://github.com/dask/dask-jobqueue/pull/545, we have added in most of the CI runs a `docker compose build` command that was not there (by choice) to use pre-backed Docker images.

Without a `docker compose build`, as we had updated Python version, CI would fail until the Docker images were built.

But I'm wondering with that addition if we've not made a step back, and now we'll build Dock

[2022-08-01 16:40] #393 closed

[2022-08-01 18:06] MSKazemi commented on #389
No.

[2022-08-03 19:37] guillaumeeb opened #567 "Dask Jobqueue is not async ready"
See discussions in #565.

In particular https://github.com/dask/dask-jobqueue/pull/565#pullrequestreview-1052591018.

It is not safe to create a `ProcessInterface` without a running loop. Use of the default event loop is deprecated in Python. We have to make sure we are ready for the removal and support running with multiple calls to asyncio.run.

cc @graingert who already thought about it.

[2022-08-07 17:14] #561 closed

[2022-08-07 17:29] guillaumeeb opened #568 "HTCondor CI is failing"
I've put some time in trying to debug HTCondor CI (see https://github.com/dask/dask-jobqueue/pull/562#issuecomment-1204389580).

If it did work on my laptop, I've not been able to make it works in github Actions, don't know why yet.

Some details:

- I've updated Docker images to run the correct Python version (same as other CI environments),
- I've updated docker-compose setup with a configuratio

[2022-08-07 17:35] riedel commented on #547
@guillaumeeb: this was fixed within #562, right (great effort btw, thanks!), with last bits tracked as #568?

[2022-08-07 17:37] guillaumeeb commented on #547
You're right, thanks for following :slightly_smiling_face:

[2022-08-07 17:37] #547 closed

[2022-08-07 17:54] guillaumeeb opened #569 "CI: Distributed fixtures not compliant with dask-jobqueue"
I hesitated to put this issue as a comment in #567, but I'm under the impression we have two separate problems.

In #562, I override the `cleanup` fixture from distributed to prevent it from removing the default MainThread loop (so #567 related), but also to make it reload the dask-jobqueue configuration into `dask.config`. Since distributed last 2022.08.0 version, the loop fixture we used into ou

[2022-08-07 18:26] #559 closed

[2022-08-08 08:19] jolange commented on #568
Thanks  @guillaumeeb ! Yes, this looks like the worker jobs are failing directly.
The command is starting with a semicolon now:
[code]
I certainly broke this with my changes, I guess because `env_extra` does not stay `None` due to [this line](https://github.com/dask/dask-jobqueue/blob/50a6f393b17b273d15f1bfc958019a8a0fcc6fa1/dask_jobqueue/htcondor.py#L67).
I'm not sure if this would cause this to

[2022-08-08 18:04] guillaumeeb commented on #568
Closed by #570.

[2022-08-08 18:04] #568 closed

[2022-08-09 13:30] jolange commented on #323
I'd like to give this a shot soon, because I'm eager to have possible changes included in the next release.

@riedel I agree, but to my understanding, a [FutureWarning](https://docs.python.org/3/library/exceptions.html#FutureWarning) would be better suited. In the used terminology, I think we want to warn "end users", not only "other developers".
If I add a `DeprecationWarning` in `Job` and run a

[2022-08-09 19:28] guillaumeeb commented on #323
@jolange :+1 on the `FutureWarning` if you're willing to implement that!

[2022-08-10 05:46] jolange commented on #323
Alright, but I think there was no final decision about the names yet, right?

The proposals up to now were:
`job_extra`: `job_header_extra`
`env_extra`: `job_script_extra`, `prologue`
`extra`: `dask_worker_additional_args`

For `job_extra` I would propose `submit_file_extra`.
For `env_extra` I would propose `job_prologue`. (At least something that indicates that it is run *before*.)
The third one

[2022-08-10 09:29] riedel commented on #323
I wonder if job_extra could not be simply kept. For slurm it is the same as  adding command line flags and file should probably not be overemphasized. The sbatch man page  does not know a submit file it is a batch file. So job_extra is somehow neutral IMHO. submit_extra would IMHO also work, but I see limited benefit in renaming. If renaming it would be cool to allow dictionary style arguments lea

[2022-08-10 09:42] jolange commented on #323
Keeping `job_extra` would be fine for me -- I just checked if all Cluster-Classes using it put it in the file, not if the terminology is really suited. By the way, that would also be the most tedious of the three to rename.
What I personally care about is `env_extra`, because I think it is misleading. And `extra` looks like it would be an easy change and it could really be more expresive.

That's

[2022-08-10 10:09] guillaumeeb commented on #323
My 2 cents:
- job_extra --> job_extra_directives. There is a concensus in several batch system for directives. Maybe not with Condor. I'm also okay to leave it untouched.
- env_extra --> job_script_prologue. job_prologue could be misleading for PBS where such a thing exists outside of the main script. Prologue leaves room for an epilogue, which could be useful.
- extra --> worker_extra_args. I thi

[2022-08-11 09:35] MichaelChaoLi-cpu opened #573 "dask-jobqueue for Fujitsu HPC"
In the dask-jobqueue, there are a lot of APIs for supercomputer structures.
However, there is no Fujitsu HPC. Fujitsu structure is widely used in Japan. In the job script, it should be #PJM. Is it possible?

[2022-08-11 13:03] jolange commented on #323
Alright, I started with the renaming of `env_extra` in #575. `job_script_prologue` sounded like a good suggestion.

[2022-08-11 18:26] guillaumeeb commented on #573
Hi @MichaelChaoLi-cpu,

Thanks for rising an issue here!

It's always possible to add new job queuing system implementation in dask-jobqueue. However it needs someone that knows well the underlying job scheduler and can devote time to this implementation. Would you want to give it a try?

[2022-08-12 19:00] #323 closed

[2022-08-12 19:03] guillaumeeb commented on #323
Before I forget what people think about job_extra_directives?

[2022-08-12 19:23] riedel commented on #323
I at least like this name best among the proposed ones. I think even htcondor users can abstract from “commands” to “directives”. It would remove the last bit of ambiguity, I guess. If @jolange has a run, why not ;) Thx btw.

[2022-08-14 04:07] MichaelChaoLi-cpu commented on #573
Hi @guillaumeeb

Thanks for replying. I am not very familiar with this, but I will try to ask the supercomputer sysadmin to support this.

Let me contact him.

Anyway, thanks for your time!

[2022-08-14 06:07] guillaumeeb commented on #551
@desh2608 @TomMaullin do you still face your issues? Without more inputs from you in the following weeks, I'm going to close this issue.

[2022-08-14 06:17] guillaumeeb commented on #517
@PhML, do you have more input on this? Can't you use the `python` kwarg when building your `Cluster` object?

Wihtout any news from you in the following weeks, I'm going to close this issue as stale, but any PR proposing to solve you issue will be welcomed.

[2022-08-14 06:36] guillaumeeb commented on #490
This has been solved thanks to @etejedor here https://github.com/dask/dask-jobqueue/issues/548!

[2022-08-14 06:36] #490 closed

[2022-08-14 07:10] guillaumeeb commented on #471
I'm going to close this issue as I think we discussed all the options and there is no existing workaround currently. Overall, I see only two options for Dask to answer this need:

- Implement the Scheduler as Job feature in dask-jobqueue,
- Implement High availability mechanism in Dask Distributed, which should allow for worker detached state and Scheduler stop and resume.

[2022-08-14 07:10] #471 closed

[2022-08-14 07:12] desh2608 commented on #551
Sorry, I switched to using qsub instead since I had deadlines to meet. As far as I can recall, I was seeing the same error as reported by @TomMaullin.

[2022-08-14 07:12] guillaumeeb commented on #470
Related to #567

[2022-08-15 00:53] MichaelChaoLi-cpu commented on #573
Hi @guillaumeeb

In fact, I have a problem to solve. Can you provide some information about this?
I am training a sklearn.ensemble.RandomForestRegressor
[code]
I tried it on one node (180GB memory, 36 cores) of a cluster (I have 16 these nodes in this cluster), but it failed. However, if I use the node with 360GB and 36 cores, it can run smoothly (This is a different type and I just have one).
So.

[2022-08-15 12:07] jolange commented on #323
I personally would have left it unchanged, but if you both think `job_extra_directives` adds clarity, I can take care of that.

[2022-08-16 10:35] jacobtomlinson commented on #323
I have no strong feelings here, but I don't have much experience with htcondor so maybe that's why.

[2022-08-16 13:14] guillaumeeb commented on #323
As it would be the same keyword for each queuing system, do you find it adapted to those you may know?

[2022-08-16 13:19] guillaumeeb commented on #573
@MichaelChaoLi-cpu, I'm going to delete your last message here. I see you posted the question on Dask Discourse which is really the good place for that. Moreover, this question didn't have anything to do with your first question.

[2022-08-19 07:16] jolange commented on #323
I did not see any objection to `job_extra_directives`, so I assume I can move on with it?

[2022-08-19 07:20] guillaumeeb commented on #323
That would be really nice!

[2022-08-19 11:00] jolange commented on #323
When this is done, should I create an issue to remove the deprecated parameters in a future release?

[2022-08-19 18:25] guillaumeeb commented on #323
Yes please, that would be welcomed!

[2022-08-23 12:10] riedel commented on #323
Just as a general comment regarding the new `job_script_prologue`. I just now had a problem with slurm prologs and I was really surprised to see how many different variants of prologues  there are: https://slurm.schedmd.com/prolog_epilog.html. It all boils down to good documentation in the end, I guess. However, I just now realized how important it was to have "script" in the name. Should be fine.

[2022-08-24 16:50] jeiche commented on #498
We're currently experiencing the exact same issue with our Grid Engine cluster. Losing a job during the use of adaptive scaling with multiple processes (workers) per job results in permanent loss of workers; it seems that no additional job is submitted to replace the lost workers.

[2022-08-25 06:43] jolange opened #578 "Remove deprecated parameters `env_extra`, `extra`, `job_extra`"
The parameters have been renamed in
- #575
- #576
- #577

but are still respected, when the newly named parameters are not set. Deprecation warnings are issued if they are still used.
For context, see also #323.

We still need to decide when to finally remove them: Maybe at a fixed date or in terms of number of releases?

[2022-08-25 10:29] guillaumeeb commented on #578
Thanks @jolange for opening this issue, and thanks again for all you work!

As you've probably seen, release are not quite regular here... So a number of releases could take years.

What I propose is to make a new major release of dask-jobqueue soon (in the coming days or week), version 0.8.0, as a good number of changes has been commited. Then we could agree on a maximum delay before removing the

[2022-08-25 10:37] guillaumeeb commented on #498
Hi @jeiche, not sure it is the same issue since here we're talking about race condition and endless loop when using adaptive mode. We do see new jobs being launched, but almost immediately deleted, is that what you see too?

Anyway, it's a complicated issue to debug, we should look at SpecCluster in Adaptive code from distributed to fix this. Not sure if I'll have the time to try to understand the

[2022-08-26 08:57] jolange commented on #578
Sounds good.

6 months sounds enough to me, personally. Of course, given that the deprecation warning has been included in a published release for some time, which should be the case with your plans for a new release.

[2022-08-29 11:58] guillaumeeb commented on #578
0.8.0 version of dask-jobqueue released today. So this issue will be due in 6 months from now, or at the next major release.

[2022-08-30 05:25] guillaumeeb commented on #551
I'm closing the issue since there is no answer from @TomMaullin. Feel free to reopen if you have new experiments to add.

[2022-08-30 05:25] #551 closed

[2022-08-30 05:30] guillaumeeb commented on #517
Closing this issue as stale for now.

[2022-08-30 05:30] #517 closed

[2022-08-30 05:40] guillaumeeb commented on #431
I'm going to close this issue as it seems it is only a nice to have feature which would involved too many changes in the code.

But if anyone has a smart idea to implement it with few change, I'm fully OK to reopen!

[2022-08-30 05:40] #431 closed

[2022-08-30 06:00] guillaumeeb commented on #407
Closing this issue as stale, and should be fixed once we implement #419.

Another solution would be to manually start a worker from inside the Notebook where SLURMCluster has been used.

[2022-08-30 06:00] #407 closed

[2022-08-30 06:09] guillaumeeb commented on #376
Closing as stale.

[2022-08-30 06:09] #376 closed

[2022-08-30 06:15] guillaumeeb commented on #352
Closing this issue as stale. If any LSF user is around and wants to test this, please comment!

[2022-08-30 06:15] #352 closed

[2022-08-30 06:19] guillaumeeb commented on #321
Closing this: `header_skip` kwarg is implemented, for the rest we should rely on a Jinja template.

[2022-08-30 06:19] #321 closed

[2022-08-30 06:23] guillaumeeb commented on #298
Closing this issue as stale. @Phantom139 feel free to reopen if you intend to work on this.

[2022-08-30 06:23] #298 closed

[2022-08-30 06:26] guillaumeeb commented on #272
We should do this in 0.8.1 has we already prepared a few changes to kwargs.

[2022-08-30 06:30] guillaumeeb commented on #254
Closing this issue as stale. @ofmla if you ever work on this again, feel free to reopen.

[2022-08-30 06:30] #254 closed

[2022-08-30 06:33] guillaumeeb commented on #251
Closing this issue as stale. @hoangthienan95 feel free to reopen if you're still working on this.

[2022-08-30 06:33] #251 closed

[2022-08-30 06:37] guillaumeeb commented on #249
This issue is really outdated, but a problem which looks similar is raised in https://github.com/dask/dask-jobqueue/issues/498.

I'm going to close this one in favor of the other.

[2022-08-30 06:37] #249 closed

[2022-08-30 06:44] guillaumeeb commented on #230
Closing this issue as stale, and there are a lot of different problem in it. The last one raised is the adaptative scalign using resources, but if someone encounters it again, we should open a new issue.

[2022-08-30 06:44] #230 closed

[2022-08-30 06:53] guillaumeeb commented on #205
I think we can do two things to clarify this:
- Update the documentation and examples to explain that for each job queuing system, there are workers kwargs, and job related kwargs.
- For LSF, modify the ncpus and mem kwarg, prefixing them using `job_`.

[2022-08-30 06:56] guillaumeeb commented on #202
We just declared job_extra_directives (see #577) in the JobQueueCluster class. I think we should do the same thing with other args listed above.

[2022-08-30 10:52] guillaumeeb commented on #539
I think this is not true using conda-forge.

[2022-08-30 19:01] jbusecke commented on #407
Awesome. Thanks. And sorry for the radio silence. I am actually not at Princeton anymore, but will keep these tips in mind the next time I work on an HPC!

[2022-08-30 19:10] guillaumeeb commented on #566
So clearly, we're now building Docker images every time in CI, which was added when modifying our Docker images.

So we lost the benefits from #432.

The thing is: how to handle the case where we need to update Docker images, e.g. currently when dropping a Python version?

I think in this case we'll need two PRs:
- One for updating CI environment,
- A second one to check if things are OK in CI or

[2022-08-30 19:17] #324 closed

[2022-08-30 19:17] #539 closed

[2022-08-30 20:10] #566 closed

[2022-08-31 16:55] riedel commented on #539
I was just thinking of doing the same as distributed does with dask: https://github.com/dask/distributed/blob/d72fd2186256651dad63ada1d73b9d4697b573df/continuous_integration/environment-3.9.yaml#L50-L52

[2022-08-31 17:33] guillaumeeb commented on #539
Oh OK, I didn't understand. I think this is not necessary for us, relying on official releases of Dask and Distributed seems the right choice to me.

[2022-09-01 04:11] jasonkena commented on #498
@guillaumeeb I believe I found a solution to the problem ([code](https://github.com/jasonkena/dendrite/blob/d875ebad0e29756e8d3b45e439444d3060762d39/chunk_pipeline/pipelines/pipeline.py#L142)). When adapt kills a worker, it calls scancel on the worker's job, inevitably killing other worker processes under the same job. To circumvent this, `worker_key` must be passed to [Adaptive](https://docs.dask

[2022-09-01 05:18] guillaumeeb commented on #498
That sounds really interesting!

[2022-09-02 20:46] rormseth opened #585 "Suppress "Couldn't detect a suitable IP address" messages on cluster nodes with no internet"

[2022-09-03 17:55] #461 closed

[2022-09-03 18:16] guillaumeeb commented on #585
Hi @rormseth,

I'm not sure this is a dask-jobqueue specific problem. Firs of all, could you try if you get this error when using `LocalCluster` from distributed?

Then, I think it probably comes from your HPC cluster specific network configuration which must blocks something. I'm not saying that your node should have a connection to Internet, this is often not the case in HPC centers. However, I

[2022-09-06 08:23] guillaumeeb commented on #518
Hi @arndt-k,

I finally tried your MCVE, with 6 months old Dask versions:
[code]

On a RHEL 7 system with PBS.

I tried it several times, and never get an error. The adaptive mechanism works as expected.

I tried with only the `Y.persist()`, to check that the in memory data was well sent back and forth to new workers, and then with the `client.map` and `as_completed` part. Workflow was running smo

[2022-09-06 08:23] #518 closed

[2022-09-06 10:25] guillaumeeb commented on #498
Okay, so I clearly reproduce the problem. Using process > 1 and adapt leads to an endless loop of starting a stopping workers and jobs. When activating debug mode, I see a lot of these messages:

[code]

@jasonkena suggestion modify this behavior, but both kwarg must be passed to adapt: `worker_key` and a higher `interval`. Using only `worker_key` is not sufficient. So there is probably something

[2022-09-07 17:46] guillaumeeb commented on #498
On-going investigation here, it seems that it's at the initialization from adaptive mode that the problem is, e.g. when starting the first worker process. The problem occurs when we launch adaptive without any minimum number of workers.

Using:
[code]

Is also a workaround. But you'll always have at least one running job (which is not that bad).

[2022-09-07 18:39] guillaumeeb commented on #498
So if I'm not mistaken, I tracked down the problem to distributed adaptive code. It's a conjunction of two things:
- https://github.com/dask/distributed/blob/main/distributed/scheduler.py#L7562 : the Scheduler always return a target of number of workers to 1 if it has no connected workers.
- https://github.com/dask/distributed/blob/main/distributed/deploy/adaptive_core.py#L194 : In the `recommenda

[2022-09-12 08:07] guillaumeeb commented on #500
@jacobtomlinson could you provide a bit more information on why this `_log` method has been implemented instead of just using `logging` package?

I see it is also indicated

So we should log both the job configuration/directives, and the events like job submission?